[2013-08-19 10:04] agapple opened #1 "otter编译失败，缺少canal-1.0.8-SNAPSHOT包"
目前otter依赖canal未正式发布的版本： 1.0.8-SNAPSHOT

如有编译的需求，请首先下载canal到本地，进行手工编译后，再编译otter

[2013-08-20 01:14] gavinguang opened #2 "执行 mvn compile 时 报错"
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:2.3.2:compile (default-compile) on project shared.push: Compilation failure
[ERROR] /home/xiaoguang/gitxiaoguang/gitsource/otter/shared/push/src/main/java/com/alibaba/otter/common/push/datasource/media/MediaPushDataSource.java:[40,7] 错误: MediaPushDataSource不是抽象的, 并且未覆盖CommonDataSource中的抽象方法getParentLogger()

[2013-08-20 06:38] agapple opened #3 "otter manager链接mysql报otter.CHANNEL doesn't exist!"
错误提示为表找不到.

经确认为mysql中的表名初始化sql中都为小写，而sqlmap文件中全部使用大写。默认mysql设置中开启了大小写敏感，导致出现表不存在错误。

解决；
1.  统一初始化sql和sqlmap文件中的大小写问题
2.  用户修改mysql的my.cnf配置，添加lower_case_table_names = 1配置，关闭大小写敏感

[2013-08-20 07:45] #3 closed, assigned to agapple

[2013-08-20 08:33] agapple opened #4 "windows机器同时启动manager和node时报端口被占用"
默认windows bat脚本manager和node都给写死开启9099 debug端口

解决：
1. manager startup.bat启动debug端口为7009
2. node startup.bat启动debug端口为9099

[2013-08-20 08:34] #4 closed, assigned to agapple

[2013-08-20 08:36] #2 closed, assigned to jht5945

[2013-08-21 03:43] agapple opened #5 "canal保存一次后获取slaveId为NULL"
canal保存一次后获取slaveId为NULL

解决：canal在编辑页面，增加slaveId的数据传递

[2013-08-21 03:44] #5 closed, assigned to agapple

[2013-08-22 06:54] #1 closed, assigned to agapple

[2013-08-27 08:33] wung opened #6 "映射关系列表 》点击源表或者目标表异常"
HTTP ERROR 500
Problem accessing /dataMediaInfo.htm. Reason: Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#398a3257:PerformTemplateScreenValve

Caused by:
com.alibaba.citrus.service.pipeline.PipelineException: Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#398a3257:PerformTemp

[2013-08-29 02:20] yangl opened #7 "缺少otter_canal_version－1.0.9-SNAPSHOT相关的jar包"
缺少otter_canal_version－1.0.9-SNAPSHOT相关的jar包，package缺包了，1.0.8就可以的

[2013-08-29 08:24] agapple opened #8 "同步时选择HTTP协议进行传输，出现json序列化出错"
参见fastjson issue： https://github.com/alibaba/fastjson/issues/72.

原因分析：fastjson在处理streaming解析的时候，针对单个token初始化了一个char数组，默认大小8192。当数据中出现token大于8192时，就会出现类似错误。

解决：
1.  废弃fastjson的序列化，改用自己编码处理数组数据.  先写入length，然后基于streaming模式将数据写出和读入.

[2013-08-29 08:25] #8 closed, assigned to agapple

[2013-08-29 08:34] #6 closed, assigned to nobody

[2013-08-30 02:45] #7 closed, assigned to nobody

[2013-08-30 02:59] agapple opened #9 "准备提交代码到maven仓库，修改jar包内容，允许嵌入式启动managr和node"
准备提交代码到maven仓库，修改jar包内容，允许嵌入式启动managr和node

[2013-08-30 03:06] #9 closed, assigned to agapple

[2013-08-30 09:23] agapple opened #10 "日志页面打开出现异常"
<pre>
Caused by: com.alibaba.otter.manager.biz.common.exceptions.ManagerException: com.alibaba.otter.manager.biz.common.exceptions.ManagerException: com.alibaba.otter.manager.biz.common.exceptions.ManagerException: com.alibaba.otter.manager.biz.common.exceptions.ManagerException: couldn't query any pipeline by pipelineIds:[1]
    at com.alibaba.otter.manager.biz.config.record.impl.LogRecordService

[2013-08-30 09:24] #10 closed, assigned to agapple

[2013-09-04 02:14] gewanbo opened #12 "动态生成表不能自动创建并进行同步"
整个库同步的时候，如果主库创建了新的表，同步就会报错并挂起，报错信息如下：
![image](https://f.cloud.github.com/assets/5343787/1077606/834721dc-1506-11e3-9b90-89d65850b7db.png)

我的实际使用情况是，每日实时数据量比较大，因此程序会根据来源数据的日期，按模板表clone出当日的新表，并开始保存当天的数据。以后每日以此类推。但是otter对clone出来的新表不能支持动态创建表并进行同步。

所以，希望在以后的版本中会看到此功能的支持，辛苦！ 感谢！

[2013-09-04 04:58] agapple opened #13 "添加oracle数据库时，验证失败"
添加oracle数据库时，验证失败，确认为打包时缺少oracle driver包.

原因分析： oracle driver的scope设置了system，打包的时候依赖了assembly，默认处理的scope为runtime，导致oracle driver没有被打包进去

[2013-09-04 05:00] agapple opened #14 "otter发现目标表不存在时提示不够明确"
otter发现目标表，只是抛了一个NullPointException，不够准确，容易误导别人.

解决：增加详细的异常描述

[2013-09-04 05:01] #14 closed, assigned to agapple

[2013-09-04 05:01] #13 closed, assigned to agapple

[2013-09-05 05:51] #12 closed, assigned to agapple

[2013-09-06 07:01] agapple opened #15 "otter报警支持下邮件通知"
支持下邮件报警.

可通过设置otter.properties进行邮件发送：
otter.manager.monitor.email.host = smtp.gmail.com
otter.manager.monitor.email.username =  xxxx
otter.manager.monitor.email.password =   xxxx
otter.manager.monitor.email.stmp.port = 465

[2013-09-06 07:02] #15 closed, assigned to agapple

[2013-09-13 02:35] agapple opened #16 "在没有登陆的情况下zookeeper查看那一项有删除的权限"
在没有登陆的情况下zookeeper查看那一项有删除的权限

[2013-09-13 04:21] agapple opened #17 "manager的视图配置页面，不选择任何字段映射，保存失败"

[2013-09-13 04:22] #17 closed, assigned to agapple

[2013-09-13 05:54] #16 closed, assigned to agapple

[2013-09-13 05:56] agapple opened #18 "映射规则匹配的时候，需要考虑优先策略"
优先策略：
1.  单表/多表配置，优先于正则表配置
2.  如果在同一优先级时，按照映射规则插入的顺序，后者插入的优先.

[2013-09-13 06:31] #18 closed, assigned to agapple

[2013-09-23 09:11] csbird opened #19 "虚拟ip环境下node不能启动"
现象：在使用vip环境的机器上部署node时，manager必须通过vip才能跟该机器通信，也就是在manager中配置node的ip需为vip，这样就导致node在启动时抛异常：manager中配置的vip与node所在机器本机ip（通常为内网ip）不一致，node不能启动。

[2013-09-24 03:19] agapple opened #20 "一张表只有一个字段，且字段为主键，会出现主键冲突异常"
原因分析：
  <=otter4.2.2的版本，针对目标库是全主键的同步，不管是mysql/oracle都不会采用merge sql，直接使用了insert sql.  如果出现重复同步时，就会导致主键约束冲突.

解决：
   测试了下，mysql针对全主键可以采取merge sql，而oracle无法支持.   暂时先解决mysql

[2013-09-24 03:35] #19 closed, assigned to agapple

[2013-09-24 03:35] #20 closed, assigned to agapple

[2013-09-25 10:21] agapple opened #21 "目标库mysql为unsigned类型时，如果开启表结构反查数据会越界"
原因分析：
  目前otter内部通过DdlUtils时，unsigned int会直接返回int，导致之后setInteger(value, type)出现越界

解决：
  将unsigned int转化为bigint进行处理

[2013-09-25 10:31] agapple opened #22 "mysql binary类型特殊字符出现同步失败"
1. 源库存在一字段，对应类型为binary(8)，插入数据unhex('B80A993B3E3A6351').
2. 源库和目标库都为binary(8)，源库插入数据后，同步的目标库出现Data truncation: Data too long for column 'idvisitor' at row 1.  (字符超长)

原因分析：

<pre>
EventColumn[index=2,columnType=1,columnName=idvisitor,columnValue=�
�;>:cQ,isNull=false,isKey=false,isUpdate=true]
</pre>

binary类型在canal中被解决为了char类型，从而导致在同步时使用了PrepareStatement.setString()方法，该方法中会对字符串进行转移处理，比如一个char '\n

[2013-09-25 15:20] #21 closed, assigned to agapple

[2013-09-25 15:21] #22 closed, assigned to agapple

[2013-10-08 02:52] agapple opened #23 "manager启动后输入中文字符出现乱码"
mysql链接设置编码问题，目前建表语句统一为utf-8编码，需要在otter manager与mysql建立链接时也强制使用utf-8编码

[2013-10-08 04:18] #23 closed, assigned to agapple

[2013-10-08 07:31] agapple opened #24 "node页面jmx访问出错"
点击node页面，打开出错，提示为Connection refused to host: 127.0.0.1; nested exception is: java.net.ConnectException: Connection refused

<pre>
Problem accessing /node_info.htm. Reason:

    Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#315fb94a:PerformTemplateScreenValve
Caused by:

com.alibaba.citrus.service.pipeline.PipelineException: Failed to in

[2013-10-08 07:37] #24 closed, assigned to agapple

[2013-10-08 08:31] agapple opened #25 "pipeline定位中状态优化"
pipeline状态定位中，主要描述：未受到canal的数据，不确定canal是否正常工作. (ps. canal内部因为有sink的存在，store获取不到数据，也可能是因为parser未正常工作)

优化：
1. 针对parser无数据状态下，提供心跳数据来确保canal是正常工作的.
2. otter接收到心跳数据，按照机制更新pipeline状态

[2013-10-08 14:43] #25 closed, assigned to agapple

[2013-10-10 06:23] agapple opened #26 "支持bit类型的同步"
配合canal : https://github.com/alibaba/canal/issues/70
支持下mysql bit(64)类型的同步.

需要注意点：mysql bit最多支持64位，中间数据传输时需要按照BigInteger进行处理，同时在调用mysql jdbc driver，不能直接使用Types.BIT，因为driver里将BIT按照setInt处理，所以bit(64)就会出现数据越界.  目前otter中使用Types.DECIMAL处理

[2013-10-10 06:24] #26 closed, assigned to agapple

[2013-10-17 04:56] agapple opened #27 "manager上canal的一些操作约束"
1. canal不能被多个pipeline所依赖，必须是1对1的关系
2. canal在pipeline依赖后，不允许被删除
3. canalinfo页面支持查询当前canal被关联到的pipeline信息

一个canal被多个pipeline依赖的话，会造成pipeline莫名奇妙的数据错乱，数据丢失. 所以需要慎重

[2013-10-17 05:04] #27 closed, assigned to agapple

[2013-10-18 06:03] agapple opened #28 "canal的心跳sql配置约束"
canal配置里如果开启了心跳sql，在otter就会做数据监控，比如超过2个心跳频率的时间没收到过任务binlog数据，就会将pipeline状态修改为定位中.

所以如果canal中配置了select语句，而不是update/delete语句，就不能保证产生固定频率的binlog，从而会出现间歇性的定位中

期望解决：manager上配置canal时做约束，不可配置为select.

[2013-10-18 06:13] #28 closed, assigned to agapple

[2013-10-18 06:15] agapple opened #29 "POSITIONEOUT监控无位点信息的误报"
当第一次启动，一直没有binlog数据，会出现同步进度的位点一直为空，而POSITIONEOUT监控会根据当前时间与位点的更新时间做一个监控，如果同步进度位点为空，则默认使用了0值，导致监控一直出现误报.

处理：忽略位点不存在的报警.

[2013-10-18 06:16] #29 closed, assigned to agapple

[2013-11-01 06:44] scriptguy opened #30 "mysql5.6日期字段无法同步"
版本：otter-4.2.3
os：CentOS release 6.3
mysql：5.6.10-log MySQL Community Server
字段类型：
create_time         | datetime     | YES  |     | NULL    |       |
update_time         | datetime     | YES  |     | NULL    |       |
mysql配置：开启binlog，其他的采用默认配置

配置了一个单向同步channel，源表里有create_time、update_time字段，启动channel同步就会出现挂起，查看日志发现报错，提示时间格式不对，相应的错误日志如下：

pid:3 nid:1 exception:setl:com.alibaba.otter.node.etl.load

[2013-11-01 08:25] #30 closed, assigned to nobody

[2013-11-01 08:49] agapple opened #31 "otter同步配置为反查数据库模式，遇到特殊时间类型jdbc driver处理会出现异常"
比如mysql中的timestamp类型，值为：0000-00-00 00:00:00。 因为该类型无法在java通过Timestamp来标示，所以mysql jdbc driver在处理返回结果时会报转换出错.

暂时还没想到好的解决办法，估计要绕过mysql jdbc driver才可以解决，直接取出返回流转为string进行存储.  ps.  mysql jdbc的getString()方法也会先转成Timestamp，然后才是toString

[2013-11-01 08:53] agapple opened #32 "otter配置为双向同步模式，ddl同步会出现死循环同步"
otter为解决循环同步使用的算法：https://github.com/alibaba/otter/wiki/Otter%E5%8F%8C%E5%90%91%E5%9B%9E%E7%8E%AF%E6%8E%A7%E5%88%B6

而ddl同步在mysql binlog中是独立的事务，没有BEGIN/COMMIT事件包围，所以无法进行避免回环控制，只能暂时性在双向同步时别使用ddl同步，单向同步无影响.

[2013-11-20 06:32] #31 closed, assigned to agapple

[2013-11-20 08:05] zing228 opened #33 "zookeeper配置页面使用域名无法通过前台校验"
在“机器管理”-->“zookeeper管理”-->"添加"页面中，使用域名配置zookeeper无法通过前台校验，只能添加IP形式的zookeeper信息

[2013-11-20 13:41] agapple opened #34 "retl_buffer导入数据一直报no such dataMedia异常"
4.2.2<= version <=4.2.6 均有这个问题

主要原因：系统表不应该去映射规则中查找，这异常就是映射规则中没有retl.retl_buffer的配置

[2013-11-20 13:52] #34 closed, assigned to agapple

[2013-12-05 07:52] agapple opened #35 "选择为memory调度模式，出现同步异常后会挂住不再做同步"
同步过程中因为出现内存不足，出现miss data异常，触发了otter进行rollback操作.
在同步日志中出现： [pipelineId = 1,taskName = ProcessSelect] WARN  com.alibaba.otter.node.etl.select.SelectTask - rollback happend , should skip this data and get new message.

然后几个程序就处于一个业务死锁状态.
1.  ProcessSelect一直在等待rollback动作完成

<pre>
"pipelineId = 1,taskName = ProcessSelect" prio=10 tid=0x00007f9cac08c000 nid=0x4240 waiting on condition [0x00007f9cdc7ba

[2013-12-05 07:56] #35 closed, assigned to agapple

[2013-12-06 03:43] #33 closed, assigned to nobody

[2013-12-24 04:04] zing228 opened #37 "blob not null 字段同步问题"
当数据源有blob nut null字段，且字段值为空的时候，otter会把这个字段值解析为null，导致目标库insert失败

[2013-12-24 07:17] agapple opened #38 "otter出现随机端口监听"
node节点上会开启4个端口，3个是根据配置的指定端口，1个端口号每次启动都随机
![1](https://f.cloud.github.com/assets/834743/1804918/619dfd14-6c6b-11e3-9798-71fa2e259e78.jpg)

[2013-12-24 07:18] #38 closed, assigned to agapple

[2013-12-24 07:25] agapple opened #39 "canal删除时清理下zk上的状态信息"
canal删除时清理下zk上的状态信息，需要删除/otter/canal/${destination}下的所有节点

[2013-12-24 07:33] #39 closed, assigned to agapple

[2013-12-24 08:23] #37 closed, assigned to nobody

[2013-12-26 03:18] ccj67 opened #40 "随机出现500错误"
只要隔几秒不去点击，就会出现随机500错误，任何页面都会。。，刷新后就可以，然后马上点击任意页面都正常，但是过几秒不理它又会重现，这是其中一个报错

HTTP ERROR 500

Problem accessing /log_record_list.htm. Reason:

[code]

Caused by:

com.alibaba.citrus.service.pipeline.PipelineException: Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#65b31e03:PerformTemplateScreenValve
    at com.alibaba.citrus.service.pipelin

[2013-12-26 08:17] agapple opened #41 "freedom针对多主键时出现ArrayIndexOutOfBoundsException"
<pre>
2013-12-26 14:00:16.984 [pipelineId = 1,taskName = ExtractWorker] WARN  c.a.otter.node.etl.extract.extractor.FreedomExtractor - process freedom data error EventData[tableId=3,tableName=cm_groups,schemaName=test,eventType=INSERT,executeTime=1388034365000,oldKeys=[],keys=[EventColumn[index=0,columnType=-5,columnName=ID,columnValue=5178,isNull=false,isKey=true,isUpdate=true]],columns=[EventColu

[2013-12-27 03:48] #40 closed, assigned to nobody

[2013-12-30 04:34] #41 closed, assigned to agapple

[2014-01-08 12:22] goodayforme opened #42 "全量同步时tinyint字段类型转换错误"
pid:4 nid:1 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: org.apache.commons.beanutils.ConversionException: Error converting from 'String' to 'BigInteger' For inp

[2014-01-10 07:53] #42 closed, assigned to agapple

[2014-02-06 08:52] niuliwei opened #43 "node-info 页面报错"
[code]

[2014-02-11 19:25] #43 closed, assigned to nobody

[2014-02-17 23:00] niuliwei opened #44 "日期时间报错"
双向同步，开启了数据一致性。
otter 版本 4.2.8.
mysql  版本5.5

pid:3 nid:2 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.dao.DataIntegrityViolationException: Pr

[2014-02-18 03:04] agapple opened #45 "canal配置中即选择了media又配置了分库数据库配置"
media配置只针对单库配置有效，针对多库配置，比如：192.168.85.173:3306;192.168.85.174:3306;
应该直接报错

[2014-02-18 03:09] agapple opened #46 "TimelineTransactionBarrier处理下HEARTBEAT事件，避免多库解析时合并挂起"
需要特殊处理下HEARTBEAT事件

[2014-02-18 12:51] agapple opened #47 "针对时间类型为NULL值时，基于数据库反查模式同步，出现'0000-00-00 00:00:00'"
针对时间类型为NULL值时，基于数据库反查模式同步，出现'0000-00-00 00:00:00'.
主要原因：
1.  之前<=4.2.8版本为解决mysql数据库的0值同步问题，增加了zeroDateTimeBehavior=convertToNull链接参数，针对NULL值转化为'0000-00-00 00:00:00'，针对原本字段为NULL值时，需要做区分

解决办法：时间类型获取为NULL值时，再基于rs.wasNull()判断是否物理数据为NULL

[2014-02-18 13:12] #46 closed, assigned to agapple

[2014-02-18 13:14] #45 closed, assigned to agapple

[2014-02-18 13:55] #47 closed, assigned to agapple

[2014-02-19 06:14] #44 closed, assigned to nobody

[2014-02-20 06:25] niuliwei opened #48 "报函数已经存在。"
请问，这个是什么问题。

2014-02-20 06:22:52.051 INFO  monitorInfo - has suppressed alarm : pid:4 nid:1 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.jdbc.BadSqlGrammarException: StatementCallback; bad SQL gramm

[2014-02-22 07:28] #48 closed, assigned to nobody

[2014-02-22 17:52] niuliwei opened #49 "部分表不需要同步，如何设置"
请问，数据库中部分表不需要同步，如何设置？谢谢。

[2014-02-24 03:14] #49 closed, assigned to nobody

[2014-02-26 08:17] stuart3501 opened #50 "otter node無法啟動，log中一直寫ip not match"
Dear agapple
小弟在測試環境安裝otter時出現非常奇怪的問題
我在no-ip上配置了三台node的domain name
但是怎麼啟動都是看到相同的訊息(在log中)
2014-02-25 22:52:16.550 [main] WARN  Exception in thread "main" java.lang.IllegalArgumentException: node[2] ip[test2.no-ip.biz] port[80] , but your host ip[112.105.XXX.XXX] is not matched!
我已經寫在/etc/hosts中，也確定nslookup指向的domain name是同一個IP
我是否需要新增哪些設定解決這個ERROR
thanks for your help
Best regards

[2014-03-03 05:15] #50 closed, assigned to agapple

[2014-03-06 11:32] #32 closed, assigned to agapple

[2014-03-18 03:39] daveyhook opened #51 "自定义位点失败"
停止同步后，显示的同步位点信息：
![qq20140318113247](https://f.cloud.github.com/assets/6745943/2444247/23ffadfc-ae4e-11e3-820c-6b96e43c23c2.jpg)
{"included":false,"journalName":"mysql-bin.000045","position":57234282,"timestamp":1394780397000}

到对应的canal配置，“位点自定义设置：”
![qq20140318113526](https://f.cloud.github.com/assets/6745943/2444259/68d19a26-ae4e-11e3-8cae-722f57bc1459.jpg)
定义内容为： {"journalName":"mysql-bin.0000

[2014-03-18 07:41] #51 closed, assigned to nobody

[2014-04-26 09:37] davinliuda opened #52 "zookeeper的client的问题"
你好
  @Deprecated
public class ZooKeeperx {

想请教一下这个类为什么被废弃了？

[2014-05-29 15:48] #52 closed, assigned to nobody

[2014-06-16 13:44] agapple opened #53 "channel启动时做ddl/home同步配置检查"
检查内容：
1. ddl同步不允许开启双向，会陷入循环同步
2. 不允许两个方向都设置为主站点，会陷入循环同步

[2014-06-16 13:57] #53 closed, assigned to agapple

[2014-06-18 15:20] agapple opened #54 "删除pipeline时，同步删除对应canal中的cursor，避免canal被另一个pipeline重用时导致cursor错误"
RT.  之前因为pipeline删除后，未清理canal cursor. 导致当前canal被重用时，会出现多个cursor，每次都会选择最小的cursor进行启动，也就是用户不论怎么删除新pipeline的cursor，还是没有效果

[2014-06-18 15:21] #54 closed, assigned to agapple

[2014-06-20 07:42] agapple opened #55 "canal配置允许添加过滤表达式"
配合canal : https://github.com/alibaba/canal/issues/93， 支持下表黑名单

[2014-06-20 07:43] #55 closed, assigned to agapple

[2014-06-26 09:17] hlcompany opened #56 "删除channel时候出现ERROR 500错误"
如题删除channel时候报500错误

![delchannelerror](https://cloud.githubusercontent.com/assets/7994482/3406821/a1241744-fd97-11e3-9f3b-9543a6934434.png)

HTTP ERROR 500

Problem accessing /. Reason:
    Failed to execute action module

Caused by:
com.alibaba.citrus.service.pipeline.PipelineException: Failed to execute action module
    at com.alibaba.citrus.turbine.pipeline.valve.PerformActionValve.invoke(Per

[2014-07-03 12:52] agapple opened #57 "rename ddl引起no such dataMedia"
用户使用一些online ddl操作，大致步骤：
第一步：mytable    复制成   _mytable_new
第二部：mytable    改名   _mytable_old
第三部：_mytable_new  改名  mytable
第四部：删除 _mytable_old

同步映射关系配置中，目前只定义了mytable，因为canal进行表匹配，是将rename的源和目标表，只要其中一个满足映射规则条件，就会返回.  所以在第一步时，otter就会收到rename mytable to _mytable_new的sql，而为了保证表结构的正确性，otter会根据rename的目标库清空对应的表结构cache.   因为映射规则没配置_mytable_new，所以就出现了该问题

[2014-07-03 13:02] #57 closed, assigned to agapple

[2014-07-04 07:00] #56 closed, assigned to nobody

[2014-07-14 02:06] wangkai5000 opened #58 "manager中修改节点IP地址，重新启动节点报错"
manager中修改节点IP地址，重新启动节点报错，具体错误是jvm已经被绑定。解决方法是manager中修改节点的端口号，自认为这个一个BUG

[2014-07-14 02:13] wangkai5000 opened #59 "节点startup.bat脚本有问题"
在window XP环境下，启动节点的脚本用startup.bat。脚本里面有2个问题，
1 、是读取
set /p nid=<%nid%，读取文件内容失败,修改成set /p nid=< ..\conf\nid则能正常读取内容。
2、set conf_dir=%ENV_PATH%..\conf, ，最后conf_dir绝对路径变成D:\otter-otter-4.2.10\..conf，多了一个\。

[2014-08-06 08:17] qiaosang opened #60 "机器管理，远程node查看报错"
Problem accessing /node_info.htm. Reason:

[code]

Caused by:

com.alibaba.citrus.service.pipeline.PipelineException: Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#385bbe:PerformTemplateScreenValve
    at com.alibaba.citrus.service.pipeline.impl.PipelineImpl$PipelineContextImpl.invokeNext(PipelineImpl.java:161)
    at com.alibaba.citrus

[2014-08-11 17:23] yeabow opened #61 "新增zookeeper，添加多个地址时报错"
增加zookeeper时，添加多个地址，地址格式验证正确，单击保存报错。
报错内容见图片。
![qq 20140812012302](https://cloud.githubusercontent.com/assets/2017715/3879758/2f4992bc-217c-11e4-87a4-c436b526b377.png)

[2014-08-15 05:03] #61 closed, assigned to nobody

[2014-08-20 05:11] #60 closed, assigned to nobody

[2014-08-20 05:12] #58 closed, assigned to nobody

[2014-10-15 07:00] derekzhan opened #62 "otter配置好后，在不修改表数据的情况下，如果做一次全量同步？"
如何做一次全量的同步？，我看你的文档中有“自定义数据同步(自 由 门)”  --创建retl_buffer 表，然后执行insert语句，执行完还需要有配置吗？请指导一下。谢谢了

[2014-10-28 08:26] xieyuan1988 opened #63 "mysql 同步 oracle varchar -> nvarchar2 会报错"
mysql 同步oracle  varchar -> nvarchar2 会报错
oracle 把nvarchar2 改成varchar2后成功！
现在oracle 数据库有大量数据，不能把nvarchar2改成varchar2
请问大神 如何解决。

[2014-11-10 07:56] qianfangyuan opened #65 "从MySQL 到 Oracle ：datetime字段同步的时分秒变成零，只留下年月日！"
从MySQL 到 Oracle ：datetime字段同步的时分秒变成零，只留下年月日！
例如：
MySQL：tel_phone表字段为id int，name varchar（100），create_time datetime;
数据为：1，‘老李’，‘2014-10-10 10:10:10’
则同步到Oracle中数据变为：
1，‘老李’，‘2014-10-10 00:00:00’

注：单行同步，并未开启数据一致性校验！
版本：4.2.11
系统：CentOS 6.2

[2014-11-12 04:50] #62 closed, assigned to nobody

[2014-11-12 04:50] #59 closed, assigned to nobody

[2014-11-14 02:48] #63 closed, assigned to nobody

[2014-12-05 08:20] hlcompany opened #66 "同步经常出现find table error"
centos 6.4，otter 4.2.10测试单向同步，从源端导入sql文件时候，经常出现find table error。本来有6个表但同步到  目的端只有3个表。
![image](https://cloud.githubusercontent.com/assets/7994482/5312786/9ca3a9f0-7c9a-11e4-9237-b9ee0ef8c815.png)

[2014-12-30 06:40] alex-17 opened #67 "otter支持Percona吗？"
请问，otter支持Percona吗？

[2015-01-05 04:40] agapple commented on #67
支持的

[2015-01-12 04:30] alex-17 opened #68 "otter支持MariaDB吗？"
请问，otter支持MariaDB吗？

[2015-01-12 09:50] zhouyq commented on #68
看看otter原理，或者做做测试

[2015-01-12 10:04] alex-17 commented on #68
别误会，不是伸手党。只是刚开始接触otter，看官网给出了一个推荐“网友分享”，看到里面有说不支持MariaDB。也在做测试。

[2015-01-13 10:39] agapple commented on #68
现在版本测试支持的，https://github.com/alibaba/canal/wiki/BinlogChange%28MariaDB5%2610%29

[2015-01-13 13:55] alex-17 commented on #68
谢谢，已经过测试

[2015-01-13 13:55] #68 closed

[2015-01-14 07:02] #67 closed

[2015-01-16 08:24] charlygao opened #69 "双A同步，出现字段冲突时数据进入重复死循环"
按照教程配置了双A同步的channel，开启了一致性算法。测试时发现无更新冲突时双向同步均正常，而一旦两个DB同时update一个字段为不同值，这个字段就开始反复在两个值之间变动，产生一个死循环。请问是否是配置有问题？是否有日志有助于排查此问题原因？期待您的回复。

节点布置：
机器A：zookeeper，manager， node1，mysql1
机器B：node2，mysql2

软件版本：
CentOS release 6.3
java version "1.6.0_24"
otter: 4.2.11
zookeeper: 3.4.6
mysql: 5.1.61

manager配置：
![image](https://cloud.githubusercontent.com/assets/7473689/5773312/cfb88c94-9d9b-11e4-9964-be7e93d5

[2015-01-19 04:11] charlygao commented on #69
已解决，问题出在mysql配置中的binlog-do-db=test

双A同步需要对otter的retl表也开启binlog，才能保持一致性。只对业务表开启binlog是不够的。

[2015-01-19 06:31] #69 closed

[2015-01-20 03:24] alex-17 opened #70 "单向同步DDL问题"
你好：
我们存在这样一种情况：在不同库名、不同表名之间单向同步（但双方表结构是完全相同的），经测试数据可以正常同步，但是当遇到DDL语句时就报错，如下：
pid:1 nid:1 exception:setl:com.alibaba.otter.node.etl.transform.exception.TransformException: no support ddl for [test.t1] to [test_bak.t2] , sql :ALTER TABLE `t1` ADD COLUMN `time`  datetime NULL AFTER `c_1`;

请问otter目前支持这种情况的同步吗？

[2015-01-20 04:57] zhouyq commented on #70
把DDL同步选项关掉
Channel管理  >  Pipeline管理  >  编辑Pipeline    高级
![Uploading 屏幕快照 2015-01-20 下午12.55.52.png . . .]()

[2015-01-20 05:55] alex-17 commented on #70
我的意思是：是否支持这种场景的DDL语句更新？谢谢

[2015-01-28 10:32] agapple commented on #70
目前otter暂时不支持这类不同库名的DDL同步，后续可以考虑解析ddl sql来支持

[2015-02-09 10:29] wuyjhp opened #71 "mysql 字符编码是utf8mb4如何支持"
目前otter不支持utf8mb4，如果才能支持utf8mb4
![Uploading 1.png . . .]()

[2015-02-11 02:05] agapple commented on #71
需要升级mysql driver到5.1.26+

2015-02-09 18:29 GMT+08:00 wuyjhp <notifications@github.com>:

[2015-02-15 04:15] tonshine opened #72 "进入配置管理-->canal配置报错"
HTTP ERROR 500

Problem accessing /canal_list.htm. Reason:

    Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#247a9bff:PerformTemplateScreenValve

Caused by:

com.alibaba.citrus.service.pipeline.PipelineException: Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#247a9bff:Perform

[2015-02-15 08:46] agapple commented on #72
对应出错的代码：
public List<Pipeline> listByDestinationWithoutOther(String destination) {
Assert.assertNotNull(destination);
----
1. 请检查下是否有手工操作过数据库
2. 删除canal配置进行重建

[2015-02-15 09:08] tonshine commented on #72
canal重来没有配置过。

也算没用手工操作过，因为我数据库删除重新导入过。

[2015-02-15 09:11] tonshine commented on #72
对应的是CANAL？

[2015-02-16 02:35] tonshine commented on #72
已解决，果然是数据库表中出现数据，删除了就好了。但是不明白数据怎么来的。

[2015-02-28 14:18] #72 closed

[2015-03-02 11:27] wujianglu opened #73 "点击node节点查看详细时报的500错误"
HTTP ERROR 500

Problem accessing /node_info.htm. Reason:

    Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#5b90905d:PerformTemplateScreenValve
Caused by:

com.alibaba.citrus.service.pipeline.PipelineException: Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#5b90905d:PerformTe

[2015-03-06 02:11] agapple commented on #73
先看 https://github.com/alibaba/otter/issues/60

[2015-03-25 10:45] ericlijm opened #74 "同步异常"
配置了 一个双向同步的channel，数据库都是mysql的 ，刚开始从 a 到 b，从b到a 的pipeline都 可以正常同步，后来发现从b 到 a 的 pipeline 不能正常同步了(从a到b的pipeline还可以正常同步)，有如下异常信息：
jio.IOException: Connection reset by peer
        at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
        at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39)
        at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223)
        at sun.nio.ch.IOUtil.rea

[2015-03-26 06:29] agapple commented on #74
Connection reset by peer.  是被mysql主动关闭链接的异常

[2015-03-31 06:18] towtooth opened #75 "单向同步出错，出错如下"
pid:1 nid:1 exception:canal:city:com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: SimpleDdlParser process query failed. pls submit issue with this queryString: CREATE TABLE performance_schema.cond_instances(NAME VARCHAR(128) not null,OBJECT_INSTANCE_BEGIN BIGINT not null)ENGINE=PERFORMANCE_SCHEMA
Caused by: com.alibaba.otter.

[2015-04-28 01:46] ghqaz3633 opened #76 "ArrayIndexOutOfBoundsException: 0"
manager日志中报如下错误：
pid:49 nid:8 exception:canal:cn8:com.alibaba.otter.canal.parse.exception.CanalParseException: java.lang.ArrayIndexOutOfBoundsException: 0
Caused by: java.lang.ArrayIndexOutOfBoundsException: 0
    at com.alibaba.otter.canal.parse.inbound.mysql.dbsync.SimpleDdlParser.parseTableName(SimpleDdlParser.java:163)
    at com.alibaba.otter.canal.parse.inbound.mysql.dbsync.SimpleDdlParser.p

[2015-04-28 11:04] ljmsxcd opened #77 "otter 启动失败"
在manager->机器管理->node管理界面显示未启动（之前都是正常的，数据也能正常同步），后台报错日志如下：
2015-04-28 09:39:16.124 [main] ERROR c.a.o.s.c.core.impl.DefaultCommunicationClientImpl - call[127.0.0.1:1099] , retry[1]
com.alibaba.dubbo.rpc.RpcException: Invoke remote method timeout. method: acceptEvent, provider: dubbo://127.0.0.1:1099/endpoint?acceptEvent.timeout=50000&client=netty&codec=dubbo&connections=30&iothreads=4&lazy=true&ser

[2015-04-28 12:11] agapple commented on #77
检查下node节点的网络，如果node界面显示为未启动，说明node节点和zookeeper之间的网络出现了中断

[2015-04-28 12:13] agapple commented on #76
请提供ddl解析出错的SQL文本，可以通过show binlog events in 'xxxx' from xx来获取

[2015-04-28 13:25] ghqaz3633 commented on #76
SQL比较长（110行），是关于存储过程的：
use `sc***1`;
CREATE DEFINER=`sc***me`@`%` PROCEDURE `SC_CORE_NODE_SAVE`(IN sc***mePassportId CHAR(32), INOUT nodeId CHAR(32), IN nodeName VARCHAR(255), IN nodeType VARCHAR(255), IN columnId CHAR(32), IN title VARCHAR(512), IN browse TINYINT(1), IN `comment` TINYINT(1), IN promote TINYINT(1), IN moderate TINYINT(1), IN sticky TINYINT(1), IN translate TINYINT(1), IN nodePartN

[2015-04-28 13:41] ghqaz3633 commented on #76
目前是在生产环境出现这个问题，能否先提供一个解决方法，先谢谢大神了

[2015-04-29 04:42] agapple commented on #76
可以重置解析位点，跳到出错日志的下一个事务begin位点

[2015-04-30 01:40] ghqaz3633 commented on #76
跳到出错日志的下一个事务begin位点,报然包同样的错误

[2015-04-30 03:00] agapple commented on #76
1. 重置位点可能没成功
2. 下个位点还有同样sql语句

[2015-04-30 03:06] agapple commented on #76
see issue : https://github.com/alibaba/canal/issues/116

[2015-04-30 03:19] agapple commented on #75
请提供下canal版本，当前1.0.20-SNAPSHOT版本测试没发现该问题

[2015-04-30 03:20] #73 closed

[2015-04-30 03:20] #70 closed

[2015-04-30 03:26] #75 closed

[2015-04-30 04:37] ghqaz3633 commented on #76
位点我已经试过好几个了，还是问题依旧，但是SQL确实都差不多，而且也比较长。
目前是主从出问题，为了保证数据一致，我计划将主库上的数据备份在从库上恢复，重新配置otter。

[2015-04-30 09:47] agapple commented on #76
代码已经提交，可以重新本地打包下canal和otter

在 2015年4月30日 下午12:37，ghqaz3633 <notifications@github.com>写道：

[2015-05-04 08:50] ghqaz3633 commented on #76
现在又报错了：一下为报错日志：
pid:59 nid:8 exception:canal:cn87canal-->84:com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: SimpleDdlParser process query failed. pls submit issue with this queryString: CREATE DEFINER=`sco*erce`@`%` PROCEDURE `SC_CPN_CODES_SAVE_ACTION`(IN cosmosPassportId CHAR(32), IN orderId CHAR(32), IN codeIds TEXT)
BEGIN

[2015-05-05 02:54] agapple commented on #76
see issue : alibaba/canal#116

[2015-05-06 09:03] #76 closed

[2015-05-08 07:29] ghqaz3633 opened #78 "下载错误download_error"
报错日志：
pid:9 nid:1 exception:setl:com.alibaba.otter.node.etl.common.pipe.exception.PipeException: download_error
Caused by: com.alibaba.otter.node.etl.common.io.download.exception.DataRetrieveException: aborted for some configration error.

[2015-05-09 01:42] agapple commented on #78
到node机器上看具体的日志，确认下aria2c是否安装成功+可用

[2015-05-11 02:17] ghqaz3633 commented on #78
aria2c是没有问题的，该问题会导致同步停止，重启node节点后恢复正常，但一段时间后又会出现该报错，同步的数据量大的时候经常出现。具体环境：中美异地机房，双写。

[2015-05-11 04:04] ghqaz3633 commented on #78
报错日志如下，：
2015-05-11 03:54:33.022 [pipelineId = 1,taskName = transformWorker] ERROR com.alibaba.otter.node.etl.transform.TransformTask - [1] transformWork executor is error! data:EtlEventData[currNid=3,nextNid=10,desc=[HttpPipeKey[identity=Identity[channelId=2,pipelineId=1,processId=15316],crc=<null>,key=<null>,url=http://192.168.193.87:9090/download/DbBatch-2015-05-11-11-49-48-2-1-15316.gzip,dataT

[2015-05-11 16:19] agapple commented on #78
java.io.IOException: Cannot run program "aria2c": error=2, No such file or directory.
确认java进程启动时装载的PATH路径中是否包含了aria2c

[2015-05-13 06:33] ZengQiang commented on #71
MySQL数据库驱动升级到5.1.30后, 在选择utf8编码时还是提示字符集不匹配, 但是这个驱动版本是支持utf8mb4的
![qq 20150513142852](https://cloud.githubusercontent.com/assets/5753595/7604969/b49e02a8-f97c-11e4-86cb-386df10031bf.png)

[2015-05-13 08:47] ghqaz3633 commented on #78
感谢，由于安装过程中没有配置aria2c的环境变量，配置后运行两天，该错误一直没有出现过。

[2015-05-13 08:47] #78 closed

[2015-05-15 06:07] ZengQiang commented on #71
5.1.35版本可支持

[2015-05-22 06:38] laopangzhang opened #79 "添加字段报错"
主库中添加一个字段'unionid’，发现日志有如下报错，添加一个字段'unionid’，发现日志有如下报错，

首先是在表里面没有发现这个字段，而后，就说有重复的字段，我返回数据查询，发现从库已经添加这个字段了。但同步channel已经挂起了。不知道是什么原因。

2015-05-21 11:40:49 pid:2 nid:2 exception:setl:com.alibaba.otter.node.etl.transform.exception.TransformException: unionid is not found in Table [name=users; 37 columns] and source : dji_store_production..*

2015-05-21 11:41:48
pid:2 nid:2 exception:setl:com.alibaba.

[2015-05-22 10:11] agapple commented on #79
检查是否配置了双向同步，并且两个方向都开启了DDL同步，关闭其中一个方向的DDL同步

[2015-05-29 03:54] laopangzhang commented on #79
从的一边的ddl都已经关闭，不会同步到主的，另外，后面的加字段就没有报过这个错误，一切都是正常，出一次，不知道什么原因导致的。并且，从库的一边根本 没有ddl的权限。

[2015-05-29 04:01] laopangzhang opened #80 "otter同步出错"
otter一直都是正常工作的，突然一天，报了以下的错误，导致延时一天，我停用以后又 启用，正常同步了。但是很想知道是什么原因导致的。

pid:2 nid:2 exception:setl:com.alibaba.otter.node.etl.common.pipe.exception.PipeException: deserial_error
Caused by: java.io.FileNotFoundException: /app/otter/node/bin/../download/DbBatch-2015-05-28-12-20-12-2-2-715816.gzip (No such file or directory)
at java.io.FileInputStream.open(Native Method)
at java.io.FileInputStream.(FileI

[2015-06-01 02:40] agapple commented on #80
可能是因为网络同步延迟，导致基于aria2c同步的临时文件被删除，建议开启系统self.monitor，可以自动进行重试恢复

[2015-06-19 00:59] Bruce2jiang opened #81 "otter支持文件同步吗"
官网上说otter 支持图片同步，也会支持其他格式文件同步吗

[2015-06-19 00:59] #81 closed

[2015-06-19 01:00] Bruce2jiang opened #82 "otter支持图片以外的文件同步吗"
otter官网说支持图片同步，我想问下：otter支持其他格式文件同步吗 ？

[2015-06-19 01:03] Bruce2jiang opened #83 "otter支持 .doc .xls flv 这些文件同步吗"
otter支持 .doc .xls flv 这些文件同步吗

[2015-06-19 01:04] Bruce2jiang opened #84 "我现在只知道otter可以同步图片，但是otter会支持 .doc .xls flv 这些格式文件同步吗"

[2015-06-19 09:47] agapple commented on #82
重复issue

[2015-06-19 09:47] #82 closed

[2015-06-19 09:47] agapple commented on #83
重复issue

[2015-06-19 09:47] #83 closed

[2015-06-19 09:48] agapple commented on #84
支持文件同步，https://github.com/alibaba/otter/wiki/Otter%E6%89%A9%E5%B1%95%E6%80%A7

[2015-06-30 02:33] #80 closed

[2015-06-30 02:38] #77 closed

[2015-06-30 02:39] agapple commented on #79
Duplicate column name 'unionid'， 可能是otter的自动恢复机制导致出现重复同步，可忽略DDL同步异常跳过

[2015-06-30 02:39] #79 closed

[2015-06-30 02:39] #65 closed

[2015-06-30 02:39] #66 closed

[2015-06-30 02:40] #74 closed

[2015-06-30 02:40] #84 closed

[2015-06-30 06:29] #71 closed

[2015-07-05 03:34] Bruce2jiang opened #86 "生成的gzip文件怎么不能解压"
生成的gzip文件怎么不能解压

[2015-07-05 03:43] Bruce2jiang opened #87 "otter已经生成了DbBatch-2015-05-28-12-20-12-2-2-715816.gzip ，但是我的附件怎么没有生成"

[2015-07-05 05:19] Bruce2jiang commented on #80
laopangzhang 你好，文件怎么配置，把大概思路讲一下

[2015-07-05 13:55] agapple commented on #80
https://github.com/alibaba/otter/wiki/Otter%E6%89%A9%E5%B1%95%E6%80%A7

[2015-07-05 13:55] agapple commented on #86
记得是gzip -d

[2015-07-05 13:55] #86 closed

[2015-07-05 13:55] agapple commented on #87
什么附件？

[2015-07-09 11:20] Bruce2jiang opened #88 "我把zookeeper换成集群，就启动不了了，请帮看下"
HTTP ERROR 500

Problem accessing /channelList.htm. Reason:

    Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#14366f3:PerformTemplateScreenValve
Caused by:

com.alibaba.citrus.service.pipeline.PipelineException: Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#14366f3:PerformTe

[2015-07-09 14:21] agapple commented on #88
otter会在zookeeper存储一些节点信息，更换zookeeper后，需要复制节点数据，或者删除数据库中的channel、pipeline等表的数据内容

[2015-07-09 14:21] #88 closed

[2015-07-09 14:23] agapple commented on #88
或者访问 http://域名/system_reduction.htm，点击一键修复

[2015-07-10 01:40] Bruce2jiang opened #89 "zookeeper linux启动不了，提示如下"
linux:/opt/zookeeper-3.4.5-cdh4.3.0/bin # ./zkServer.sh
JMX enabled by default
Using config: /opt/zookeeper-3.4.5-cdh4.3.0/bin/../conf/zoo.cfg
Usage: ./zkServer.sh {start|start-foreground|stop|restart|status|upgrade|print-cmd}

[2015-07-10 06:53] agapple commented on #89
提示已经很明显了，翻zookeeper文档去

[2015-07-10 06:53] #89 closed

[2015-07-16 00:25] Bruce2jiang opened #90 "我建了一个双向channel，主站点的ddl可以同步到目标库"
我建了一个双向channel，主站点的ddl可以同步到目标库，这样只要在主库增加字段就可以同步到目标库了，但是官网上又说：增加字段要先在目标库增加，然后增加主库，感觉有点迷糊了

[2015-07-16 10:37] Bruce2jiang opened #91 "otter文件同步,紧急！"
我现在用的是FastDFS 分布式文件系统，存储附件的，如果两地部署业务，数据库同步没有问题，但是附件没办法同步，请问对于分布式文件系统附件怎么同步！

[2015-07-17 06:27] agapple commented on #91
基于数据驱动文件同步，需要实现扩展接口.  https://github.com/alibaba/otter/wiki/Otter%E6%89%A9%E5%B1%95%E6%80%A7

[2015-07-17 06:27] #91 closed

[2015-07-18 12:15] Bruce2jiang opened #92 "主键冲突问题"
你好，我在主库创建一条记录，然后在从库 也创建了一条主键一样的记录，然后启动pipeline,发现没有同步，我知道这是因为主键冲突没有同步，但是我想知道，otter 有生成冲突列表吗？否则我不清楚哪些记录主键冲突了 。

[2015-07-20 04:07] Bruce2jiang opened #93 "我 创建了一个zookeeper集群(3个server)，我把其中一个zookeeper停掉了"
我 创建了一个zookeeper集群(3个server)，我把其中一个zookeeper停掉了，但是都是过了3分钟了，node 还没有和其他的zookeeper建立新的临时session ,也不能同步数据了 。

在另外一个zookeeper控制台日志如下 ：

2015-07-20 10:40:51,167 [myid:] - INFO  [NIOServerCxn.Factory:0.0.0.0/0.0.0.0:21
81:NIOServerCnxnFactory@197] - Accepted socket connection from /10.18.224.102:53
794
2015-07-20 10:40:51,167 [myid:] - INFO  [NIOServerCxn.Factory:0.0.0.0/0.0.0.0:21
81:ZooKeeperServer@81

[2015-07-20 05:30] Bruce2jiang opened #94 "otter zookeeper集群 在zoo.cfg还有增加什么配置吗，有这方面的文档吗"

[2015-07-20 05:33] Bruce2jiang commented on #94
我在zoo.cfg 增加下面配置，导致zookeeper都起不来
 server.1=192.168.166.146:2888:3888
server.2=10.17.104.140:2888:3888
server.3=10.18.224.150:2888:3888

[2015-07-20 05:33] Bruce2jiang commented on #94
myid我也设置了

[2015-07-20 10:00] agapple commented on #93
1. 检查zookeeper集群配置
2. 检查页面上node配置的zk节点，是否有填全部的3台机器

[2015-07-20 10:00] #93 closed

[2015-07-20 10:01] agapple commented on #94
参考zookeeper官方配置，咨询性的配置建议别走issue，可以在QQ群里交流

[2015-07-20 10:01] #94 closed

[2015-07-20 10:02] agapple commented on #92
先看wiki ： https://github.com/alibaba/otter/wiki/Otter%E6%95%B0%E6%8D%AE%E4%B8%80%E8%87%B4%E6%80%A7

[2015-07-20 10:02] #92 closed

[2015-07-20 10:02] agapple commented on #87
问题描述不清，关闭

[2015-07-20 10:02] #87 closed

[2015-07-20 10:05] agapple commented on #90
1. 如果不选择同步DDL，现操作目标库，后操作主库
2. 如果选择DDL同步，可以不用操心

[2015-07-20 10:05] #90 closed

[2015-07-22 00:23] Bruce2jiang opened #95 "你好，我有个很关心的问题，我采用的是双A , 两个数据库都写入两个一样记录，请注意这两个记录在业务上不是一条记录"
你好，我有个很关心的问题，我采用的是双A , 两个数据库都写入记录，有一种场景：A库写入的某个记录和B库写入的记录id一样，请注意这两个记录在业务上不是一条记录，只是主键被写成一样了，这种场景怎么处理，我最担心这个问题，会导致两个本来不是一个记录，但是被当成一个记录处理，有什么好的规避办法，是不是要两个库主键生成规则不一样 ？

[2015-07-22 00:24] Bruce2jiang commented on #95
我看了 otter数据一致性文档，但是并没有对我这个问题做出一个很好的解释

[2015-07-22 00:27] Bruce2jiang commented on #95
如果两个数据库都在大量写入，而且otter宕掉了，短期内恢复不了，两个库就会出现很多主键一样，但业务上不应该是一个记录，这怎么处理 ？给我一个好办法，或者是一个补救办法

[2015-07-22 00:32] Bruce2jiang commented on #95
比如用户小张在 A数据库写入一条 ID =400的记录， 用户小王在B库写入一条ID =400的记录，显然这两个记录不是一条记录，只是id一样，而且此时otter宕机了1天，等otter恢复以后，我怎么处理这些新增的id相同的记录 ？ 是不是一定要两个数据库主键规则重新制定：保证两个库主键不会一样 ？ 我的问题您理解了吗 ？

[2015-07-23 01:54] agapple commented on #95
需要自行保证不同业务的主键不重复，否则当做同一条记录处理

[2015-07-24 01:35] Bruce2jiang opened #96 "我在表配置正则表达式 ^(?!(?:test3|test4)$) ，不等于 test3 表和test4, 但是其他表不能同步数据"
我在表配置正则表达式 ^(?!(?:test3|test4)$) ，不等于 test3 表和test4, 但是其他表不能同步数据

[2015-07-24 01:40] Bruce2jiang commented on #96
这个问题很重要

[2015-07-24 01:40] Bruce2jiang commented on #96
对我很重要啊，谢谢

[2015-07-24 07:42] Bruce2jiang opened #97 "otter bug 紧急"
你好
，我配置正则表达式((?!^(test3|test4|test7|test88)$).)*，意思是不同步test3 test4 test7 test88 4个表，这个正则表达式我验证是ok的，但是pipeline一会运行正常，一会挂起，如果运行正常可以同步数据，如果挂起，数据就不能同步了，更糟糕的是，重启channl后，没有同步成功的数据也不能同步了，我觉得这个可能是个otter 的bug，请帮助解决。
pipeline挂起时，异常日志如下 ：
pid:4 nid:5 exception:setl:com.alibaba.otter.node.etl.select.exceptions.SelectException: com.alibaba.otter.shared.common.model.config.ConfigException: no such DataMedia , t

[2015-07-29 10:32] Bruce2jiang opened #98 "我配置正则表达式：((?!^(sb_proinfo)$).)* ，不同步sb_proinfo这个表"
我配置正则表达式：((?!^(sb_proinfo)$).)* ，不同步sb_proinfo这个表，但是每次sb_proinfo有数据写入的时候，otter就会报：pid:18 nid:1 exception:setl:com.alibaba.otter.node.etl.select.exceptions.SelectException: com.alibaba.otter.shared.common.model.config.ConfigException: no such DataMedia , the namespace = edu_jyg2 name = sb_proinfo
    at com.alibaba.otter.node.etl.select.selector.MessageParser.parse(MessageParser.java:209)
    at co

[2015-08-04 03:26] agapple commented on #98
先使用简单正则吧，复杂正则未经过严格测试

[2015-08-13 11:36] Bruce2jiang opened #99 "非常紧急问题，求助"
群主 求助，这个问题已经困扰2周了,我有一个pipeline 的insertcount值不停增长，都已经1,142,065 多了

但实际上只是有很少数据写入数据库的，怎么会有这么多数据传输呢
是不是死循环呢
 帮分析下吧，我真搞不定了啊
 给我一个思路也行

是不是死循环呢

[2015-08-13 11:40] Bruce2jiang commented on #99
补充：我想删除位点，删除多次，删除成功了，但把pipeline在启动，还是退会到原mysqlslave-bin.000017 binlog的位点,后来我在cannl指定新的位点{"journalName":"mysqlslave-bin.000019","position":286289326};   ，在启动pipeline ,发现pipeline 又退回mysqlslave-bin.000017  的某个位点了

[2015-08-13 11:41] Bruce2jiang commented on #99
现象就是位点一直停留在mysqlslave-bin.000017 的某个位点上，而且insertcount 这个值不停增长，都都已经1,142,065 多了

[2015-08-13 11:42] Bruce2jiang commented on #99
真诚希望您帮忙分析一下，真搞不定了，快上线了

[2015-08-14 05:21] agapple commented on #99
之前没遇到过，要看一下现场

[2015-08-14 08:39] sieger2001 opened #100 "全量同步问题，求助"
群主，你好。按照下述操作：
1、主库、从库新建空库。
2、启动channel。这时候主库做ddl、dml从库做dml操作无报错，同步正常。
3、在主库上执行由生产库mysqldump备份的数据。
4、发现channel挂起，出现find table .. error的错误提示。

求指点迷津。

[2015-08-21 05:35] Bruce2jiang opened #101 "疑问：我有一个双向的channel，里面有两个pipeline,我在主库上新增一条记录，观察主库的pipeline的InsertCount增加1，但是奇怪的是我发现pipeline 的InsertCount也增加1"
疑问：我有一个双向的channel，里面有两个pipeline,我在主库上新增一条记录，观察主库的pipeline的InsertCount增加1，但是奇怪的是我发现pipeline 的InsertCount也增加1

[2015-08-21 05:38] Bruce2jiang commented on #101
疑问：我有一个双向的channel，里面有两个pipeline,我在主库上新增一条记录，观察主库-->从库的pipeline的InsertCount增加1，但是奇怪的是我发现从库-->主库pipeline 的InsertCount也增加1

[2015-08-21 05:39] Bruce2jiang commented on #101
这个现象正常吗

[2015-08-21 05:40] Bruce2jiang opened #102 "你好，我测试用的是jdk1.6.0_13,但正式环境是jdk1.6.0_33，发版以后不会导致otter不稳定吧"
你好，我测试用的是jdk1.6.0_13,但正式环境是jdk1.6.0_33，发版以后不会导致otter不稳定吧

[2015-08-26 07:18] agapple commented on #102
我们之前用的是sun jdk 1.6.25版本

[2015-08-26 07:18] agapple commented on #101
不正常，应该出现循环复制了，看不到现场无法定位

[2015-08-27 00:35] Bruce2jiang commented on #101
群主，能不能说下 都哪些操作或者配置可能会导致 循环复制

[2015-08-27 01:53] happytoday opened #103 "同步过程中，目标端数据库所在pc宕机(突然断电)同步过程不能恢复，有什么解决方案吗？"

[2015-08-31 08:39] agapple commented on #103
如果开启了self.monitor配置，断电恢复后，会自行恢复

[2015-09-02 14:09] happytoday commented on #103
你好，查看了一下配置文件，默认都是开启的。又测试了一下，同步还是不能进行啊。

[2015-09-07 07:49] agapple commented on #103
检查错误的日志

[2015-09-15 04:26] zhangkou opened #104 "Otter支不支持代理"
我们现在有两个mysql 数据库:
一个在公司内网mysql 数据库
另外一个使用的是ali RDS mysql云数据库。

otter是否支持代理，我需要公司内网的mysql和ali 云的mysql同步数据，不知道otter是否支持我们的需求，如何配置？

[2015-09-15 07:41] agapple commented on #104
otter自身不提供代理功能，依赖系统本身的饿网络，可以将代理模式设置为全局性，比如VPN.

[2015-09-18 08:07] Bruce2jiang opened #105 "主库出现大量的未关闭句柄，对应linux命令 ： lsof -p 28314|grep CLOSE_WAIT"
你好，我的问题是这样的，我使用otter同步A库（主）和B库数据（从），主库最近一周每天都会出现
大量的未关闭句柄，第二天早上只能重启数据库A,    后来我把B库改为主数据库，A库为从数据库，这时候A库好了，没有出现未关闭句柄，但是B库很快就出现大量未关闭的句柄，请帮忙分析一下 ：

mysqld  28314 mysql 2640u  IPv6           18315102       0t0      TCP linux:mysql->10.17.82.17:58290 (CLOSE_WAIT)
mysqld  28314 mysql 2642u  IPv6           18315130       0t0      TCP linux:mysql->10.17.82.17:58293 (CLOSE_WAIT)
mysqld  28314 mysql 2644u  I

[2015-09-21 01:06] dingding2015 commented on #100
全量同步是如何实现的？可否留下联系方式，指点一下？

[2015-09-21 04:06] agapple commented on #100
find table error主要为源库执行了表删除操作，具体约束可以看下otter faq

[2015-09-22 05:11] dicome commented on #95
这个问题和同步软件无关把，根本问题是你不该生成相同的主键ID啊。双M的情况下，还生成相同主键ID，你怎么都没法合并记录啊，如果你用自增主键的话，可以俩库一个奇数一个偶数。。当然最理想还是从业务上来区分。让应用层来生成主键。

[2015-10-09 09:41] CliffYuan opened #106 "otter不是严格安装事务为单位同步的，应该就会存在部分数据不一致（本身是一个事务的操作），从而导致业务问题。不知道自己是否理解正确，如果是这种情况怎么解决？"

[2015-10-09 11:37] agapple commented on #106
https://github.com/alibaba/otter/wiki/Otter%E6%95%B0%E6%8D%AE%E5%85%A5%E5%BA%93%E7%AE%97%E6%B3%95

看下数据入库算法

[2015-10-19 07:14] CliffYuan commented on #106
意思是通过表权重控制一个批次(batchId)中的执行顺序，从而达到表面上看到的事务可见性。
这并不能控制吧，比方说一个事务分成在两个不同的batch中。

[2015-10-19 12:44] agapple commented on #106
当然没有严格意义上的事务可见性，性能和功能的取舍

[2015-10-24 07:20] #104 closed

[2015-10-29 05:27] ehomeshasha opened #107 "doTwoPhase代码问题"
请教一个问题，
doTwoPhase这个方法里面results.size()和totalRows.size()不一定完全相等，因为逻辑中会过滤空记录，这样可能会造成通知加载完成的位置窜位，代码位置在com.alibaba.otter.node.etl.load.loader.db.DbLoadAction 395和407行，谢谢

[2015-10-30 06:47] agapple commented on #107
目前407行为空方法

[2015-11-07 10:55] wilsonwsong opened #108 "manager里node管理，节点（和manager不在一个机器上）启动后查看node信息报错"
com.alibaba.otter.manager.biz.common.exceptions.ManagerException: java.rmi.NoSuchObjectException: no such object in table

[2015-11-30 03:02] melonboy312 opened #109 "sql语义合并的潜在风险"
我们在项目中使用了DbLoadAction.java和相关代码，主要是用于入库的sql语义合并。测试时发现这样一个case出现问题：
1.insert一条记录
2.delete这条记录并立刻再insert同一id的记录

这样操作后，从库中的记录还是第一次insert的记录。原因是第二步操作的delete和insert被合并了，因此直接执行了insert，但因为id冲突，所以没有执行成功。

当然，线上一般没有这样的sql，不过这是个潜在的风险。

[2015-11-30 03:29] agapple commented on #109
otter针对insert，默认会执行merge sql，针对有pk约束冲突的，第二次的insert会变为update，将当前insert的最新值更新到db中，结果最终还是一致的.

主要考虑原始表中有A,B两条记录，其中有唯一约束a,b两列，现在想交换一下两者位置，一般做法是：update a -> c , update b->a , update c-> b, 因为并行导入顺序不确定性，update会出现乱序，出现约束冲突，规避的办法： delete a ,  delete b , insert b , insert a.  otter会优先确保delete优先于insert执行，insert优先于update执行

[2015-11-30 03:31] #109 closed

[2015-12-02 08:55] melonboy312 opened #110 "update+insert合并在pk被update时存在语义问题？"
主库执行：insert into person values(1, 'houlei', 'test3', '2005-09-09', 'false');

数据同步完成后，执行：
UPDATE person set id=2 where id=1;
insert into person values(1, '2222', 'test3', '2005-09-09', 'false');

主库数据为：
1	2222	test3	2005-09-09	false
2	houlei	test3	2005-09-09	false

从库数据为：
2	houlei	test3	2005-09-09	false

[2015-12-02 14:48] agapple commented on #110
类似主键或者唯一键约束变更，update请直接变更为delete+insert.  因为同一记录并发的特性，顺序问题会导致这样的结果不保证.

[2015-12-03 09:42] #110 closed

[2015-12-03 09:57] melonboy312 opened #111 "EventData的clone方法永远返回null？"
代码如下：
   public EventData clone() {
        EventData data = new EventData();
        data.setTableId(tableId);
        data.setTableName(tableName);
        data.setSchemaName(schemaName);
        data.setDdlSchemaName(ddlSchemaName);
        data.setEventType(eventType);
        data.setExecuteTime(executeTime);
        data.setKeys(cloneColumn(keys));
        data.setColumns(cloneColumn(columns

[2015-12-04 01:35] agapple commented on #111
clone方法一直未使用，已修复

[2015-12-07 03:46] ghqaz3633 opened #112 "Pipeline 报错：NullPointerException"
pid:24 nid:3 exception:setl:com.alibaba.otter.node.etl.select.exceptions.SelectException: java.lang.NullPointerException
at com.alibaba.otter.node.etl.select.selector.MessageParser.parse(MessageParser.java:209)
at com.alibaba.otter.node.etl.select.selector.canal.CanalEmbedSelector.selector(CanalEmbedSelector.java:254)
at com.alibaba.otter.node.etl.select.SelectTask.processSelect(SelectTask.java:23

[2015-12-07 05:53] #111 closed

[2015-12-23 02:30] HashZhang commented on #108
你看看ZK是否配置正常，重新加载ZK参数

[2015-12-25 05:40] agapple commented on #108
看起来是manager调用node的RMI接口报错，尝试重启一次manager再试试

[2015-12-30 08:04] xiejiaguang opened #113 "删除主键上的唯一键，报错"
otter 版本：V4.2.12
问个问题： 列 id 上，有主键：primary key (id)   ,又有一个唯一键 ：unique key id (id)，我删了唯一键 alter table 表  drop index id，然后 channel就挂起了，我在管道pipline处，更改高级特性 跳过 ddl 异常， 但还是挂起，该怎么改呢?
错误信息：
pid:4 nid:2 exception:setl:com.alibaba.otter.node.etl.transform.exception.TransformException: no support ddl for

[2015-12-31 02:24] agapple commented on #113
可以关闭ddl同步

[2016-01-12 07:20] irwinai opened #115 "cana 错误，无法同步数据啊！！！！"
pid:1 nid:1 exception:canal:canal:com.alibaba.otter.canal.parse.exception.CanalParseException: command : 'show master status' has an error! pls check. you need (at least one of) the SUPER,REPLICATION CLIENT privilege(s) for this operation

这是什么情况请问

[2016-01-13 01:28] irwinai opened #116 "请问支持ORACLE到ORACLE之间的双向同步吗？"
请问支持ORACLE到ORACLE之间的双向同步吗？

[2016-01-18 06:34] agapple commented on #115
请下看quickstart，开启binlog记录以及对指定账户授权

[2016-01-18 06:34] #115 closed

[2016-01-18 06:35] agapple commented on #116
不支持

[2016-01-18 06:35] #116 closed

[2016-01-18 09:57] #100 closed

[2016-01-18 09:58] agapple commented on #112
检查一下binlog是否为row模式

[2016-01-18 09:58] #107 closed

[2016-01-18 10:00] agapple commented on #105
没处理过类似问题，最好需要描述下现场以及是否可稳定重现

[2016-01-18 10:00] #103 closed

[2016-01-18 10:00] #95 closed

[2016-01-18 10:01] agapple commented on #96
otter最新版，支持在canal里配置表过滤黑名单

[2016-01-18 10:01] #96 closed

[2016-01-18 10:01] #98 closed

[2016-01-18 10:02] agapple commented on #97
建议使用canal配置里的表过滤黑名单，避免使用复杂正则表达式

[2016-01-18 10:02] #97 closed

[2016-01-18 10:02] #102 closed

[2016-01-18 10:02] #101 closed

[2016-01-18 10:02] #108 closed

[2016-01-18 10:02] #113 closed

[2016-01-18 10:02] #106 closed

[2016-01-19 09:32] wasdlol opened #117 "数据库同步进入死循环。"
两个数据库进行同步，在一边数据库数据发生变化后，同步到另外一边，但是这边数据库数据更新后，也发生了变化，又将数据同步到另一边，这样进入死循环。请问应该怎么解决。初次接触otter，麻烦具体讲解下。谢谢~~~~

[2016-01-22 03:40] agapple commented on #117
一个channel里配置两个pipeline

[2016-01-28 09:54] tzq668766 opened #118 "炫酷网页收集"
不好意思，创建issue错误，对不住了！

[2016-01-28 15:49] #118 closed

[2016-03-01 06:37] FS1360472174 opened #119 "NoSQL 分布式数据库集群扩展问题"
你好，有个分布式数据库问题想请教下。

业务背景：
为多个组织提供服务，组织间业务独立。单个组织用户，业务量可预见。
组织数目在不断增长。

目前想法是：
多个custer 来解决，组织数量增长，目前custer 不能满足，就扩展custer，而不是去扩展Node.
之所以选择不去扩展Node，是单集群，多个Node难以管理。以及增加node存在上限问题。

但目前面临着问题
1.应用程序如何来确定需要访问哪个Cluster,multi-cluster 的环境如何配置

单个Cluster 配置是1个Load balance Server,4 DB Node Server。
有没有在集群层配置一个Load Server,来根据请求分发到具体的Cluster，然后Cluster 的Load Balance 将请求分发给具体的DB Node。
或者应用程序有这个请求映射解决方案。

目前使用的

[2016-03-01 09:44] agapple commented on #119
抱歉，不了解Cloudant，无法给出评价

[2016-03-01 09:44] #119 closed

[2016-03-03 15:05] MarkHsiu opened #120 "AbstractEventProcessor 继承类里，自定义一个数据库连接，Statement.close()函数报错"
自定义一个继承
com.alibaba.otter.node.extend.processor.AbstractEventProcessor
类的子类，在子类中新建了一个自己的数据库连接，在系统运行过程中
Statement.close()所在行，报空指针异常。去掉这行代码后，自定义数据库连接执行的sql插入没有效果。
why happen?

[2016-03-04 03:14] #120 closed

[2016-03-05 10:50] agapple commented on #120
自己已解决了？

[2016-03-07 09:29] MarkHsiu commented on #120
哈，我代码写错了。

2016-03-05 18:51 GMT+08:00, agapple <notifications@github.com>:

[2016-03-17 03:22] rjzou opened #123 "关于文件同步问题"
public FileInfo[] getFileInfo(Map<String, String> rowMap) {
        // 基本步骤：
        // 1. 获取binlog中的变更字段，比如组成文件有多个字段组成version+path
        // 2. 基于字段内容，构造一个文件路径，目前开源版本只支持本地文件的同步.(如果是网络文件，建议进行NFS mount到ndde机器).
        // 3. 返回FileInfo数组，(目前不支持目录同步，如果是目录需要展开为多个FileInfo的子文件)，如果不需要同步，则返回null.
        String path = rowMap.get("FIELD"); //注意为大写
        System.out.println("abc.path"+path);
        File

[2016-03-18 15:03] agapple commented on #123
1. rowMap.get("FIELD"); 这个是需要替换为你自己对应存储
2. 文件同步需要配置为双node，一个node在源端拉取文件，另一个node在目标端写入文件

[2016-03-23 01:11] MarkHsiu opened #124 "node log 提示 no support ddl for drop table"
表创建方式： sql执行语句创建，包含 drop table
操作时间：创建表后执行Channel任务，过很长时间后还是这样
问题：cannal还读取表的创建操作吗？还是说我的配置有问题？
 thinks the answer for someone

[2016-03-23 05:09] agapple commented on #124
otter ddl同步不支持异构处理，库名、表名都要求一致

[2016-03-24 03:20] MarkHsiu commented on #124
thinks

[2016-03-24 03:20] #124 closed

[2016-03-24 08:56] szlaigithub opened #125 "pipeline错误"
2016-03-24 16:51:41.726 [pipelineId = 1,taskName = ProcessTermin] ERROR com.alibaba.otter.node.etl.select.SelectTask - [1] ProcessTermin is error!
org.I0Itec.zkclient.exception.ZkNoNodeException: org.apache.zookeeper.KeeperException$NoNodeException: KeeperErrorCode = NoNode for /otter/canal/destinations/gdcanal/1/mark
	at org.I0Itec.zkclient.exception.ZkException.create(ZkException.java:47) ~[zkcl

[2016-03-24 15:24] mrubbish opened #126 "pipeline一直显示定位中"
pipeline一直显示定位中，查看position 发现有乱码，其中的journalName 显示乱码，数据库用提是mariadb 10.1.10
{"@type":"com.alibaba.otter.canal.protocol.position.LogPosition","identity":{"slaveId":-1,"sourceAddress":{"address":"10.5.5.140","port":3306}},"postion":{"included":false,"journalName":"mysql-bin.000005(sÇ","position":28020,"timestamp":1458801931000}}

[2016-03-25 05:56] agapple commented on #126
数据库binlog文件名建议修改为默认值，别用中文

[2016-03-25 05:57] agapple commented on #125
可以做下重试后即可恢复，比如停用启用

[2016-03-25 10:06] mrubbish commented on #126
binglog都是英文的，没有用到中文
-rw-rw---- 1 mysql mysql      25141 3月  17 11:06 mysql-bin.000001
-rw-rw---- 1 mysql mysql        346 3月  17 11:06 mysql-bin.000002
-rw-rw---- 1 mysql mysql       1474 3月  17 11:06 mysql-bin.000003
-rw-rw---- 1 mysql mysql        346 3月  17 11:06 mysql-bin.000004
-rw-rw---- 1 mysql mysql        346 3月  17 11:27 mysql-bin.000005
-rw-rw---- 1 mysql mysql     470570 3月  18 08:48 m

[2016-03-25 15:45] agapple commented on #126
对应报错的binlog源文件

[2016-03-28 12:02] szlaigithub opened #127 "otter多库同步"
找了好久，都木有找到合适的资料。请大拿给一下思路；otter如何做多个库同步？

[2016-03-28 13:15] agapple commented on #127
先看下wiki，配置多个pipeline

[2016-03-29 01:46] szlaigithub commented on #127
OK! Thanks!

[2016-03-29 04:52] szlaigithub opened #128 "otter 创建删除表"
otter不支持创建和表删除的同步，这个怎么解决；求大拿支招呐

[2016-03-29 05:06] #127 closed

[2016-03-29 05:06] agapple commented on #128
多看wiki，支持的

[2016-03-29 05:06] #128 closed

[2016-03-31 01:36] szlaigithub opened #129 "otter 查看node500"
HTTP ERROR 500

Problem accessing /node_info.htm. Reason:

    Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#73c71319:PerformTemplateScreenValve

Caused by: com.google.common.collect.ComputationException: com.alibaba.otter.manager.biz.common.exceptions.ManagerException: java.rmi.NoSuchObjectException: no such object in table
	at com.goo

[2016-03-31 16:07] agapple commented on #129
看下causedby，也多搜索下历史issue

[2016-04-01 03:13] szlaigithub commented on #129
好的大拿，这个解决了

[2016-04-01 05:13] #129 closed

[2016-04-02 18:19] wanjochan opened #130 "哪个大哥做了otter的docker哟？"
共享下呗！

[2016-04-08 09:00] szlaigithub opened #131 "node提取数据"
大拿，可以直接从node提出数据；注入三方库？

[2016-04-08 13:27] agapple commented on #131
如果只是单纯提取数据请使用canal

[2016-04-11 03:13] szlaigithub commented on #131
我们的案例是这样的，我们从异地将数据同步到本地的数据库；但是我们做了一个hbase，想用hbase从这个架构中的node直接取数据。其实本地可以是canal，只是我们想跳过这一步。直接从已有的架构中取得数据

[2016-04-11 11:00] agapple commented on #131
暂时没有好的办法

[2016-04-12 09:32] szlaigithub commented on #131
好的谢谢

[2016-04-15 04:22] kingzone opened #132 "Canal+otter与MySQL主从复制双向同步实现相同功能吗？"
Canal+otter 实现异地数据同步，与使用MySQL 主从复制两边配置实现的双向同步，有什么不同之处呢？

[2016-04-15 12:01] sadk commented on #130
@wanjochan 找到了没？同求!

[2016-04-15 13:18] wanjochan commented on #130
@sadk   还没呢，如果后面有收集到我就发上来，我只会做些简单镜像，otter还没研究好，所以还没资历自己制作。。。

[2016-04-15 13:20] wanjochan commented on #132
@kingzone  您的问题我觉得这个LINK可以解答大部分：
https://github.com/alibaba/otter/wiki/Faq

[2016-04-18 02:41] rongxuanhub opened #133 "otter编译报错，缺少jar"
缺少如下几个jar文件，请问是什么原因，怎么解决啊？
fitnesse-20100211.jar

canal.inatance.manager-1.0.22-SNAPSHOT.jar
canal.parse.manager-1.0.22-SNAPSHOT.jar
canal.server.manager-1.0.22-SNAPSHOT.jar

[2016-04-18 09:02] agapple commented on #130
制作了之后麻烦共享下吧

[2016-04-18 09:03] agapple commented on #133
优先编译canal项目：https://github.com/alibaba/canal

[2016-04-18 09:12] rongxuanhub commented on #133
已经编译了，fitnesse-20100211.jar一直缺少

[2016-04-19 06:08] rongxuanhub opened #134 "fitnesse-20100211.jar一直缺少"

[2016-04-20 06:02] agapple commented on #134
https://repo1.maven.org/maven2/org/fitnesse/fitnesse/20151230/fitnesse-20151230.pom， maven仓库有对应代码

[2016-04-20 07:12] rongxuanhub commented on #134
没有找到2010的，我用的2011的代替，但是项目还是报错：
Failed to execute goal on project shared.common: Could not resolve dependencies for project com.alibaba.otter:shared.common:jar:4.2.13-SNAPSHOT: Failed to collect dependencies at org.jtester:jtester:jar:1.1.8 -> mockit:jmockit:jar:0.999.10: Failed to read artifact descriptor for mockit:jmockit:jar:0.999.10: Failure to find mockit:mockit:pom:0.999.10 in http://repo.bi

[2016-04-20 08:30] NishikinoMaki commented on #134
http://jtester.googlecode.com/svn/m2/ 这个仓库在墙外，可以使用otter/lib/ 下的install脚本安装到本地仓库

[2016-04-21 03:15] slhu91 opened #135 "otter 高可用方案"
otter 高可用有什么方案解决么？

[2016-04-22 15:30] agapple commented on #135
请多看下wiki: https://github.com/alibaba/otter/wiki/Otter%E9%AB%98%E5%8F%AF%E7%94%A8%E6%80%A7

[2016-04-27 00:57] willin opened #136 "otter canal yugong三者选取问题"
使用场景：

多个异地服务器，包括中国、美国、新加坡、法兰克福等，部分用的是阿里云RDS。为了保证服务的全球化可用，之前做法是触发器、增量同步。

缺点：
1. 实时性比较差
2. 主键冲突导致的数据一致性得不到保证，而且还可能会导致同步失效

目标：
1. 双向同步
2. 实时

感觉canal就目前而言似乎是可以满足需求，但是想深入了解一下这三者的区别，以及有这么几个疑问：
1. 部署的时候，是每个区域都需要，还是只要在一个区域即可？
2. 我看在yugong的介绍目标是支持MySQL和DRDS，那么RDS是不能支持的吗？
3. 实时性怎么样，是否依赖网络环境？
4. 数据库之间的数据冲突（如主键）怎么解决？

最后，求推荐。

[2016-04-27 02:29] agapple commented on #136
https://github.com/alibaba/otter/wiki/Faq , 先把wiki看一遍

[2016-04-27 02:37] willin commented on #136
看过的，下面这张图上的node是数据库的意思？
![image](https://cloud.githubusercontent.com/assets/1890238/14840117/8406a636-0c63-11e6-8867-4b01a983a2aa.png)

描述一下刚才的问题
1. 上图也有部署美国、杭州两个区域，这是一对一同步的部署，如果是多个区域，每个区域都需要部署？
2. 我提交了工单问过，答复为RDS的binlog日志不支持订阅，是不是意味着canal、otter都不可以同步RDS数据库
3和4无补充

[2016-04-27 07:55] agapple commented on #136
canal目前对RDS支持不够友好

[2016-04-29 09:22] fei348926326 opened #137 "自己打包的没有上传canal同步位点信息，急求解决"
自己下载了4.2.13和4.2.12版本的源码，用以下命令打包
mvn clean install -Dmaven.test.skip -Denv=release
之后发布的程序，没有上传同步位点信息到zookeeper。
如果把包换成提供的包则正常。
position 状态 :   无信息

[2016-04-29 10:04] agapple commented on #137
客户端环境问题，没有拿到符合条件的binlog

[2016-05-02 05:39] Hinsteny opened #138 "Dubbo client can not supported string message: HTTP/1.1 400 Bad Request"
Manager启动成功并且配置了Node信息，但是下载配置完Node后，在启动Node时出现这个错误，请问大概是什么原因呢？
`Connection: close in channel: NettyChannel [channel=[id: 0x79777070, /10.2.50.135:17330 => /10.2.50.135:8081]], url: dubbo://10.2.50.135:8081/endpoint?acceptEvent.timeout=50000&client=netty&codec=dubbo&connections=30&heartbeat=60000&iothreads=4&lazy=true&send.reconnect=true&serialization=java&threads=50, dubbo version: 2.5.3, current

[2016-05-02 06:12] Hinsteny commented on #138
已解决，是因为把manager的服务端口配置错了！

[2016-05-02 06:12] #138 closed

[2016-05-02 07:16] Hinsteny opened #139 "日志解析出错：CanalParseException: Unsupported BinlogFormat STATEMENT"
`pid:1 nid:1 exception:canal:canalTest:com.alibaba.otter.canal.parse.exception.CanalParseException: Unsupported BinlogFormat STATEMENT`

![qq 20160502151427](https://cloud.githubusercontent.com/assets/5526657/14949018/d12bad94-1078-11e6-96f1-ab6e468584dd.png)

[2016-05-03 02:33] agapple commented on #139
otter要求binlog模式一定为ROW模式

[2016-05-03 02:36] Hinsteny commented on #139
我设置的源数据库是位于windows上的，对于开启它的bin-log，是在安装的过程中选中设置的，没有找到具体模式设置的位置。
有个问题就是，如果只是从源到目标的同步任务，不开启的目标数据源的bin-log，是否也会出现这个异常信息呢？因为我的目标数据库是出于linux系统，但是没开启bin-log。

[2016-05-03 02:48] agapple commented on #139
要求源库开启binlog，并且设置binlog-format为ROW模式，windows机器请自行搜索下如何配置吧

[2016-05-03 02:50] agapple commented on #105
canal:https://github.com/alibaba/canal/issues/139，估计是这一个问题，请升级使用1.0.22 canal版本

[2016-05-03 02:50] #105 closed

[2016-05-03 02:51] #131 closed

[2016-05-03 02:51] #134 closed

[2016-05-03 02:51] #125 closed

[2016-05-03 02:52] #135 closed

[2016-05-03 02:53] #112 closed

[2016-05-03 02:53] #99 closed

[2016-05-03 02:53] #117 closed

[2016-05-03 02:53] #132 closed

[2016-05-03 02:54] agapple commented on #133
http://jtester.googlecode.com/svn/m2/ 这个仓库在墙外，可以使用otter/lib/ 下的install脚本安装到本地仓库

[2016-05-03 02:54] #133 closed

[2016-05-03 02:54] #126 closed

[2016-05-03 02:54] #123 closed

[2016-05-03 03:04] Hinsteny commented on #139
嗯，找到了
位于：ProgramData\MySQL\MySQL Server 5.5
同样添加
`log-bin=mysql-bin

binlog-format=ROW`

[2016-05-03 03:24] #139 closed

[2016-05-08 05:47] virywei opened #140 "node在windows平台下路径引起的启动错误"
如果node部署路径中存在空格，如部署在Program Files路径下的时候，启动startup.bat时，即时设定了nid，也会提示没有设置nid，需要在startup.bat中将
set /p nid=<%nid_file%
改为
set /p nid=<"%nid_file%"

[2016-05-10 02:34] #140 closed

[2016-05-11 12:23] chengyoucai opened #141 "陷入死循环"
一次性插入100w的数据，一个select node，一个load node。
发现select node的节点没有停止，同时日志不停地循环打印，两个日志文件row_select.log和3.log
row_select.log：
下面5组相同的数据不停的取出。
****************************************************
* Batch Id: [569] ,total : [759] , normal : [25,319] , filter :[-24,560] , Time : 2016-05-11 20:13:34:165
* Start : [mysql-bin.000055:466211829:1462959916000(2016-05-11 17:45:16)]
* End : [mysql-bin.000055:472353902

[2016-05-12 06:18] agapple commented on #141
看下wiki，是否为监控导致重启任务

[2016-05-12 06:35] ghqaz3633 opened #142 "PipeException: deserial_error"
pid:39 nid:18 exception:setl:com.alibaba.otter.node.etl.common.pipe.exception.PipeException: deserial_error
Caused by: com.google.protobuf.InvalidProtocolBufferException: Protocol message was too large. May be malicious. Use CodedInputStream.setSizeLimit() to increase the size limit.
at com.google.protobuf.InvalidProtocolBufferException.sizeLimitExceeded(InvalidProtocolBufferException.java:89)
at

[2016-05-12 09:11] feng36140 opened #143 "求助：otter同步报错"
服务器:nid:1 阿里云数据库服务器 nid：2本地数据库服务器 nid：3本地manager节点
场景：阿里云数据库（nid:1）单向同步到本地数据库服务器（nid：2）
网络这块需开通哪些端口，如何映射？

pid:1 nid:1 exception:setl:com.google.common.collect.ComputationException: org.springframework.jdbc.CannotGetJdbcConnectionException: Could not get JDBC Connection; nested exception is org.apache.commons.dbcp.SQLNestedException: Cannot create PoolableConnectionFactory (Communications link fai

[2016-05-12 10:36] zjunbao opened #144 "数据同步时间字段类型转换问题"
表数据结构：
mysql> desc Province;
+--------------------+------------------+------+-----+-------------------+-----------------------------+
| Field              | Type             | Null | Key | Default           | Extra                       |
+--------------------+------------------+------+-----+-------------------+-----------------------------+
| ProvinceID         | int(10) unsigned | NO   | PRI | N

[2016-05-12 17:07] wing731 opened #145 "请教：跨机房节点同步问题（NAT方式）"
跨机房节点同步问题（NAT方式）

网络结构：
- A机房：
         主DB：10.0.0.1:3306
         node1(S+E）: 10.0.0.2/123.123.123.1: 2088-2090

- B机房：
         从DB: 192.0.0.2:3306
         manager: 192.0.0.3:1099
         node2(T+L): 192.0.0.4:2088-2090
         防火墙:  192.0.0.1/111.111.111.111
                   NAT策略：
                           111.111.111.111:3306-->192.0.0.2:3306（从DB）
                           111.111.111.

[2016-05-13 01:12] chengyoucai commented on #141
未进行任何干预，花费了3-4个小时数据全部完成。只要数据量一大，就很大机会出现相似问题。
如果将100w数据分成10个10w的事务，没再出现同样问题。
对比wiki，并没有设置Position超时监控，错误日志也没有Position超时错误，但错误现象比较像，这个监控是有默认的吗？

[2016-05-13 04:30] agapple commented on #142
Protocol message was too large，看着像是记录过大. pb默认的序列化大小为64 << 20;  // 64MB
一个建议，调小canal的批量参数

[2016-05-13 04:31] agapple commented on #143
请自行研究wiki，了解部署

[2016-05-13 04:53] agapple commented on #144
`EventColumn[index=6,columnType=93,columnName=AddTime,columnValue=1304586845000,isNull=false,isKey=false,isUpdate=true]
EventColumn[index=7,columnType=93,columnName=SystemTime,columnValue=1463044384000,isNull=false,isKey=false,isUpdate=true]`

看一下源库的数据类型

[2016-05-16 01:58] bskllzh opened #146 "NODE节点在LOAD数据，报语法错误，同步链路挂起"
@agapple ，你好。我这使用otter碰到有个问题，想请教下你，看下是什么原因。如下的报错导致同步链路挂起，经调整开启pipeline1跳过LOAD异常，然后重启下同步链路，然后再设置关闭跳过LOAD异常，问题得到解决。对这个现象，我思考了下，如果是带有语法错误的SQL语句，是不会再执行成功的，更不会记录到BINLOG里，不知道是不是OTTER 软件的BUG。

NODE打印日志如下：

pid:1 nid:1 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.n

[2016-05-16 03:00] agapple commented on #146
全pk的表？你这数据有点奇怪啊，update事件，全没有任何字段变更，干预过数据？

[2016-05-16 06:32] bskllzh commented on #146
NODE日志打印就这个SQL语句，没有更多的信息。我让开发人员翻了代码，他们代码中的SQL是正常的UPDATE语句，我也没配置过什么操作，这个很奇怪。

[2016-05-17 08:34] wing731 commented on #145
@agapple 不知道我这2个问题，有方案解决吗？

[2016-05-19 02:09] agapple commented on #145
我不太懂网络nat问题，建议找下网络管理同学

[2016-05-19 02:11] agapple commented on #146
从数据日志来看，只记录了pk，没有看到任何其他字段的变更，建议打开下row_selector日志，看一下拿到binlog的数据内容是啥
···
---Pks
EventColumn[index=0,columnType=12,columnName=applyid,columnValue=HB16051500001,isNull=false,isKey=true,isUpdate=true]
EventColumn[index=5,columnType=12,columnName=redpacket_no,columnValue=9832,isNull=false,isKey=true,isUpdate=true]
---oldPks

---Columns

---Sql
update moonmall.mall_wx_redpacket_apply_details set where (

[2016-05-19 02:11] #143 closed

[2016-05-19 02:11] #142 closed

[2016-05-19 02:14] chengyoucai commented on #141
重试多次后，没有复现。暂时关闭。

[2016-05-19 02:14] #141 closed

[2016-05-19 02:45] wing731 commented on #145
这个不是网络nat的问题。。。。

2016-05-19 10:10 GMT+08:00 agapple <notifications@github.com>:

[2016-05-19 02:48] wing731 commented on #145
这个不是网络nat的问题，是如何获取指定ip的问题。即同一机房节点使用内网ip访问，跨机房的节点使用外网ip范围。而不是单选，不管是同一个机房还是跨机房，只要选了使用外网IP，就全部连外网IP
或者是否可以支持，如果node同时配了内网ip和外网ip，当尝试内网ip无法连的时候，去尝试使用外网ip进行连接。

[2016-05-19 03:30] agapple commented on #145
两者只能选其一

[2016-05-31 03:43] cocia opened #147 "Otter Manager在Chrome中 添加映射关系->源数据表 页面脚本错误"
在浏览器MS IE兼容模式下可以运行。

Chrome中的错误位置参见截图：
![otter-manager-js-bug](https://cloud.githubusercontent.com/assets/6530749/15662590/b3dd76d8-2724-11e6-8966-a0a8036f6293.JPG)

[2016-06-04 14:28] qingcaoyushui opened #148 "no support ddl"
pid:3 nid:7 exception:setl:com.alibaba.otter.node.etl.transform.exception.TransformException: no support ddl for [mysql_src.t_s] to [mysql_des.t_s] , sql :CREATE TABLE `t_s` (
`sid` varchar(50) NOT NULL ,
`sname` varchar(100) NULL ,
PRIMARY KEY (`sid`)
)

这个异常怎么解决， 源数据库创建一张表后就挂了

[2016-06-06 07:26] agapple commented on #148
翻一下历史issue和wiki，DDL只支持源和目标完全一致，包括库名和表名

[2016-06-08 08:18] qingcaoyushui commented on #148
哦，明白了， 谢谢

[2016-06-12 08:33] nickfan opened #149 "批量添加映射关系表单中的sourceId1,sourceId2到底是数据源的名称还是数据源的名称还是其他什么意思？"
批量添加映射关系表单中的sourceId1,sourceId2到底是数据源的名称还是数据源的名称还是其他什么意思？

我用：
[code]
系统老是报：
***批量导入失败，请检查配置文档，可能原因:文档字段缺失或者sourceId不存在***

或者序号尝试都不成功：
[code]
不知道该如何填写？
sourceId1,sourceId2 这个在文档里貌似也找不到说明。

[2016-06-12 08:55] nickfan opened #150 "pid:-1 nid:null exception:cid:1 restart recovery successful for rid:-1"
刚启动服务的时候，后台manager日志会报这个异常：

[code]

**正常现象么？还是说需要做些什么？**

[2016-06-12 09:11] KaimingWan commented on #150
我也碰到这样的情况，作者 wiki里面说：该异常代表channelId = 2，成功发起了一次restart同步任务的操作。 不知道算不算正常~

[2016-06-12 09:40] KaimingWan opened #151 "otter能正常同步，但是过一会channel就会挂起，日志报错表已经存在"
web管理界面上能看到如下日志信息：

日志异常信息一：
[code]

日志异常信息二：
[code]

是什么导致channel会自动挂起？这两个异常是怎么造成的？麻烦看下，谢谢~

[2016-06-13 03:00] agapple commented on #151
估计是因为重复同步导致表已存在异常，可以开启下忽略DDL同步异常

[2016-06-13 03:02] agapple commented on #150
看下FAQ，自动恢复是针对出现node节点不可用，监控发现问题等做的一个自我恢复的尝试，如果是偶发触发一次可以忽略，如果是频繁出现，得找找系统上是否存在一些问题，导致频繁同步失败

[2016-06-13 03:02] agapple commented on #149
这是一个数据源的id序号

[2016-06-13 03:03] heroghost opened #152 "otter有故障转移和告警机制吗？怎么设置"
我搭好otter后，一直出现一些问题。ddl、或者package过大，一出问题就停止服务。所以我想配故障转移和告警机制，便于故障及时处理

[2016-06-13 16:26] agapple commented on #152
看下WIKI里，有设置自动恢复的机制，告警机制目前只能通过邮箱进行报警

[2016-06-16 07:35] jsrgqinbin opened #153 "用otter同步AWS上的RDS库到阿里云的RDS的问题。"
![image](https://cloud.githubusercontent.com/assets/234215/16108763/c00b03c0-33d7-11e6-882e-6881189f0b93.png)

如上图，同步的延迟都是半小时左右。。。。

有人在这样操作？也是这样的问题？或者怎么解决？

[2016-06-16 07:39] jsrgqinbin commented on #153
pid:1 position 705 seconds no update

日志里报这个

到库上去看bin-log日志是一直在添加

| mysql-bin-changelog.089001 | 282311021 |
| mysql-bin-changelog.089002 |    194045 |
| mysql-bin-changelog.089003 |  11817069 |
| mysql-bin-changelog.089004 |  13926151 |
| mysql-bin-changelog.089005 |   9343768 |
| mysql-bin-changelog.089006 |   5194620 |
| mysql-bin-changelog.089007 |   2790886 |
| mysql-bin-changelog.089008 |

[2016-06-16 07:43] jsrgqinbin commented on #153
主库上的bin-log位置的具体信息如下

mysql> SHOW BINLOG EVENTS in 'mysql-bin-changelog.089024' from 1872658 limit 100;
+----------------------------+---------+-------------+-----------+-------------+------------------------------------------------------+
| Log_name                   | Pos     | Event_type  | Server_id | End_log_pos | Info                                                 |
+-----------------------

[2016-06-16 09:47] jsrgqinbin commented on #153
![image](https://cloud.githubusercontent.com/assets/234215/16112536/52c6f3c4-33ea-11e6-923f-e08bff0a6823.png)

上图是日志的内容

[2016-06-17 03:49] KaimingWan commented on #151
确实如此，已经解决，十分感谢。看来执行建表的SQL最好做if exists判断

[2016-06-17 05:20] KaimingWan commented on #153
首先这个manager的日志信息出现是正常的，因为长时间没有捕获到日志变更，默认是10分钟吧。所以会有这个日志信息，你也可以关闭该功能。你现在的情况就是有数据变更 但是没有捕获到，你看看表映射是不是都配好了，相关的表是否都能访问，用户是否有访问表的权限。这是我的理解，你试试看哈~

[2016-06-17 11:16] #151 closed

[2016-06-17 11:16] agapple commented on #153
LS同学理解正确

[2016-06-20 01:52] emperorente commented on #153
请问aws的rds和aliyun的rds走的公网么？

[2016-06-20 02:48] imlazyone opened #154 "延迟时间一直上升，但是同步进度并没有滞后"
在 Channel 的 **同步进度** 菜单里，同步一直在进行中，binlog 并没有出现滞后的现象，一直是在最新的 binlog 上。但是 **延迟时间** 菜单却一直上升，已经超过一天时间了。

Channel 信息：
![image](https://cloud.githubusercontent.com/assets/1668944/16182058/7e650268-36d4-11e6-96fe-6b7e708e146b.png)

延迟时间 截图：
![image](https://cloud.githubusercontent.com/assets/1668944/16182007/2b608f9c-36d4-11e6-829b-d500d1edcca4.png)

请问可能的原因是？

[2016-06-21 07:02] agapple commented on #154
同步出现异常了吧，同步位点关注下是否有前进

[2016-06-21 10:08] KaimingWan opened #155 "监控管理报警不触发以及TPS统计信息不准确问题"
1.吞吐量统计异常
首先我不是很理解这个吞吐量的统计如何理解。这应该是实时的统计吧？TPS（1分钟）这一列的选项在我的实验中没有超过100。而实际上我根据历史吞吐量的统计信息手动计算记录数除以时间可以得到TPS都在3000左右

![temp1](https://cloud.githubusercontent.com/assets/4374015/16225667/6ad7e63c-37da-11e6-8c7a-0478a99e11bf.png)

2.报警系统不触发
设定了相关的报警监控，但是那个超时监控从来没触发。我在延迟时间那个统计信息看到的平均延迟有时候会在秒级，但是超时的报警里面的内容一直是空的

![temp2](https://cloud.githubusercontent.com/assets/4374015/16225760/d336a790-37da-11e6-9c76

[2016-06-21 10:25] KaimingWan opened #156 "otter做同步时吞吐量如何提升？"
针对同机房的单个channel的同步任务，我采用了如下配置。由于对实时性要求不是很高，延迟在60s以内都可以接受，我采用了较大的batch size。对canal也配置了较大的buffer size来提升TPS。主要配置如下：

channel:
Channel序号：	1
Channel名字：	sync-student-table
同步方向：	单向
运行状态：	运行
同步一致性：	基于当前日志变更
同步模式：	行记录同步
是否开启数据一致性：	关闭

canal:
存储机制：	MEMORY
内存存储batch获取模式：	MEMSIZE
内存存储buffer记录数：	262144
内存存储buffer记录单元大小：	1024
HA机制：	HEARTBEAT
是否开启心跳：	false
meta机制：	MIXED
索引机制：	MEMORY_META_FAILBACK
服务端口：	11111
默

[2016-06-21 13:03] imlazyone commented on #154
找到原因了，因为设置的源站是一个 MySQL Slave，数组走向是：
[code]

Slave A 上一直有长时间的 replication delay，Otter 应该是根据 node 机器上的本地时间和最后同步的 binlog 时间比对来显示延迟时间的，所以会有此问题。

[2016-06-21 13:03] #154 closed

[2016-06-22 01:12] duson opened #157 "时不时会报异常，然后就同步不了，产生大量日志"
开始报：
pid:3 nid:3 exception:canal:canal-mkkq:java.io.IOException: Connection reset by peer
	at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
	at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39)
	at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223)
	at sun.nio.ch.IOUtil.read(IOUtil.java:197)
	at sun.nio.ch.SocketChannelImpl.read(SocketChannelImpl.java:379)
	at com.alibaba.otter.

[2016-06-22 03:49] heroghost opened #158 "otter由于磁盘满了产生错误，导致磁盘清理后仍然无法同步"
我的数据库服务器曾经磁盘满过。导致数据库挂了，otter也挂了，虽然后来清理磁盘，重新启动数据库。但是otter还是报磁盘错误，错误消息是这样，请问这种情况怎么恢复啊
pid:1 nid:2 exception:canal:216canal:java.io.IOException: Received error packet: errno = 1236, sqlstate = HY000 errmsg = binlog truncated in the middle of event; consider out of disk space on master; the first event 'mysql-bin.000019' at 349301750, the last event read from './mysql-bin.000019' at 349301987, the las

[2016-06-22 04:09] agapple commented on #157
Could not find first log file name in binary log index file，  binlog被删除了

[2016-06-22 04:11] agapple commented on #156
同步模式： 行记录同步，换成字段同步
检查下目标mysql是否存在性能瓶颈

[2016-06-22 04:13] agapple commented on #155
1. tps监控是1分钟的量，你按平均数计算应该是会有高峰和低峰吧
2. 超时监控你设置的是600秒呢

[2016-06-22 11:58] fanchao916 opened #159 "配置同步的时候，需要MYSQL的权限"
配置同步的时候，需要MYSQL的权限是什么？看很多文档上 GRANT SELECT, REPLICATION SLAVE, REPLICATION CLIENT ON *.* TO 'canal'@'%';这样的权限就够了吗？

[2016-06-23 00:53] duson commented on #157
看了源的二进制日志是有的，我在Canal中使用Piple中的同步进度的position，日志文件名不变，然后删除进度，重启Channel就好了

[2016-06-24 02:13] agapple commented on #159
你这是canal的权限需求，如果是otter同步，需要对所需表的写入权限

[2016-06-24 07:03] fanchao916 commented on #159
那就是使用OTTER同步的时候，目的数据库的权限需要select,create,delete,insert.alter,create等等权限了啊？因为有数据的同步和表结构的修改，对吗？

[2016-06-27 03:17] agapple commented on #159
是的

[2016-06-27 10:22] ninglianjie commented on #79
“otter的自动恢复机制”有相关的资料说明吗？

[2016-06-27 14:19] ch-lgs opened #160 "邮件报警只支持465端口加密smtps？"
是否支持25端口smpt?或者其他端口？
Caused by: javax.net.ssl.SSLException: Unrecognized SSL message, plaintext connection?
        at sun.security.ssl.InputRecord.handleUnknownRecord(InputRecord.java:710) ~[na:1.8.0_91]
        at sun.security.ssl.InputRecord.read(InputRecord.java:527) ~[na:1.8.0_91]
        at sun.security.ssl.SSLSocketImpl.readRecord(SSLSocketImpl.java:973) ~[na:1.8.0_91]
        at sun.securi

[2016-06-28 06:08] agapple commented on #160
端口可以配置的啊

2016-06-27 22:19 GMT+08:00 ch-lgs <notifications@github.com>:

[2016-06-28 06:10] agapple commented on #79
1.  ddl同步流程估计出现过了重复处理，忽略整个DDL同步可以跳过
2. 自动恢复机制可以翻下wiki

2016-06-27 18:22 GMT+08:00 ninglianjie <notifications@github.com>:

[2016-06-28 08:11] ninglianjie opened #161 "大量Binlog Dump线程堆积是什么问题"
![image](https://cloud.githubusercontent.com/assets/1515239/16408384/0d1c00b6-3d4b-11e6-8c32-74d439b936d7.png)

[2016-06-28 09:14] ninglianjie opened #162 "otter支持使用pt-online-schema-change工具改表同步吗"
我在测试过程中，用pt-online-schema-change改表之后，同步就断了，报下面的错误：

`pid:1 nid:2 exception:setl:com.alibaba.otter.node.etl.select.exceptions.SelectException: java.lang.NullPointerException
at com.alibaba.otter.node.etl.select.selector.MessageParser.parse(MessageParser.java:209)
at com.alibaba.otter.node.etl.select.selector.canal.CanalEmbedSelector.selector(CanalEmbedSelector.java:264)
at com.alibaba.otter.node.et

[2016-06-28 12:24] agapple commented on #161
检查下对应的机器的tcp链接状态，是close_wait还是estblish状态？

[2016-06-28 12:25] agapple commented on #162
没测试过，需要分析一下online ddl的一些行为

[2016-06-29 08:11] KaimingWan opened #163 "otter学习源码时缺少依赖包，能发个吗？"
学习源码时很多包都比较难找到，运行otter时有很多依赖上的问题。能否将程序需要的JAR包打个包发我呀？我的EMAIL：344277934@qq.com 十分感谢~

[2016-06-29 08:52] ninglianjie commented on #162
会创建触发器，并且有rename操作。比如：
RENAME TABLE `sbtest`.`sbtest1` TO `sbtest`.`_sbtest1_old`, `sbtest`.`_sbtest1_new` TO `sbtest`.`sbtest1`

[2016-06-29 08:54] ninglianjie commented on #161
用alter改表时报错了，没有设置自动跳过异常DDL，设置后就正常了。

[2016-06-29 08:54] #161 closed

[2016-06-30 02:47] agapple commented on #163
1. mvn clean eclipse:eclipse
2. 下载发布版本的tar包

[2016-06-30 02:47] #163 closed

[2016-06-30 02:49] KaimingWan commented on #156
看过了，确实是目标端的MYSQL 存在LOAD瓶颈，3Q~可以close了^_^

[2016-06-30 02:53] KaimingWan commented on #155
1分钟的TPS量，是否指的是在这一分钟平均的TPS值为多少？如果该值为50，也就是说平均在一分钟有50条事务？我看历史吞吐量，把每条记录当做一个事务，插入100万条记录的话，整个平均的TPS应该有3000左右，但是那个每分钟统计的TPS从来不超过100。是不是该值还要乘以60啊？这样才是真正每分钟的TPS？

[2016-06-30 03:18] #156 closed

[2016-06-30 03:19] agapple commented on #155
看下历史流量统计吧，那是以分钟为单位的

[2016-07-01 07:53] #145 closed

[2016-07-01 07:53] #146 closed

[2016-07-01 07:53] #149 closed

[2016-07-01 07:54] agapple commented on #158
需要重置下binlog位点，重新开启同步

[2016-07-01 07:54] #158 closed

[2016-07-01 07:54] #157 closed

[2016-07-01 07:54] agapple commented on #153
可以使用最新版otter来解决，升级了canal

[2016-07-01 07:54] #153 closed

[2016-07-01 07:55] #148 closed

[2016-07-01 07:55] #159 closed

[2016-07-01 07:55] #152 closed

[2016-07-04 08:38] EternalSpring opened #164 "otter 同步异常- exception:setl:transform miss data with keys"
pid:3 nid:2 exception:setl:transform miss data with keys:[RpcPipeKey[nid=1,identity=Identity[channelId=2,pipelineId=3,processId=16063],time=1467618471020,dataType=DB_BATCH]]

想请教下，这个bug是因为什么导致的？传输丢包？

[2016-07-04 09:57] agapple commented on #164
翻一下https://github.com/alibaba/otter/wiki/Faq

[2016-07-04 09:57] #164 closed

[2016-07-05 01:05] duson commented on #157
问题还没解决阿。可能由于网络暂时几秒的连接不通导致Connection reset by peer，后来网络通了，一直再重试，再不断的报Could not find first log file name in binary log index file，实际Bin-Log是存在的，没被删除。另外，是否能设置一个重试的次数，不能日志太多，数据库或硬盘会被撑爆的

[2016-07-05 07:30] fg-meizhi opened #165 "insert 中文异常"
@agapple 你好，同步时插入中文发生异常

数据库，表，编码均为 utf8，请问是什么原因导致？
另外 ，如何判断是在哪个步骤出现的问题？canal 读取binlog？还是在 node 插入时发生的异常？
![2016-07-05 at 14 42](https://cloud.githubusercontent.com/assets/11486319/16576989/28384bdc-42c5-11e6-9c3e-a6c339eb6ba5.png)
![2016-07-05 at 14 44](https://cloud.githubusercontent.com/assets/11486319/16576991/2db6938e-42c5-11e6-8e7f-3848c687bc73.png)
![2016-07-05 at 15 29](https://cloud.githu

[2016-07-05 08:05] agapple commented on #157
需要查看对应的binlog文件是否存在, show binlog events in 'xxxx' from xxx;

2016-07-05 9:05 GMT+08:00 duson <notifications@github.com>:

[2016-07-05 08:06] agapple commented on #165
canal配置和数据映射配置都设置为UTF-8

2016-07-05 15:31 GMT+08:00 fg-meizhi <notifications@github.com>:

[2016-07-05 08:16] fg-meizhi commented on #165
canal 和数据映射均已是 UTF-8
![Uploading image.png…]()
![Uploading image.png…]()

[2016-07-05 08:16] #165 closed

[2016-07-05 08:17] fg-meizhi commented on #165
canal 和数据映射均已是 UTF-8，依然报错，问题没解决，先别关 issue 啊
![Uploading image.png…]()
![Uploading image.png…]()

[2016-07-05 11:01] ch-lgs commented on #160
缺少证书

[2016-07-05 11:01] #160 closed

[2016-07-05 11:31] ch-lgs opened #166 "双向同步过程中出现的问题"
配置A机房和B机房双向同步（B机房少量数据写入），A为trust source,出现A机房到B机房较为严重的超时，在延时降低的过程中A数据出现回归到已更新成功之前旧数据？请问这有可能是什么原因造成的呢？

[2016-07-05 11:52] ch-lgs commented on #166
pid:2 nid:3 exception:setl:load miss data with keys:[MemoryPipeKey[identity=Identity[channelId=2,pipelineId=2,processId=14281213],time=1467701523657,dataType=DB_BATCH]]
pid:3 nid:4 exception:mainstem:pid:3 canal elapsed 174050 seconds no data

这几个exception比较频繁

[2016-07-05 15:05] ch-lgs commented on #166
是否是因为A机房node频繁GC，导致B机房重新定位到老的日志点，将老数据同步到杭州机房造成的

[2016-07-06 04:15] ch-lgs opened #167 "一致性的疑问"
请问在wiki中提到同步程序能保证数据的最终一致性，但是对于mysql ROW模式下双A模式下update语句（update set column＝column＋value或者update set column＝value）能否保证在有延时的情况下保证双机房数据操作的原子性，如A机房数据操作a-3，B机房数据操作a-3,otter能否保证两边数据最后一致保持a-6,而不是在最终一致性保证下使得两边数据保持a-3的最终一致性？

[2016-07-06 07:18] agapple commented on #167
目前没有做a-6的一致性方案，这个要区分不同业务字段对于合并的处理

[2016-07-06 07:25] agapple commented on #166
从异常来看是因为GC导致临时内存对象数据丢弃，降低同步任务并行量试试

[2016-07-06 09:11] fg-meizhi commented on #150
我的日志是
`pid:-1 nid:null exception:cid:1 stop recovery successful for rid:2`
和
`pid:-1 nid:null exception:cid:1 restart recovery successful for rid:-1`
交替出现的，间隔几分钟出现一次

[2016-07-06 09:11] weikuo0506 opened #168 "首次全量同步自由门相关问题"
线上的业务表和otter的系统表部署在不同的机器上（不同的数据库连接url），我往otter的系统表retl.retl_buffer中写入了需要同步的业务表数据，发现没有触发自由门全量同步。
请教下：是不是必须要求业务表和otter系统表在同一个机器上（同一个DB连接url）才能触发自由门？
开发环境我已经测试ok，唯一的不同就是线上的业务表和retl表在不同机器上而已。谢谢！

[2016-07-06 10:03] agapple commented on #168
必须要在同一个机器上

在 2016年7月6日 下午5:12，weikuo0506 <notifications@github.com>写道：

[2016-07-06 10:29] weikuo0506 commented on #168
ok 多谢！

[2016-07-06 10:29] #168 closed

[2016-07-06 12:21] toratto opened #169 "mysql 到oracle 同步"
现在配置 了 mysql 到oracle的数据同步，但是我在mysql上进行了delete 和update操作。oracle的数据还是没有发生变化。

[2016-07-06 13:05] weikuo0506 opened #170 "首次全量同步（自由门）优化问题"
根据之前问题：https://github.com/alibaba/otter/issues/168
目前首次触发全量同步，要求待同步的业务表和otter系统表必须在同一台机器上才可以，因为”需要从同一个db源上解析到binlog，然后回查对应的数据库“（引自jianghang115邮件回复）。然而实际情况是，业务表一般分散在多个机器上，这样的话就导致无法触发全量同步。
请问：有没有更改或优化的办法？比如，是否可以在retl_buffer表中增加DB连接URL字段，如DBURL，用于标识对应库名表名和主键所在的机器的DB连接；这种方案是否可行？修改难度如何？是否还有其他优化方案？或者其他用于触发首次全量同步的方案？
谢谢！

[2016-07-07 01:58] #167 closed

[2016-07-07 01:58] #166 closed

[2016-07-07 02:05] ch-lgs opened #171 "pid:2 nid:1 exception:mainstem:pid:2 canal elapsed 115200 seconds no data"
请问这个异常的原因是什么，每隔一个多小时会报一次，似乎同步实际排查下来并没有什么问题

[2016-07-07 07:39] duson commented on #157
旧数据已找不到了，下次出现时再查看。
另外请教个问题：
所有的Channel中的Pipeline配置中Select机器可以是同一个机器吗？按道理Load机器因为是具体执行的，所以要不同。但Select源的Bin-log应该所有都一样的。

[2016-07-07 08:05] ch-lgs commented on #171
pipline进行node1切换node2，已经切换成功但是node1间断性产生该报警

[2016-07-11 01:22] jsrgqinbin opened #172 "canel自动把域名换成IP了"
![image](https://cloud.githubusercontent.com/assets/234215/16717436/c73199d2-4748-11e6-9097-510db0950858.png)

因为用的是AWS的RDS，所以给的连接地址是域名，添加到canel里自动转换为IP了，今天发现AWS的RDS域名对应的IP会变换，所以问下canel里能不能设置成域名啊。。。

求解救办法

[2016-07-11 05:39] agapple commented on #150
看我LS的回复

[2016-07-11 05:40] agapple commented on #171
一段时间没有收到binlog，可以开启心跳检查SQL

[2016-07-11 05:40] agapple commented on #169
检查配置，打开详细日志

[2016-07-11 05:41] agapple commented on #170
你可以按照你的理解，提交一个PR给我

[2016-07-11 07:54] fg-meizhi commented on #150
我的两台 node 机器分别在北京和广州，普通办公网络，北京联通，广州电信（网络确实很差，速度最大100k）， Manager 和 zookeeper 在阿里云，load  node 在接收数据 batchdata***.gzip，一个批次几个数据包大小不同，从3M 到15M，大一点的数据包通过 aria2c 接收有时还没有下载完就超时了。
是否一个批次的数据包，有一个下载失败会导致整个任务失败？

[2016-07-11 07:58] agapple commented on #150
调大下process超时监控的阀值

在 2016年7月11日 下午3:54，fg-meizhi <notifications@github.com>写道：

[2016-07-12 08:05] szlaigithub opened #173 "otter目前存在的同步限制"
大大们，在otter目前存在的同步限制中能同步视图？

[2016-07-12 11:05] ch-lgs opened #174 "双向同步过程中ddl的疑问"
在双向同步过程中A、B双写,如果B ddl成功后，A ddl尚未及时执行完毕，是否会产生A数据同步到B数据因为表结构不一致而报错

[2016-07-12 11:30] #174 closed

[2016-07-13 02:57] EternalSpring opened #175 "otter编译的时候maven导入包出错"
maven导入的时候报缺少包canal.instance.manager:1.0.22  canal.parse:1.0.22  canal.server:1.0.22 ，看了下链接，仓库里面的确是没有这个版本的包，想请教下该怎样解决？

[2016-07-13 07:51] EternalSpring commented on #175
拉取了一下最新的代码，已找到.

[2016-07-13 07:51] #175 closed

[2016-07-13 07:53] ch-lgs commented on #162
pt-online-schema-change肯定不能用，大量的数据写入临时表会阻塞同步，另外触发器可能会造成环路，最后的rename table会造成同步端新写入的数据丢失

[2016-07-14 04:10] ninglianjie commented on #162
多谢指点， 不过对于你描述的三个问题，仍然有些疑问：
1. 大量的数据写入临时表，这个可以调整参数，让写入慢一点。
2. otter对触发器不进行同步，应该没有环路的问题。
3. 如果sql语句是按照binlog顺序执行，rename操作并不会造成数据丢失。

[2016-07-21 07:44] dusonchen commented on #173
所有的Channel中的Pipeline配置中Select机器可以是同一个机器吗？按道理Load机器因为是具体执行的，所以要不同。但Select源的Bin-log应该所有都一样的。

[2016-07-21 10:22] weikuo0506 opened #176 "binlog定位问题"
帮nico问个问题，如下：
manage页面日志报错：
pid:1 nid:1 exception:canal:t_order_canal:java.io.IOException: KILL DUMP 361461760 failure:java.io.IOException: ErrorPacket [errorNumber=1094, fieldCount=-1, message=Unknown thread id: 361461760, sqlState=HY000, sqlStateMarker=#]
with command: KILL CONNECTION 361461760
at com.alibaba.otter.canal.parse.driver.mysql.MysqlUpdateExecutor.update(MysqlUpdateExecutor.java:49)

[2016-07-22 06:40] hjjoe1213123 opened #177 "node连接不上zookeeper,实在没找出到底是node问题还是zookeeper问题"
zookeeper.out日志：
2016-07-22 14:20:53,489 [myid:] - INFO  [main:Environment@100] - Server environment:os.name=Linux
2016-07-22 14:20:53,489 [myid:] - INFO  [main:Environment@100] - Server environment:os.arch=amd64
2016-07-22 14:20:53,489 [myid:] - INFO  [main:Environment@100] - Server environment:os.version=3.10.0-327.10.1.el7.x86_64
2016-07-22 14:20:53,489 [myid:] - INFO  [main:Environment@100] -

[2016-07-23 02:38] hjjoe1213123 commented on #177
反复看了别人的教程以为是zookeeper版本问题从3.4.8降到3.4.5也是一样的错误，node就是无法连接上zookeeper无法启动

[2016-07-23 02:43] hjjoe1213123 commented on #177
telnet ip 2181 是通的，能正确连接上去
2016-07-23 10:42:53,329 [myid:] - INFO  [NIOServerCxn.Factory:0.0.0.0/0.0.0.0:2181:NIOServerCnxnFactory@197] - Accepted socket connection from /127.0.0.1:20341
2016-07-23 10:42:56,939 [myid:] - WARN  [NIOServerCxn.Factory:0.0.0.0/0.0.0.0:2181:NIOServerCnxn@354] - Exception causing close of session 0x0 due to java.io.IOException: Len error 1685414498
2016-07-23 10:42:56,9

[2016-07-24 03:29] zhuer0632 commented on #172
写域名会变成私有IP吧, 私有IP跟机器绑定的,重启不变.

[2016-07-24 19:07] ch-lgs opened #178 "关于双向同步的异常"
在双向同步中观察数据库操作日志中，发现会出现select某些字段并且load到对端的数据库进行update。请问这是否是内部的反查的机制？如何关闭？有时候会造成对端数据库回溯到旧数据

[2016-07-26 02:53] agapple commented on #173
1. otter的原理是基于数据库物理表binlog变更进行同步，视图是构建在物理表之上，理论上也是支持的
2. 没懂具体问题，机器可以随意选择，尽可能就近选择原则

[2016-07-26 02:53] #173 closed

[2016-07-26 02:57] agapple commented on #176
这是debug日志输出，第一条的异常可以忽略之，会自动重试

[2016-07-26 02:57] #176 closed

[2016-07-26 02:59] agapple commented on #172
这个应该是otter保存对象时自动转换为了ip

[2016-07-26 03:00] agapple commented on #178
看下Otter一致性方案

[2016-07-26 06:36] Fredwt opened #179 "关于查看node信息连接超时"
你好，
       我在配置其中一台服务器为node时，点击“查看”出现连接超时的报错，但是我发现即便我在填写node信息时全部使用公网地址，甚至我更改了服务器的内网地址，连接超时的报错始终指向172.16.1.106。请问这个是否是哪里有缓存？我已经清空了数据库，并尝试重新添加了node，这台服务器的node始终报这个错，其他node节点正常。另外这台服务器使用的是内网地址NAT到公网地址。报错如下：

Problem accessing /node_info.htm. Reason:

    Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#43d2dc82:PerformTemplateScreenValve
Cau

[2016-07-26 09:15] agapple commented on #179
Connection refused to host: 172.16.1.106; nested exception is:
java.net.ConnectException: Connection timed out

到目标机器上将hostname映射为机器对外的ip

[2016-07-26 09:15] #179 closed

[2016-07-26 09:57] Fredwt commented on #179
你好，你的意思是在172.16.1.106这台node服务器将hostname映射为外网ip对吧，我试过了，没有改变。是什么问题呢？谢谢

[2016-07-26 12:48] Fredwt commented on #179
问题已解决。

[2016-07-27 06:56] hjjoe1213123 commented on #177
但是telnet 请求，包括写了一个简单的socket连接zookeeper，都能连接的上，zookeeper日志也有正确显示有客户端连接，包括注释IPV6，凡是会导致zookeeper出问题的点都测试了，node还是无法连接上

[2016-07-28 06:17] Fredwt opened #180 "双向同步时库select报错"
你好，

我做了双向同步，其中一端的库使用的是阿里云的RDS，做数据同步时，发生node报错，且同步未成功。报错如下：
pid:2 nid:3 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.jdbc.BadSqlGrammarExcept

[2016-07-29 08:00] dusonchen opened #181 "请教个问题：不同Channel之间的Pipeline中的Select机器选择疑问"
所有的Channel中的Pipeline配置中Select机器可以是同一个机器吗？按道理Load机器因为是具体执行的，所以要不同。但Select源的Bin-log应该所有都一样的。

[2016-07-29 08:04] tangcongzhen commented on #172
我也面临这个问题

[2016-07-29 10:03] agapple commented on #180
*SELECT command denied to user 'username'@'10.151.132.116' for table 'retl_mark'**
解决权限的问题

[2016-07-29 10:04] agapple commented on #181
select机器会只有一个node处于工作中

[2016-08-01 04:45] Fredwt commented on #180
这个话很明显我是明白的，但是请问我需要设置otter库的访问权限，username是连接我源库的账号，系统为什么会用username去连otter库呢？而且manager里没有设置这个权限的地方。我已经手都将这个权限加到otter里了，虽然我觉得不应该是这样操作的。在username具备访问otter库的权限的情况下，一样报这个错。我不太理解其中的逻辑，能指点一二吗，谢谢

[2016-08-01 04:59] Fredwt commented on #180
‘retl_mark’表是在manager的retl库里对吗？而不是在需要同步的业务数据库里对吗？

[2016-08-02 01:28] dusonchen commented on #181
不同Channel的Pipeline中的Select机器可以是同一台机器吗？

[2016-08-02 04:11] agapple commented on #180
在业务的数据库里哦

[2016-08-02 04:11] agapple commented on #181
可以的

[2016-08-02 04:52] Fredwt commented on #180
谢谢，已解决

[2016-08-02 04:52] #180 closed

[2016-08-02 12:00] samnss opened #182 "Oracle目标端字段带保留关键字造成写入失败"
并不是什么大问题.

[code]

道理上讲操作者应该提前检查并且避免这类问题,MySQL里level不是关键字,线上库字段名不好改,只能用字段映射的方式解决.

不过otter写入的时候应该也可以改成 "LEVEL" 来规避这个问题.

[2016-08-02 12:30] toratto opened #183 "点击刷新zookeeper 报错"
点击刷新zookeeper 报错
HTTP ERROR 500

Problem accessing /. Reason:

[code]

Caused by:

com.alibaba.citrus.service.pipeline.PipelineException: Failed to execute action module
    at com.alibaba.citrus.turbine.pipeline.valve.PerformActionValve.invoke(PerformActionValve.java:67)
    at com.alibaba.citrus.service.pipeline.impl.PipelineImpl$PipelineContextImpl.invokeNext(PipelineImpl.java:157)
    at com.a

[2016-08-02 13:08] toratto commented on #183
这是因为我自己少装了一个包导致。不好意思了

[2016-08-04 02:08] dusonchen commented on #181
答案是不行的：如果Event Processor：	为SOURCE时，会报错说相关的类找不到

[2016-08-04 07:59] ch-lgs opened #184 "大表删除"
有时需要清理数据，数据量比较多，会阻塞同步，请问有没什么更好的办法？

[2016-08-05 06:59] EternalSpring opened #185 "WiKi上关于node高可用的实现思路"
群主，你好，想向您咨询下WiKi上关于“3. node节点监控原理”这一块的描述，在部署上是否为在同一个Master00库与Master01库双主之间需要部署两条并行的Channel，当其中一条Channel中的某个主机node宕机之后，可以通过仲裁将当前已停止Channel上的同步任务切换到另外一条Channel上呢？这种在开源版本中，数据一致性是否能得到保障？

[2016-08-07 11:11] QuincyChen commented on #177
@hjjoe1213123 解决了吗？我也遇到相同的问题，折腾了很久都没成功啊，怎么办？

[2016-08-07 12:15] QuincyChen commented on #177
zookeeper的日志和otter node的日志都是： IOException: Connection reset by peer.

[2016-08-08 05:31] agapple commented on #184
session变量关闭binlog执行数据订正，然后再开启

[2016-08-08 05:33] agapple commented on #185
可以在一个channel中，选择多个node保证高可用，一个node挂了可以漂移到另一个node上

[2016-08-08 07:38] EternalSpring commented on #185
明白，Select机器与Load机器多选。

[2016-08-09 16:05] yangyang134309 opened #186 "阿里巴巴-数据同步"

[2016-08-10 09:06] agapple commented on #186
什么？

[2016-08-10 09:06] #186 closed

[2016-08-10 09:12] EternalSpring commented on #185
群主，还有一点想请教下，关于manager的高可用，wiki上介绍“需要考虑manager failover(一台manager挂了，需要链接到另一台).” ，关于这点描述，想咨询下，如果不借助VIP、HA这种，仅仅靠配置otter能否实现manager的漂移呢？可以的话具体怎样实现？

[2016-08-11 06:37] agapple commented on #185
node的配置文件里添加多个manager地址，一个挂了自动请求下一个manager

在 2016年8月10日 下午5:12，EternalSpring <notifications@github.com>写道：

[2016-08-11 07:07] hjjoe1213123 commented on #177
@QuincyChen 暂时无法解决，找了N多办法，IPV6都杠上了都没搞定，感觉根本不是zookeeper的问题

[2016-08-12 01:42] EternalSpring commented on #185
嗯嗯，看了代码，是通过建立连接来判断当前manager的可用性，如果部署两套manager+manager的mysql，中间搭建数据同步，mysql实例宕了以后，manager应该是可以建立连接的，但是服务不可用，node是否还有办法实现manager的切换？或者manager的数据源只连一套，在故障时才切换？

[2016-08-16 13:14] buzhirui commented on #183
同样出现这个错误，求解决方案

[2016-08-16 13:15] buzhirui commented on #179
遇到同样的问题，求教解决方案

[2016-08-17 06:04] pan289091315 commented on #170
@agapple 问一下，

- retl库中，全量同步自由门会使用到retl.retl_buffer，还有我看双向同步的双向回环算法也会用到retl.retl_mark。

- 我们现在想把这个retl的库单独部署到一个实例上，不和业务的同一个实例，所有业务共享一份retl库,能否实现？这样在实践中会不会有坑？

- 之前retl在某些同步场景（如，全量同步，双向同步）下必须在每个业务库中冗余的设计的初衷是为了什么？

[2016-08-23 05:35] agapple commented on #170
不能单独部署retl库，因为retl库数据的获取是通过binlog增量，如果单独部署就需要拉两份增量数据了

[2016-08-23 05:59] Shannon1 commented on #60
我也遇到了这个问题，查到了原因是这个节点manager无法连接到mysql，有可能是改hosts造成的；
把manager里面的mysql连接ip改成外网ip就可以了
（如果不行就换hostname、检查mysql用户和密码等方法确认能连上mysql）

[2016-08-23 06:13] pan289091315 commented on #170
@agapple ，这一块的实现具体在工程哪个地方能否指一下？我去看看?

[2016-08-24 09:02] ch-lgs opened #187 "otter DDL"
除了支持MySQL原生的ddl操作，是否还支持第三方其他online ddl工具

[2016-08-24 10:32] CrystalSun1992 commented on #177
两个机器互信

[2016-08-24 11:03] theseusyang commented on #72
在最新版本中依然有这个错误， 如果源数据库出现数据，那是肯定的，因为源数据库都是生产环境, 会不断有新数据更新进来，那这个问题怎么解决呢？

[2016-08-25 08:50] theseusyang opened #188 "Otter 可以设置跳过某些 DML 操作不进行同步吗?"
Hi All:

目前 Otter 可以设置成跳过 DML 操作, 例如对 Delete or Update 不进行同步的设置吗？

谢谢!

[2016-08-25 09:03] pan289091315 commented on #188
@theseusyang  有的可以配置的，在pipeLine的可以配置对ddl是否处理，
![image](https://cloud.githubusercontent.com/assets/6639546/17962884/839da880-6ae5-11e6-83f7-9094c26a9496.png)，具体源代码的实现在MessageParse 里 internParse 方法，对EventType 进行和配置进行判断。

[2016-08-25 09:11] theseusyang commented on #188
DDL 是对数据库、表、字段的增加和删除, 这个Option 也可以对具体 Delete or Update 的数据删除和更新进行支持么？

[2016-08-25 09:12] theseusyang commented on #188
OK, 直接改源码, 控制 EventType 也是一个好办法

[2016-08-25 09:24] pan289091315 commented on #188
哦，那你可以写个扩展具体看otter wiki扩展那一章https://github.com/alibaba/otter/wiki/Otter%E6%89%A9%E5%B1%95%E6%80%A7，把不需要同步的语句返回false,就应该不会同步了。看源码好像是这样的，会加入removeDatas

[2016-08-25 09:25] pan289091315 commented on #188
哦，那你可以写个扩展具体看otter wiki扩展那一章，把不需要同步的语句返回false,就应该不会同步了。看源码好像是这样的，会加入removeDatas[扩展](https://github.com/alibaba/otter/wiki/Otter%E6%89%A9%E5%B1%95%E6%80%A7)

[2016-08-25 09:32] theseusyang commented on #188
OK, 我试一下这个扩展功能

[2016-08-25 11:01] theseusyang opened #189 "怎么添加源库数据表与目标库数据表的映射关系?"
我在数据表配置中添加了很多源库的数据表与目标库的数据表, 但是Otter只有一个表做了映射, 很多其余的表都没有做映射.

在 Otter 平台上, 怎样添加源库数据表与目标库数据表的映射关系?
或者Otter 是自动进行映射的, 不需要人工修改?

谢谢!

[2016-08-26 08:23] agapple commented on #187
这个理论是支持的

[2016-08-26 08:24] agapple commented on #189
看下wiki基本操作文档

[2016-08-27 05:43] theseusyang commented on #189
嗯，多谢！看了一下，发现在 Otter pipeline 没启动时可以添加源数据表和目标数据表的映射关系，但pipeline启动之后不能够添加源数据表和目标数据表的映射关系，没有这个添加按钮。

[2016-08-27 05:47] theseusyang commented on #189
也许可能 Otter 在 runtime 时禁止动态对表关系进行映射。

[2016-08-28 02:46] agapple commented on #189
表映射需要任务停用启用才可以生效，所以做了运行中禁止变更

[2016-08-29 02:11] theseusyang opened #190 "在重启 manager、node或 zookeeper 时， zookeeper 总是出现Error:KeeperErrorCode错误"
zookeeper 报错:
INFO Got user-level KeeperException when processing sessionid:0x156d41852090001 type:create cxid:0xcf zxid:0xb8 txntype:-1 reqpath:n/a Error Path:/otter/channel/1/1/mainstem Error:KeeperErrorCode = NodeExists for /otter/channel/1/1/mainstem (org.apache.zookeeper.server.PrepRequestProcessor)

node 报错:
Caused by: com.alibaba.dubbo.remoting.RemotingException: client(url: dubbo://127.0.0

[2016-08-29 02:13] theseusyang commented on #190
启动 manager 后对 zookpeer 通过系统初始化, 进行一键补全这些问题依然存在。

[2016-08-29 05:04] agapple commented on #190
不要随意kill -9进程，使用正常的关闭脚本

[2016-08-29 05:49] theseusyang commented on #190
OK

[2016-08-29 07:42] muyuren opened #191 "otter运行几天后，关闭manager再启动报错"
otter运行几天后，关闭manager再启动报如下错误：
ERROR org.springframework.web.context.ContextLoader - Context initialization failed
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'endpoint' defined in URL [jar:file:/usr/local/manager/lib/manager.biz-4.2.13.jar!/spring/otter-manager-remote.xml]: Invocation of init method failed; nested exception is com.alibaba.dubbo.rpc.RpcExc

[2016-08-30 03:48] theseusyang opened #192 "Otter 和 Cobar 可以无缝集成使用吗?"
因为在具体业务中涉及到分库分表, 所以使用 Cobar 对 Mysql 进行分库分表.
Otter 同步数据到目标数据库(默认为 Mysql), 那么 Cobar 作为对端的数据库前端代理服务是否也可以?

谢谢!

[2016-08-30 06:42] imlazyone opened #193 "问题：Channel 的「启用」按钮变灰无法点击"
<img width="1043" alt="screen shot 2016-08-30 at 2 37 32 pm" src="https://cloud.githubusercontent.com/assets/1668944/18079027/3f287ab0-6ec1-11e6-8fec-ccd25df4738a.png">

如图所示，今天在切换了传输模式 (HTTP/RPC) 之后保存，出现了这种情况：Channel 的「启用」按钮变成灰色无法点击了，用 Firebug 可以看到有文字提示：process里面还有同步数据

请问一下有没有人遇到过这种情况？应该如何处理？

[2016-08-30 10:52] agapple commented on #191
Caused by: java.net.BindException: Address already in use
没关干净

[2016-08-30 10:52] #191 closed

[2016-08-30 10:52] agapple commented on #192
目前支持不是很好，主要针对cobar这一类在同步update语句时需要带上拆分条件，目前otter只会带上主键

[2016-08-30 10:52] #192 closed

[2016-08-30 10:53] agapple commented on #193
点击推送，同步一下状态到各个机器

[2016-08-30 10:54] theseusyang commented on #192
恩 我这边准备使用 sharding-jdbc 了, 貌似这东西做分库分表更好一些

2016-08-30 18:53 GMT+08:00 agapple <notifications@github.com>:

[2016-08-30 12:31] imlazyone commented on #193
@agapple 谢谢。下午我 copy 了另外一个 Channel 的启用链接， 然后改了一下 channel ID，直接访问那个 URL，就启用成功了 😂

类似这样：
[code]

虽然后来出现了几次挂起，但是最后 Channel 一直启用到了现在。

[2016-08-30 12:31] #193 closed

[2016-08-31 09:43] Shannon1 opened #194 "双向同步时出现No database selected错误"
配置好了双写的同步，向其中一个节点插入一条数据之后，channel状态变成了挂起，对应的pipeline产生了标题为`	EXCEPTION`的日志，内容

at org.springframework.jdbc.support.AbstractFallbackSQLExceptionTranslator.translate(AbstractFallbackSQLExceptionTranslator.java:83)
at org.springframework.jdbc.support.AbstractFallbackSQLExceptionTranslator.translate(AbstractFallbackSQLExceptionTranslator.java:80)
...

其中数据表结构是，其中id是自增键
[code]

[2016-08-31 15:55] zjunbao opened #195 "数据同步如何关闭on duplicate key update语法"
pid:2 nid:1 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.jdbc.UncategorizedSQLException: PreparedStatementCallback; uncategorized SQLExceptio

[2016-09-01 02:19] agapple commented on #195
otter目前对DRDS支持不够好，主要亮点：
1. DRDS的update更新需要带上拆分条件
2.DRDS的insert不能带上拆分条件

[2016-09-01 09:27] hjjoe1213123 commented on #177
就是单机器弄，不存在两个机器互信问题

[2016-09-02 07:31] muyuren opened #196 "系统管理->系统参数->保存时报错"
![qq 20160902152615](https://cloud.githubusercontent.com/assets/3434402/18196108/1d6afd7c-7122-11e6-9b27-6a61a529c277.png)
HTTP ERROR 500

Problem accessing /system_parameter.htm. Reason:

    Failed to execute action module
Caused by:

com.alibaba.citrus.service.pipeline.PipelineException: Failed to execute action module
	at com.alibaba.citrus.turbine.pipeline.valve.PerformActionValve.invoke(Perf

[2016-09-03 08:46] luoyaogui opened #197 "全量同步怎么配置啊？mysql-->oracle，单向同步。没成功过！谢谢"

[2016-09-03 08:47] theseusyang opened #198 "如何在 manager 界面配置全量数据同步(自由门)的设置?"
Hi,
如何在 manager 界面配置全量数据同步(自由门)的设置?
在文档中没看到详细的配置步骤.

谢谢

[2016-09-03 13:00] agapple commented on #197
描述具体的case

[2016-09-03 13:01] agapple commented on #196
--- Cause: com.mysql.jdbc.exceptions.jdbc4.MySQLIntegrityConstraintViolationException: Column 'GMT_CREATE' cannot be null; nested exception is

[2016-09-03 13:02] agapple commented on #198
没有对应的页面操作，是操作业务db，产生数据变更binlog，触发otter处理数据同步

[2016-09-03 13:22] theseusyang commented on #198
OK, 怎么个操作法, 具体是把业务 DB中所有的数据都update 一下?

[2016-09-05 00:52] agapple commented on #198
具体可以wiki上搜索一下

[2016-09-05 00:55] luoyaogui commented on #197
比如
源库DB1.表T1，有a、b、c、d、e、f的数据，目标库DB2.表T2没有数据。现在想把所有的数据都旧数据、新增的数据都进行同步。这应该就是全量了吧。我按照文档中往retl.retl_buffer中插入了insert into retl.retl_buffer(TABLE_ID, FULL_NAME,TYPE,PK_DATA,GMT_CREATE,GMT_MODIFIED) (0,$DB1.T1$,'I',id,now(),now()); 或
insert into retl.retl_buffer(TABLE_ID, FULL_NAME,TYPE,PK_DATA,GMT_CREATE,GMT_MODIFIED) (0,DB1.T1,'I',id,now(),now());，开启同步也没有进行全量同步，只是执行了增量同步。谢谢解答~

[2016-09-05 01:04] luoyaogui commented on #197
您在https://github.com/alibaba/otter/wiki/Manager%E9%85%8D%E7%BD%AE%E4%BB%8B%E7%BB%8D中的’全量同步操作示例‘描述，我有两个地方迷惑，一是insert into retl.retl_buffer(ID,TABLE_ID, FULL_NAME,TYPE,PK_DATA,GMT_CREATE,GMT_MODIFIED) (select null,0,'$schema.table$','I',id,now(),now() from $schema.table$);这个语句在源库中执行吧？二是$schema.table$这个是源库.源表还是目标库.目标表？谢谢解答~

[2016-09-05 03:50] wlcwfwyt commented on #162
只要能保证一端osc,另一端不要DML就没问题,我测过.

[2016-09-05 07:14] theseusyang opened #199 "Otter 现在是否能够把 MySQL 数据同步到 Postgres数据库中?"
Hi @agapple :

Otter 现在是否能够把 MySQL 数据同步到 Postgres数据库中,或者说可以指定Postgres为目标数据源?

谢谢!

[2016-09-05 08:10] dusonchen opened #200 "Node节点网络闪断后报异常"
如果节点的网络短暂（如10秒 - 1分钟）与源数据库的机器连不上，就会重试3次连接网络，然后Kill掉连接。接着网络连接上了，但报错：Could not find first log file name in binary log index file，报3次这样的错后，又Kill掉连接，如此kill掉3次后，最后不停地报：NullPointerException。最后只用停止Channel，删除最后同步位置信息，然后设置canal的“位点自定义设置”，最后启动 Channel 才恢复正常。这种异常非常常见，隔一段时间就发生。使用命令：show binlog events in 'bin-log.00000x' from xxx; 查日志又是存在的。

背景：1个数据源，6个异构的Node节点分布在不同的内网机器，同步3张表，每张表数量在1W左右。上面的异常有2个节点发生了，报错的日志几乎

[2016-09-07 04:38] agapple commented on #200
c99b4b8cd1cae7613aea9491e72762e6c879cdcf

[2016-09-07 04:39] agapple commented on #199
目前不支持，默认只有mysql/oracle，可以对接canal直接写目标库

[2016-09-07 04:40] agapple commented on #197
源库的表

[2016-09-07 05:48] theseusyang commented on #199
好的, 我研究一下

[2016-09-07 09:48] luoyaogui commented on #197
哦，那我再试一试，谢谢

[2016-09-07 12:48] lysu commented on #45
- - 求问为啥这个叫media~

[2016-09-08 03:29] theseusyang commented on #200
2016-09-08 11:23:26.142 [destination = canal2 , address = /xxx.xxx.xxx.xxx:3308 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - prepare to find start position by switch ::1473303427000
2016-09-08 11:23:33.286 [destination = canal2 , address = /xxx.xxx.xxx.xxx:3308 , EventParser] ERROR c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - dump address /xx.xxx.xxx.xxx:33

[2016-09-08 03:29] theseusyang commented on #200
我也出现了类似的异常, Node 节点不停地报这个异常!

[2016-09-08 03:47] theseusyang commented on #200
@dusonchen 怎样删除'最后同步位置信息'? 没有找到同步位置信息的地方.

[2016-09-08 03:54] ch-lgs commented on #162
对应osc如何不进行DML的同步？

[2016-09-08 03:58] wlcwfwyt commented on #162
固定写入点，osc只能在写入点机房执行。写入点的问题，可以制定一个路由策略。

[2016-09-08 08:41] theseusyang opened #201 "自由门全量数据同步, 在 retl_buffer表中插入数据的疑问?"
我想问一下, retl_buffer表中table_id 是指的源表还是目标表, pk_data 是源表的 pk值还是目标表的 pk 值?
插入后的结果, 是像下面的样子?

1   5   target_table_name  I    15  2016-09-08 16:11:58 2016-09-08 16:11:58
2   5   target_table_name   I   16  2016-09-08 16:11:58 2016-09-08 16:11:58
3   5   target_table_name   I   17  2016-09-08 16:11:58 2016-09-08 16:11:58

[2016-09-08 09:22] dusonchen commented on #200
要停止Channel，点击进入Pipeline的“同步进度”Tab页，那里就能删除 Position，要以管理员身份登录

[2016-09-08 09:29] theseusyang commented on #200
@dusonchen OK 多谢

[2016-09-08 10:22] luoyaogui commented on #201
table_id为0，pk_data 是源表的 pk值

[2016-09-08 12:01] theseusyang commented on #201
@luoyaogui 好的, 多谢

[2016-09-08 12:19] theseusyang commented on #201
@luoyaogui table_id 为你要同步的源表在 Otter 中的序号.

[2016-09-09 00:44] luoyaogui commented on #201
有两种方式：一指定table-id（就是manager中表配置的序号）而full-name置null、二使用full-name（schemaName.tableName）而table-id置0。这两种都可以实现。
注释：使用全量同步无需修改配置，要求是先启动channal，然后往retl_buffer中插入要同步的table-id、pk值 或者 full-name、pk值即可。

[2016-09-09 00:46] luoyaogui commented on #197
谢谢，解决了！

[2016-09-12 01:14] dusonchen commented on #200
@agapple 修复一个NPE问题就能解决我的问题了吗？

[2016-09-13 06:47] huangdq1990 opened #202 "org.apache.commons.lang.exception.NestableRuntimeException: find table [XXXX] error"
被拉取的库中存在该表，但otter日志报如下错误
pid:2 nid:1 exception:setl:com.google.common.collect.ComputationException: org.apache.commons.lang.exception.NestableRuntimeException: find table

[km.km_tbl_zookeeper_cluster] error
    at com.google.common.collect.ComputingConcurrentHashMap$ComputingSegment.compute(ComputingConcurrentHashMap.java:167)
    at com.google.common.collect.ComputingConcurrentHashMap$ComputingS

[2016-09-14 02:04] woestler commented on #183
还需要装的是什么包？

[2016-09-19 06:01] agapple commented on #202
检查是否是大小写问题

[2016-09-19 06:02] agapple commented on #201
LS解释非常到位

[2016-09-19 07:15] theseusyang commented on #201
恩，不管别人懂没懂, 反正我听懂了

2016-09-19 14:02 GMT+08:00 agapple <notifications@github.com>:

[2016-09-20 01:29] huangdq1990 commented on #202
大小写都一致，我们的库中大概有1万表

[2016-09-20 01:48] #185 closed

[2016-09-20 02:03] Leviathans opened #203 "同步数据库 同时更新外部缓存怎么做？"
如题，需要自己进行开发么？多谢

[2016-09-21 02:14] ch-lgs opened #204 "otter主备切换功能的疑问"
otter主备切换功能使用时，能保证切换生效时原master的binlog postion与新master的binlog postion对应么？

[2016-09-26 10:13] ch-lgs opened #205 "4.2.13支持的问题？"
请教：

4.2.13除了支持MySQL5.7是否兼容MySQL5.6?

如果可以，4.2.13是否支持MySQL5.7和MySQL5.6实例之间的同步？

[2016-09-26 14:17] agapple commented on #205
可以的

[2016-09-26 14:18] agapple commented on #204
这个mysql本身无法保证两个实例的position是一致的，即使主备库也不行，otter切换使用的是时间戳进行查找，5.6之后主备库可以试用GTID来查找

[2016-09-26 14:19] agapple commented on #203
基于canal，获取对应的变更数据，然后自行处理外部缓存更新的逻辑实现

[2016-09-26 14:22] agapple commented on #185
不是太理解你的问题，按照之前的考虑manager可以部署两个，但是链接的DB应该是一组主备实例，mysql的主备可以有多种策略来保证，当然你也可以利用otter来做同步，但是主备库的切换，manager用那个还是需要额外的控制来处理

[2016-09-26 14:23] agapple commented on #202
no found table [kmcommon.km_tbl_zookeeper_cluster] , pls check
目前遇到的只有这么几类场景：
1. 表名大小写问题
2. 表物理被删除
3. 表权限问题，同步的DB账号没有对应表的权限

[2016-09-26 14:24] agapple commented on #200
是的，你可以基于当前的master版本打包一个测试下

[2016-09-27 03:42] #197 closed

[2016-09-27 06:53] leegtang opened #206 "全量同步整个数据库经查挂起，无法全部完成"
源数据库src位于10.1 ，dbname: ott（共有36张表）
目标数据库dest位于10.2， dbname: ott （共有0张表）
使用otter同步时，设置基于position 同步，数据同步缓慢，日志记录 no found table [*tablename] , pls check 。访问dest，已经同步了4张表，停掉channel, 重新启动channel, 又同步了几张表，日志报相同错，如此反复，不能一次性同步完所有表。

[2016-09-27 08:20] Leviathans commented on #134
@rongxuanhub  请问你的问题解决了么？我这里一直提示jar缺少，无语了！

[2016-09-27 15:34] EternalSpring commented on #185
好的，可以manager01连MasterDB，manager02连MasterDB，另外搭一套SlaveDB，加个类似于MHA的高可用去漂，只不过想着有没办法manager01连MasterDB，manager02连SlaveDB，无论manager01主机宕还是MasterDB宕，node都可以顺利切换到manager02，以节省一些中间件架构。

[2016-09-28 09:00] rongxuanhub commented on #134
解决了，你是缺少什么jar？邮箱：641808979@qq.com

[2016-09-28 10:03] chenxiaozhong commented on #201
@luoyaogui 大神，想问一下，自由门全量数据同步retl_buffer表应该是放在哪个库上？otter库还是retl库里？

[2016-09-29 02:28] agapple commented on #206
物理表估计存在删除，可以在canal黑名单里忽略这张表的解析和同步

[2016-09-29 02:29] agapple commented on #185
那你这样会面临一个数据一致性问题，MasterDB和SlaveDB，解决好这个一致性问题就可以这么玩

[2016-10-08 07:21] Leviathans commented on #134
没有找到2010的，我用的2011的代替，但是项目还是报错：
Failed to execute goal on project shared.common: Could not resolve dependencies for project com.alibaba.otter:shared.common:jar:4.2.13-SNAPSHOT: Failed to collect dependencies at org.jtester:jtester:jar:1.1.8 -> mockit:jmockit:jar:0.999.10: Failed to read artifact descriptor for mockit:jmockit:jar:0.999.10: Failure to find mockit:mockit:pom:0.999.10 in http://repo.bi

[2016-10-09 10:48] tengjh commented on #198
@theseusyang 解决了吗，@agapple wiki上没有找到相关说明呢？

[2016-10-09 11:15] tengjh commented on #198
不好意思，知道了！下面有相关issue提示，没有看到后面！！

[2016-10-10 03:30] #206 closed

[2016-10-11 03:55] ch-lgs opened #207 "CANAL支持UTF8MB4问题"
otter使用过程中有两处涉及字符集配置，数据源和CANAL配置

数据源配置提供下拉列表支持选项UTF8MB4

CANAL配置需要手动填写字符集（手动填写UTF8MB4）

报错
exception:setl:com.google.common.collect.ComputationException: java.nio.charset.UnsupportedCharsetException: UTF8MB4

如果只是数据源配置选项选择UTF8MB4，而CANAL填写UTF8，则不会出现报错，但这样是否会影响同步程序支持UTF8MB4？

[2016-10-11 08:09] lixqhuoli opened #208 "在同步过程中需要变换某个字段的值，但是没生效，请问如何修改"
代码如下。功能就是像把phone字段的号码去掉中间4位同步出去，实际使用过程中还是原样同步过去了。

package com.alibaba.otter.node.extend.processor;

import com.alibaba.otter.shared.etl.model.EventColumn;
import com.alibaba.otter.shared.etl.model.EventData;

public class PhoneUserEventProcessor extends AbstractEventProcessor {

	public boolean process(EventData eventData) {
		 for (EventColumn column : eventData.getColumns()) {
			 //对手机号码进行转换处理

[2016-10-11 09:27] aiaix opened #209 "otter那里可以指定位置开始同步吗"
otter那里可以指定位置开始同步吗

[2016-10-11 10:16] leegtang commented on #209
可以，配置管理-》canal配置，位点自定义设置勾中复选框，填入位点信息即可。

[2016-10-11 11:25] #209 closed

[2016-10-11 11:26] agapple commented on #208
1. 检查下是否processor配置未生效
2. 打开load详细日志看看具体的数据

[2016-10-11 11:28] agapple commented on #207
我印象中是有测试过支持过utf8mb4，canal是按二进制接受binlog，然后字符串按照utf8进行编码传输到otter，再按utf8mb4写出到db.  整个流程是没啥问题.

因为本身java也不支持utf8mb4，内存里的数据都是utf8

[2016-10-11 11:29] agapple commented on #134
我记得这些在otter/lib下都有的jar啊，使用install.sh插入到你本地maven仓库

[2016-10-11 11:31] #198 closed

[2016-10-11 12:25] lixqhuoli commented on #208
确认配置已经生效，改成写到一个新表是可以写进去，就是值没变。  load详细日志是如何配置？

[2016-10-12 01:44] aiaix opened #210 "otter中使用canal，不允许pipeline共享一个canal. otter中配置的canal即为一个instance，而otter就是为其一个client，目前canal不支持一个instance多个client的模式，会导致数据丢失，慎重. 这个有点不太懂，如果我库里面有多个SCHEMA分开同步，那么我配置第二个PIPLELINE就不能使用之前配置的canal了吗？"

[2016-10-12 04:51] agapple commented on #210
是的，重新配置一个canal

[2016-10-12 04:51] agapple commented on #208
pipeline高级参数里

[2016-10-12 06:29] Leviathans commented on #134
执行过了，但是仍然报这个错误，崩溃，现在的情况貌似是源代码下载后 执行install脚本 网络也翻墙了，但是貌似没发编译成功！

[2016-10-12 07:59] aiaix commented on #210
如果我在同一个pipeline里面是可以共享canal把。

[2016-10-12 10:27] theseusyang opened #211 "在同步数据时，目标库多同步了几条数据的问题"
我这里出现一个问题，在同步数据时，目标库多同步了几条数据的问题：
这是源库的更新语句

 UPDATE `schema1`.`table1`
 WHERE
   @1=2331363 /* LONGINT meta=0 nullable=0 is_null=0 */
   @2=551763 /* LONGINT meta=0 nullable=1 is_null=0 */
   @3='20161012' /* VARSTRING(96) meta=96 nullable=1 is_null=0 */
   @4=1 /* TINYINT meta=0 nullable=1 is_null=0 */
   @5=1 /* INT meta=0 nullable=1 is_null=0 */
   @6=1476262449 /* TIMESTAMP(0) meta=0 nullable=

[2016-10-13 01:58] theseusyang opened #212 "针对多主键-全量同步，有一个怎样拼写的示例吗？"
如果针对多主键时，对应的PK_DATA需要将需要同步表几个主键按照(char)1进行拼接,比如 concat(id,char(1),name)

[2016-10-13 02:03] theseusyang commented on #212
insert into retl.retl_buffer(ID,TABLE_ID, FULL_NAME,TYPE,PK_DATA,GMT_CREATE,GMT_MODIFIED) (select null,0,'$schema.table$','I',id,now(),now() from $schema.table$);

[2016-10-13 02:04] theseusyang commented on #212
比如有 PK1和 PK2两个主键的字段，怎么拼写成上述的PK_DATA?

concat(PK1,char(1),PK2)?

[2016-10-13 02:10] aiaix opened #213 "manager对zookeeper版本有要求吗，用的3.4.5有问题？"
日志如下：
2016-10-13 10:07:55.622 [] INFO  com.alibaba.otter.manager.deployer.OtterManagerLauncher - ## start the manager server.
2016-10-13 10:08:21.147 [] WARN  org.apache.zookeeper.ClientCnxnSocket - Connected to an old server; r-o mode will be unavailable
2016-10-13 10:08:27.716 [] INFO  com.alibaba.otter.manager.deployer.JettyEmbedServer - ##Jetty Embed Server is startup!
2016-10-13 10:08:27.717

[2016-10-13 02:38] aiaix commented on #213
当用admin登录就报错

[2016-10-13 03:18] theseusyang commented on #212
问题已经解决

[2016-10-13 03:18] #212 closed

[2016-10-13 05:00] agapple commented on #210
一个pipeline对应一个canal

[2016-10-13 05:00] agapple commented on #134
mvn -o

[2016-10-13 05:01] agapple commented on #211
merge sql不会更新目标多条记录啊？你是说affect row=2?

[2016-10-13 05:01] agapple commented on #213
没遇到过，多重试吧

[2016-10-13 05:11] aiaix commented on #213
我现在是单独安装manager不行,安装manager就只要与zookeeper 2181端口相通，应该没其他端口了。

[2016-10-13 05:35] aiaix commented on #213
出现下面的错误，管理界面竟然还能登录
2016-10-13 13:32:48.739 [] INFO  com.alibaba.otter.manager.deployer.OtterManagerLauncher - ## stop the manager server
2016-10-13 13:32:53.937 [] INFO  com.alibaba.otter.manager.deployer.JettyEmbedServer - ##Jetty Embed Server joined!
2016-10-13 13:32:53.937 [] INFO  com.alibaba.otter.manager.deployer.OtterManagerLauncher - ## manager server is down.
2016-10-13 13:32:57.831 [] IN

[2016-10-13 05:49] theseusyang commented on #211
确实出现了这个问题

[2016-10-13 05:51] theseusyang commented on #211
在 mergesql的时候， 因为时间戳是 current_timestamp 所以 在update on duplicate key的时候 存在两个时间，更新的时间和旧的时间，所以在目标库插入的多条数据

[2016-10-13 06:38] dusonchen opened #214 "跨机房同步部署问题"
Q&A中最后一点没说得很明白，假如有这样的场景：
1.两个机房间内网不互通，只能通过公网IP访问，两个机房的数据库不对外暴露，只能通过内网访问
2.机房A为源数据库，机房B为目标数据库
3.机房A中部署了Manager和Zookeeper（单机模式），机房B中部署了一个节点Node
如何达到机房A的数据同步到机房B中？
是否机房2中的Node通过公网IP访问机房1的Manager？但机房B的数据库在机房A的Manager中是不能访问的

[2016-10-13 10:12] aiaix commented on #213
经过多次重试，只有当打开管理界面的时候会跳出错误，不晓得那里的问题；之后不会在报错，

[2016-10-14 01:46] leegtang commented on #208
我一样配置后，可以脱敏 http://www.leegtang.com/home_blog_view_id_945f1faf431ce92ca090fb7b4b0cb470.html

[2016-10-14 01:52] leegtang commented on #196
修改表结构，将 'GMT_CREATE' 设置为允许为空。

[2016-10-14 03:09] theseusyang commented on #211
@agapple 这个问题如果要改源码的话，在哪里修改？

[2016-10-14 05:10] aiaix commented on #210
还有个问题，多个不同名的canal可以配置同一个数据源地址吗？

[2016-10-14 07:44] dusonchen commented on #78
@agapple  aria2 要什么版本的，有1.90，但编译不通过，下载1.6.4后，需要的依赖一大堆，这些依赖也找不到源下载

[2016-10-17 01:39] theseusyang commented on #211
@agapple 好啊，这个问题在哪里改代码？

[2016-10-17 03:16] agapple commented on #210
可以

[2016-10-17 03:16] #196 closed

[2016-10-17 03:16] #208 closed

[2016-10-17 03:18] agapple commented on #214
机房1和2的node之间互相通过公网访问

[2016-10-17 03:19] agapple commented on #211
我没理解你的问题，你的多条数据是目标库多了几条数据还是affectRow>1

[2016-10-18 00:42] dusonchen commented on #214
@agapple 你是意思是机房2中的Node通过公网IP访问机房1的Manager吧？
那在机房1中的Manager如何配置机房2中的数据源，因为机房2中的数据库是不对外暴露的（即无公网IP）。能否说得具体点呢？Thx

[2016-10-18 01:45] xmison opened #215 "新版本只配置timestamp和binlog文件名同步有问题，无法定位同步"
出现 KILL DUMP 224413593 failure:java.io.IOException: ErrorPacket [errorNumber=1094, fieldCount=-1, message=Unknown thread id: 224413593, sqlState=HY000, sqlStateMarker=#]
with command: KILL CONNECTION 224413593

[2016-10-18 03:27] luoyaogui commented on #201
@chenxiaozhong   sorry，最近比较忙，刚看到你的问题。
一、jdbc:mysql://192.168.0.248:3306    检查是否有retl这个库，没有则执行source otter-system-ddl-mysql.sql
二、对source端的用户授与retl这个数据库的select权限
三、执行 insert into retl.retl_buffer(ID,TABLE_ID, FULL_NAME,TYPE,PK_DATA,GMT_CREATE,GMT_MODIFIED) (select null,0,'数据库名称.表名称','U',主键名称,now(),now() from 数据库名称.表名称);

[2016-10-18 04:30] agapple commented on #214
配置内网的ip即可，对应机房的node拿到配置后，可以基于内网ip访问。manager不需要连通数据库ip

[2016-10-18 04:31] agapple commented on #215
使用下canal主干版本，还未release

[2016-10-20 02:10] theseusyang commented on #211
目标库多了几条数据

[2016-10-26 14:20] shopshow commented on #207
实际上会报错，刚刚测试过

[2016-10-26 14:51] shopshow commented on #207
配置数据源的时候，如果选择UTF8MB4,则会报“无法验证数据源，实际编码为UTF8”错误，如果强行选择UTF8MB4,并将canal 字符集手动改为 UTF8MB4, 能够正常启动channel,不会保存，但是数据不会同步，甚至我的应用程序都崩溃了。

[2016-10-26 16:15] LinGoWei commented on #134
@Leviathans 我也遇到同样的问题，已经执行了/lib/install.sh，mockit/jmockit/0.999.10/jmockit-0.999.10.jar

[2016-10-26 16:22] LinGoWei commented on #134
@agapple
我也遇到同样的问题，
1、执行了/lib/install.sh
2、检查文件<mvn repository path>/mockit/jmockit/0.999.10/jmockit-0.999.10.jar存在
3、执行命令：mvn -o clean install -Dmaven.test.skip -Denv=release
4、报错：
Failed to execute goal on project shared.common: Could not resolve dependencies for project com.alibaba.otter:shared.common:jar:4.2.13-SNAPSHOT: Failed to collect dependencies at org.jtester:jtester:jar:1.1.8 -> mockit

[2016-10-27 03:26] LinGoWei commented on #134
问题已排除，我的解决方法是：
1、打开org/jtester/jtester/1.1.8/jtester-1.1.8.pom
2、修改 jmockit 的依赖，把
`		<dependency>
			<groupId>mockit</groupId>
			<artifactId>jmockit</artifactId>
			<version>0.999.10</version>
		</dependency>
`
修改为：
`
		<dependency>
			<groupId>com.googlecode.jmockit</groupId>
			<artifactId>jmockit</artifactId>
			<version>0.999.11</version>
		</dependency>
`

[2016-10-27 12:36] shopshow commented on #128
双A同步的，不是只能有一方支持DDL吗，请问如何配置同步呢？

[2016-10-27 12:43] shopshow commented on #128
错误如下:
[code]
其中ssv4_us_production是主库，已开启DDL, ssv4_sh_production 是从库，已关闭DDL

[2016-10-27 12:47] yjp211 opened #216 "内嵌的canal不支持mysql5.7 json类型"
msyql5.7 json类型的字段会报错
java.lang.ClassCastException: java.lang.String cannot be cast to [B
详细堆栈：
com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: java.lang.ClassCastException: java.lang.String cannot

[2016-10-28 02:59] yjp211 commented on #216
尝试将pom.xml的 otter_canal_version 从1.0.22替换为canal的最新版本1.0.23-SNAPSHOT，重新编译。
替换已经工作的node节点，会冲突，报错如下：
Exception in thread "main" java.lang.ExceptionInInitializerError
	at com.alibaba.otter.node.deployer.OtterLauncher.main(OtterLauncher.java:39)
Caused by: com.alibaba.otter.shared.common.model.config.ConfigException: ERROR ##
Caused by: org.springframework.beans.factory.BeanCreationException: Error cre

[2016-11-02 03:52] ch-lgs opened #217 "otter canal 配置file模式"
求教，otter中canal是否只能配置嵌入式和memory模式？那么重启后canal是否会丢失位点，重新从初始配置的位点进行同步？

[2016-11-03 06:02] agapple commented on #217
不会丢失位点，消费位点数据会记录到zookeeper

[2016-11-03 06:03] #207 closed

[2016-11-03 06:05] agapple commented on #128
库名存在异构变化，建议手工在两个库执行DDL吧

[2016-11-03 08:57] agapple commented on #216
我检查一下类型

[2016-11-03 16:06] wlcwfwyt opened #218 "一个表先目标加字段,再源加字段,之后同步报找不到字段"
pid:20 nid:6 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: column name extended_content is not found in T

[2016-11-04 10:08] #215 closed

[2016-11-09 03:37] yjp211 commented on #216
这个问题要怎么修复 可以指点一下吗

[2016-11-10 03:09] agapple commented on #216
1. otter要升级一个版本，升级protobuf版本
2. json解析这块目前1.0.23-SNAPSHOT还有bug，等我修复一下

2016-11-09 11:37 GMT+08:00 yjp <notifications@github.com>:

[2016-11-10 03:19] agapple commented on #218
估计是内存的表结构没有被刷新，目前ddl只能刷新源库，没法刷新目标库，是一个bug

[2016-11-10 03:28] #218 closed

[2016-11-10 03:29] agapple commented on #218
可以开启自动恢复的功能，这样再出现异常后自动重启channel同步

[2016-11-10 11:40] sumpan commented on #134
http://download.csdn.net/download/mlw519/8468087
这个地方有jtester，下载之后，直接放到.m2/repository/org/jtester/jtester/1.1.8/目录下面，然后重新编译。

[2016-11-10 11:55] yjp211 opened #219 "一个mysql多db同步效率请教"
一个mysql包含10个要同步的DB，以下哪种方案更好？
1、10个channel，每个channel都是 1个pipeline，1个canal，1个db映射  （一共建立10个canal）
2、1个channel，  1个pipile, 1个canal , 10个db映射(只有1个canal)

[2016-11-14 02:39] hyml opened #220 "编辑pipeline报错"
HTTP ERROR 500

Problem accessing /edit_pipeline.htm. Reason:

    Failed to invoke Valve[#3/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.RenderTemplateValve#1d09c308:RenderTemplateValve
Caused by:

com.alibaba.citrus.service.pipeline.PipelineException: Failed to invoke Valve[#3/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.RenderTemplateValve#1d09c308:RenderTemplateValve
	at co

[2016-11-14 03:06] agapple commented on #220
Could not find template "/screen/editPipeline"

2016-11-14 10:40 GMT+08:00 hyml <notifications@github.com>:

[2016-11-14 03:07] agapple commented on #219
2更好

2016-11-10 19:55 GMT+08:00 yjp <notifications@github.com>:

[2016-11-14 03:22] hyml commented on #220
这个功能昨天使用还正常，今天就报错了，是由什么原因造成的呢？？

[2016-11-16 07:37] hyml opened #221 "跳过某些DML执行必须改动代码吗？"

[2016-11-16 08:36] yjp211 opened #222 "rename操作容易导致select异常"
在做table的rename, 字段的rename，字段删除等 非【增加】ddl操作，很容易导致同步出错（SELECT阶段）：

报表找不到、column size is not match for table

[2016-11-16 09:28] yjp211 commented on #194
pipline--》同步进度---》 position 状态 这个值可以手动调整吗？
通过手动修改这个值，跳过相应的ddl同步出错，进行修复。可行吗？
![image](https://cloud.githubusercontent.com/assets/3926181/20341635/fa0b03fa-ac21-11e6-9d58-c64e20e0f2b0.png)

[2016-11-16 09:30] yjp211 commented on #222
图中这个值可以手动修改吗？ 找遍了，也没有找到这个值存储在哪？
通过修改这个值，跳过相应的DDL同步出错，修复问题。可行吗？
![image](https://cloud.githubusercontent.com/assets/3926181/20341682/31ff1a4e-ac22-11e6-9343-a0d8814b2540.png)

[2016-11-16 10:22] stuxiebin commented on #214
@agapple
跨机房同步，希望同一机房里的node走内网，添加机器时， 机器IP 和 外部IP 应该怎么样妥善设置？
我的情况跟  @dusonchen 的有点类似，请您帮我解答一下，谢谢。

基本环境：
国内机房CN 部署了节点node1、zookeeper、manager(三者在一台机器),    node2
国外机房US 部署了节点node3, node4

其中，国内CN 、 国外US 的机器都配置有公网IP、私网IP，
目前同步需要： node1<->node3  跨机房
                          node1 ->node2   走内网、速度快
                          node3 ->node4   走内网、速度快

按照您上面的意思,我的理解(可能有错)是：
1.node的配置均为   otter.manager.add

[2016-11-16 10:35] agapple commented on #221
可以通过自定义扩展代码过滤数据

[2016-11-16 10:37] agapple commented on #222
参看wiki FAQ里重置位点

[2016-11-16 10:41] agapple commented on #214
1. 可以在添加机器，增加public ip
2. 在任务定义时选择想要启用public ip的机器，高级参数里打开外部ip通讯.

数据源配置都是配置内网ip即可，因为数据源都是各自地域的node机器访问本机房的，只要你任务定义时源和目标的node机器选对即可

[2016-11-16 10:43] agapple commented on #194
---Sql
    insert into aa-test.tb_aa_test(`username` , `phone` , `mail` , `id`) values (? , ? , ? , ?) on duplicate key update `username`=values(`username`) , `phone`=values(`phone`) , `mail`=values(`mail`) , `id`=values(`id`)

你看生成的sql已经带上了对应的schema

[2016-11-17 08:12] xuetao8821 opened #223 "实现多表关联，将结果插入到目标表"
您好： 可在扩展功能自己写jdbc进行数据库查询及处理 ， 请问 能 提供一下目前系统 源和目标的 jdbc connect 如何获取方法吗？ 谢谢 ！

[2016-11-17 10:25] stuxiebin commented on #214
@agapple  感谢您的回复，  我的图示如下(烂图，您凑合着看)：
![shili](https://cloud.githubusercontent.com/assets/19545894/20384621/6e77fa90-acef-11e6-964a-c8f83f22cfb3.PNG)

node1、node2在一个机房，
node1(公网IP:1.1.1.1     私网IP:192.168.1.1)， node2(公网IP:1.1.1.2    私网IP：192.168.1.2)

node3、node4在一个机房，
node3(公网IP:2.2.2.2     私网IP:192.168.2.1)， node4(公网IP:2.2.2.3     私网IP：192.168.2.2)

------> 单箭头代表 单向同步， <---------->双箭头代表 双向同步

我特别

[2016-11-17 11:20] #216 closed

[2016-11-17 11:20] #150 closed

[2016-11-17 11:21] #155 closed

[2016-11-17 11:21] #169 closed

[2016-11-17 12:39] #172 closed

[2016-11-17 12:40] #184 closed

[2016-11-17 12:40] agapple commented on #220
个人环境问题，重装下试试

[2016-11-17 12:40] #188 closed

[2016-11-17 12:41] #189 closed

[2016-11-17 12:41] #190 closed

[2016-11-17 12:41] #200 closed

[2016-11-17 12:41] #201 closed

[2016-11-17 12:41] #199 closed

[2016-11-17 12:42] #203 closed

[2016-11-17 12:42] #204 closed

[2016-11-17 12:42] #205 closed

[2016-11-17 12:42] #210 closed

[2016-11-17 12:42] #213 closed

[2016-11-17 12:43] #217 closed

[2016-11-17 12:43] #219 closed

[2016-11-17 12:43] #221 closed

[2016-11-17 12:44] agapple commented on #214
1. node1和node2为啥要通讯？
2. node1和node2如果作为互相备份节点，都会和node3和node4进行通讯

[2016-11-17 12:45] #222 closed

[2016-11-17 12:45] agapple commented on #223
有的，继承DataSourceFetcherAware

[2016-11-17 12:45] #223 closed

[2016-11-17 12:46] #171 closed

[2016-11-17 12:46] #178 closed

[2016-11-17 12:47] #202 closed

[2016-11-17 12:47] #187 closed

[2016-11-17 12:47] #183 closed

[2016-11-17 12:47] #181 closed

[2016-11-17 12:48] agapple commented on #170
FreedomExtractor类

[2016-11-17 12:48] #170 closed

[2016-11-18 02:31] yjp211 opened #224 "update语句触发DuplicateKeyException异常"
同步模式：	列记录同步
出问题的表有唯一索引：
UNIQUE KEY `unique` (`company_id`,`type`,`position`,`name`,`del`,`language`) USING BTREE

将堆栈中的sql直接放到目标db执行，可以执行成功。
详细堆栈：

[code]

[2016-11-18 09:57] agapple commented on #224
估计和当时并发的几个请求sql有关，事后跑不一定有意义

[2016-11-18 12:51] yjp211 commented on #224
com.alibaba.otter.node.etl.load.loader.db.DbLoadDumper

DbLoadDumper有没有办法获取到对应的binlog并dump出来，源码还不是很深入，请教一下

[2016-11-18 13:46] agapple opened #225 "支持下DRDS做为目标"
支持下分布式数据库DRDS作为目标进行同步

使用注意点:
1.  需要关闭高级参数里的batch模式(因为otter默认会开事务,避免DRDS进行分布式事务管理,无意义)
2.  DRDS会要求update/delete都必须带上拆分字段,所以实现上会将拆分字段按照主键进行处理，避免变更主键或者拆分字段 【如果源库和目标库存在异构，比如拆分字段列名不同，需要将源表映射到目标的拆分字段的列设置为主键，切记】

just have fun.

[2016-11-18 13:46] #225 closed

[2016-11-18 15:16] agapple commented on #224
可以设置高级参数里打开select和load的详细日志，row_select.log

[2016-11-19 01:03] shopshow opened #226 "中美同步延时问题"
![image](https://cloud.githubusercontent.com/assets/9455965/20451644/ca364f92-ae36-11e6-885f-c9bcf40b8103.png)
如图 pipeline1 是 美国往中国同步，有时候延时达到了4m多钟，中国往美国同步很快

pipeline1 的设置：
![image](https://cloud.githubusercontent.com/assets/9455965/20451657/f6d181d4-ae36-11e6-92f6-302827d92549.png)

请问如何设置可提高同步效率？

[2016-11-19 01:23] shopshow commented on #226
![image](https://cloud.githubusercontent.com/assets/9455965/20451885/da320456-ae39-11e6-9003-5e4685b32585.png)

[2016-11-19 06:37] yjp211 opened #227 "中美同步 MainstemMonitor的疑问"
部署环境：
[code]
一开始是配置的是中国->美国：

再配置美国到中国:

启动channel， pipline一直处于【定位中】，manger界面无任何日志异常，node节点只有一个警告信息：
[code]
过了很久很久也还是【定位中】，重启node，手动切换 mainstem 也是一样

[2016-11-19 06:47] yjp211 commented on #227
问题原因:- - -

创建美国canal时，选择的仍是中国的zk节点，导致block

[2016-11-19 06:47] #227 closed

[2016-11-21 02:26] agapple commented on #226
机器别选错了，select机器尽可能靠近源，load机器尽可能靠近目标

[2016-11-21 03:04] shopshow commented on #226
也就是说，load 机器的node 我要选择国内的服务器？

[2016-11-21 03:35] shopshow commented on #136
实际上RDS支持度还是不错的，我们现在就是中美双A，阿里云RDS，部署半个月来，没有出过问题

[2016-11-21 04:45] hyml opened #228 "联表同步问题"
canal是否可以抽取多表联合（比如inner join）的某些字段，并将这些字段同步到目标表中。

[2016-11-21 07:33] agapple commented on #226
多看下wiki FAQ

[2016-11-21 07:33] #226 closed

[2016-11-21 07:33] agapple commented on #228
支持，扩展自定义代码

[2016-11-21 07:34] agapple commented on #136
现在的版本对于RDS支持有优化

[2016-11-21 07:34] #136 closed

[2016-11-22 01:14] hyml opened #229 "配置pipeline与映射"
pipeline与映射关系是一对一的模式好，还是一对多的关系好，为什么？

[2016-11-22 04:19] agapple commented on #229
当然1对多的好啊，减少对mysql库dump binlog的链接

[2016-11-22 04:19] #229 closed

[2016-11-22 08:17] wuyuanyong opened #230 "otter 4.2.13是否支持同步到Mycat 1.6???"
##########################
环境
OS:RHEL 6.4 x66_64
OS Kernal:2.6.32-358.el6.x86_64
MySQL: 5.7.13 社区版
otter: 4.2.13
zookeeper:3.4.9
mycat:1.6

#####################################
通过otter将源库(mysql 5.7.13)同步到目标库(mycat)，mycat后端是MySQL 5.7.13  在同步时出现如下错误：
################################################################

pid:1 nid:2 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException:

[2016-11-22 09:01] agapple commented on #230
不支持mycat，目前只支持DRDS

[2016-11-22 09:01] #230 closed

[2016-11-22 09:06] tengjh commented on #225
DRDS会要求update/delete都必须带上拆分字段,所以实现上会将拆分字段按照主键进行处理，避免变更主键或者拆分字段 【如果源库和目标库存在异构，比如拆分字段列名不同，需要将源表映射到目标的拆分字段的列设置为主键，切记】
这个是要修改分区键主键吗？

[2016-11-23 08:23] yjp211 commented on #214
我实际的部署拓扑结果跟楼主差不多，不过manager我是部署在国外。
请教一个问题， 如果是中国-》国外同步，manager是靠近select端好还是load端好？

另外，可以提供几点实际遇到的问题，供楼主参考
1、node1、2、3、4都要对所有外网IP都配置2088-2090的权限（本机也要对本机的公网IP开放权限）
2、manager部署在node1，node2、node3、node4的hostname必须设置为外网IP

@agapple  为什么会有第二条这样限制？

[2016-11-23 09:08] yjp211 opened #231 "通信端口的疑问"
美国节点manager/node1， node2
中国节点 node3 , node4

中国--》美国的数据同步已正常开启，并一直有数据。
使用netstat观察
manager通过1099与所有的node连接
node之间通过2088都有互相连接

1、所有的node端口2089、2090并没有任何连接建立
[code]
 因为有数据时刻在同步着，2089没有任何连接表示很奇怪
2、pipline文件传输加密，开启后。抓取2088的通信数据，并无变化？ 怎么验证传输加密是否开启

[2016-11-23 15:46] lixqhuoli opened #232 "otter 能够从一个mysql的slave库读取日志同步到另外一个库么"
在生产库的slave上打开了log_slave_updates ,看binlog日志里面也有生成日志。同步的时候都被跳过。请问如何设置

[2016-11-24 01:51] yjp211 commented on #224
这个异常 通过线上观察推断是由开发人员不小心在两边都写了数据

[2016-11-24 01:51] #224 closed

[2016-11-25 00:55] jsrgqinbin opened #233 "最近otter老自动停掉，日志查看是正常，有同样的人遇到的吗？"
最近otter老自动停掉，日志查看是正常，跑了好久一直正常，只有这两天才出现的问题。

PID文件都在，进程已经没有了，不知道怎么查问题，有人遇到的能说说吗？

[2016-11-28 05:52] agapple commented on #214
没理解你的第二条问题，能再具体描述一下？

[2016-11-28 05:54] agapple commented on #231
你选择传输模式为HTTP传输时，你就能看到2089端口的使用了，并且看到一些临时文件有一些加密处理

[2016-11-28 05:55] agapple commented on #232
肯定可以读取，检查1. 过滤条件 2.  是否为row模式

[2016-11-28 05:55] agapple commented on #233
jvm进程不在？得查查是否是OOM或者是linux oom killer给杀掉了进程

[2016-11-30 05:12] ch-lgs opened #234 "如何不同步库中的某张表"
如题，因为有这样的需求

[2016-11-30 08:29] ch-lgs commented on #234
我目前使用\b((?!_osc)\w)+\b正则进行逆向匹配

[2016-11-30 09:22] yjp211 opened #235 "升级到当前版本报错"
master分支编译，替换以前的版本【11月初的4.2.14-SNAPSHOT】
node启动成功，开启channel后报错
[code]

[2016-12-01 06:09] agapple commented on #235
Caused by: java.net.ConnectException: Connection timed out，网络连接超时

[2016-12-01 06:09] agapple commented on #234
canal配置里增加黑名单配置

[2016-12-02 08:44] chenxiaozhong opened #236 "线下映射信息，如何导出到线上环境？"
大神请教一下，在线下环境都配置好了映射关系，比较多，有没有什么办法导到线上环境去呢？还是必须一个一个重新再做映射？

本来我想把线下整个otter库，导到线上环境，在通过后台修改相应的ip信息，但是登录后台“Table 'otter.USER' doesn't exist"报错误

[2016-12-06 02:55] lixqhuoli opened #237 "同步运行一段时间后出错，提示找不到mysql.user"
nid:1 exception:setl:com.alibaba.otter.node.etl.select.exceptions.SelectException: com.google.common.collect.ComputationException: org.apache.commons.lang.exception.NestableRuntimeException: find table [mysql.user] error
    at com.alibaba.otter.node.etl.select.selector.MessageParser.parse(MessageParser.java:209)
    at com.alibaba.otter.node.etl.select.selector.canal.CanalEmbedSelector.selector(C

[2016-12-07 04:56] agapple commented on #237
估计没有对mysql.user表的权限，授权一下或者忽略这张表的同步

[2016-12-07 04:56] #237 closed

[2016-12-07 11:13] chenxiaozhong commented on #236
请教下怎么批量导入？

[2016-12-09 03:39] hyml opened #238 "表结构同步问题"
通过源码只能同步库名与表名相同的表结构，有没有其他方式支持库名或表名不同的表结构同步。

[2016-12-09 09:51] EternalSpring opened #239 "Otter双向回环控制实现机制疑问"
群主，想咨询下，otter配置双向同步，在MasterA批量修改N条数据后，同步到MasterB的binlog数据量为何会扩增几十倍以上不止？查看binlog文件，发现多出很多如下update retl_mark的语句
 UPDATE `retl`.`retl_mark`
 WHERE
   @1=249 /* LONGINT meta=0 nullable=0 is_null=0 */
   @2=0 /* INT meta=0 nullable=1 is_null=0 */
   @3=NULL /* INT meta=384 nullable=1 is_null=1 */
 SET
   @1=249 /* LONGINT meta=0 nullable=0 is_null=0 */
   @2=11 /* INT meta=0 nullable=1 is_null=0 */

[2016-12-12 09:47] tanyongman opened #240 "otter同机房同步,数据量大抛异常"
Caused by: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.transaction.TransactionSystemException: Could not roll back JDBC transaction; nested exception is java.sql.SQLException: No more data to read from socket
at

[2016-12-15 02:42] weikuo0506 commented on #238
不太明白你的问题，通过实现AbstractEventProcessor接口，自定义数据扩展修改，想怎么修改数据都可以啊

[2016-12-20 01:37] aiaix opened #241 "OTTER运行一段时间报错Could not find first log file name in binary log index file"
2016-12-19 17:30:00.004 [pipelineId = 17,taskName = SelectTask] WARN  c.a.o.shared.arbitrate.impl.setl.monitor.MainstemMonitor - mainstem is not run any in node
2016-12-19 17:30:00.063 [destination = sz-router-can , address = /xx.xx.xx.xx:3306 , EventParser] WARN  c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - prepare to find start position just last position
2016-12-19 17:30:00.071 [desti

[2016-12-20 09:18] #236 closed

[2016-12-20 09:20] chenxiaozhong commented on #238
库名与表名都不需要相同。也可以同步的啊

[2016-12-20 14:40] agapple commented on #238
DDL同步目前有约束，要求库名和表名都一致

[2016-12-20 14:45] agapple commented on #241
Could not find first log file name in binary log index file， binlog文件被删除了

[2016-12-20 14:46] agapple commented on #239
otter同步目标是走了batch，每批数据前后都会有retl_mark表的变更操作，变更操作的量取决于原始数据量，最多2倍的sql量

[2016-12-20 14:52] agapple commented on #240
org.springframework.transaction.TransactionSystemException: Could not roll back JDBC transaction; nested exception is java.sql.SQLException: No more data to read from socketat

自行查询一下oracle对应的异常情况

[2016-12-21 01:43] EternalSpring commented on #239
好的，如果是这样的话，按这边的统计，十分钟内业务库表的SQL操作条数是39000条，而UPDATE:retl.retl_mark表的操作条数是680000条，这种情况可以定论为非正常现象？

[2016-12-21 02:04] timothyzhw commented on #239
我配置的双A，两边同时修改同一条数据，会出现循环修改，请问一下原因？

[2016-12-21 06:53] agapple commented on #239
@timothyzhw 检查一下是否用了innodb以外的存储引擎

[2016-12-21 07:57] timothyzhw commented on #239
找到原因了，是因为在 my.conf里设置了只有几个业务库写binlog，缺了retl库。

[2016-12-21 08:53] EternalSpring commented on #239
有，除了innodb，还有memory存储引擎，这个是否有影响呢？

[2016-12-22 05:26] agapple commented on #239
有影响的，不支持事务的引擎，binlog生成会和retl_mark的事务分离，导致无法判断是否是回环同步

[2016-12-23 01:49] aiaix commented on #241
没有删除，都能发现，最后我把canal删除了重建就好了

[2016-12-23 01:55] aiaix opened #242 "添加字段OTTER同步失败"
pid:5 nid:1 exception:setl:com.alibaba.otter.node.etl.transform.exception.TransformException: wallet_user_id is not found in Table [name=tj_oto_order; 31 columns] and source : oto..*

2016-12-23 09:34:38.483 [pipelineId = 5,taskName = transformWorker] WARN  c.a.o.s.a.i.setl.zookeeper.termin.WarningTerminProcess - nid
:1[5:setl:com.alibaba.otter.node.etl.transform.exception.TransformException: wall

[2016-12-23 02:07] aiaix commented on #242
跳过DDL错误也没用

[2016-12-23 02:25] aiaix commented on #79
@laopangzhang 这个问题有解决吗

[2016-12-24 07:37] EternalSpring commented on #239
好的，了解

[2016-12-24 15:30] aiaix commented on #202
@huangdq1990  有解决吗， 我的也是一样，同步过程中无缘无故就报错了。

[2016-12-26 05:16] aiaix commented on #242
目标端添加字段解决

[2016-12-26 05:20] aiaix opened #243 "OTTER中NODE日志告警：Communications link failure"
2016-12-26 13:10:20.493 [DbLoadAction] WARN  com.alibaba.otter.node.etl.load.loader.db.DbLoadAction - ##load phase one failed!
java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.transaction.Cann
otCreateTransactionException: Could not open JDBC Connection for transaction; nested exception is com.mysql.jdbc.exceptions.jdbc4.Comm
uni

[2016-12-27 02:44] luoyaogui opened #244 "otter的经常性断开并重连，binlog位点有更新，但是延迟递增。"
web控制台得到如下异常：
java.io.IOException: Connection reset by peer
at sun.nio.ch.FileDispatcherImpl.read0(Native Method)
at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39)
at sun.nio.ch.IOUtil.readIntoNativeBuffer(IOUtil.java:223)
at sun.nio.ch.IOUtil.read(IOUtil.java:197)
at sun.nio.ch.SocketChannelImpl.read(SocketChannelImpl.java:379)
at com.alibaba.otter.canal.parse.inbound.mysql.dbsync.Dir

[2016-12-27 08:55] agapple commented on #244
感谢，测试通过之后可以提交一个PR给我

[2016-12-27 08:56] agapple commented on #243
Caused by: java.io.EOFException: Can not read response from server. Expected to read 4 bytes, read 0 bytes before connection was unexpectedly lost.

估计是网络问题

[2016-12-27 08:58] agapple commented on #242
wallet_user_id is not found in Table [name=tj_oto_order; 31 columns]

是目标库缺少一个列

[2016-12-27 08:58] #242 closed

[2016-12-29 01:35] aiaix commented on #243
2个node分别在2地，这通信异常是那个到那个的通信异常看不出来，是node到manager的吗？  另外这个异常应该不影响同步把，otter会自动扫描从异常点同步的把。

[2016-12-29 05:44] agapple commented on #243
你这个是在写目标库的时候出的错误，会影响同步

[2016-12-29 09:11] syzxlyx opened #245 "otter同步乱序执行问题"
当我使用从其他库dump出来的文件在主库用source方法导入，发现会乱序执行，即insert会在create table之前执行，导致报找不到表的问题。请问如何解决？
pid:1 nid:1 exception:setl:com.google.common.collect.ComputationException: org.apache.commons.lang.exception.NestableRuntimeException: find table [db1.std_metadata_5716f85dd6d3] error
    at com.google.common.collect.ComputingConcurrentHashMap$ComputingSegment.compute(ComputingConcurrentHashMap.java:167)
    at co

[2016-12-30 07:07] #137 closed

[2016-12-30 07:09] agapple commented on #195
关注下最新版4.2.14

[2016-12-30 07:09] #195 closed

[2016-12-30 07:09] #214 closed

[2016-12-30 07:09] #220 closed

[2016-12-30 07:09] #231 closed

[2016-12-30 07:09] #232 closed

[2016-12-30 07:10] #238 closed

[2016-12-30 07:10] #240 closed

[2016-12-30 07:10] #241 closed

[2016-12-30 07:10] #239 closed

[2016-12-30 07:10] #235 closed

[2016-12-30 07:10] #228 closed

[2016-12-30 07:10] #234 closed

[2016-12-30 07:11] #233 closed

[2016-12-30 08:34] chenxiaozhong opened #246 "自定义字段同步的空字段跟NULL的问题"
[code]

我想要“如果advisor_id字段为空，则使用trust_id字段的数据”， 但这样子写，只有空字符才有效，如果字段是NULL的话，同步到源表还是NULL ， 请问应该要怎么处理？

[2016-12-30 12:55] happyer opened #247 "可以单向同步，将数据发送到kafka 吗？"
单向同步，将数据同步发送到kafka

[2016-12-30 15:19] agapple commented on #246
没太理解你的问题，你的意思是遇到了NULL字符串？advisorIdColumn.isNull()可以判定数据库为NULL的值(非字符串的"NULL")

[2016-12-30 15:19] agapple commented on #247
可以使用canal

[2016-12-30 15:19] #247 closed

[2016-12-31 14:02] chenxiaozhong commented on #246
不是NULL字符串，是数据库默认的NULL（非字符串）；但是我贴出来的代码就是advisorIdColumn.isNull()来判断，结果没判断出来。

[2017-01-03 04:27] agapple commented on #246
不应该啊，你用的canal/otter啥版本？

[2017-01-03 06:41] luoyaogui commented on #244
重构canal的SocketChannel过程如下（基于canal-1.0.22）：
1，在canal.common的pom.xml中引入netty包。

[2017-01-03 06:52] luoyaogui commented on #244
[重构canal的SocketChannel过程如下（基于canal-1.0.22）：
1，在canal.common的pom.xml中引入netty包。
2，在canal.parse.driver，新建com.alibaba.otter.canal.parse.driver.mysql.socket（package）用netty实现
SocketChannel、SocketChannelPool两个类；修改com.alibaba.otter.canal.parse.driver.mysql.utils（package）的PacketManager实现；修改com.alibaba.otter.canal.parse.driver.mysql（package）的MysqlConnector、MysqlQueryExecutor、MysqlUpdateExecutor。
3，在canal.pa

[2017-01-04 13:24] chenxiaozhong commented on #246
我采用的4.2.13版本，node.deployer-4.2.13.tar.gz跟manager.deployer-4.2.13.tar.gz

[2017-01-05 02:15] aiaix opened #248 "错误：find table [llyt.t_ll_secret] error"
pid:12 nid:1 exception:setl:com.google.common.collect.ComputationException: org.apache.commons.lang.exception.NestableRuntimeException: find table [llyt.t_ll_secret] error
    at com.google.common.collect.ComputingConcurrentHashMap$ComputingSegment.compute(ComputingConcurrentHashMap.java:167)
    at com.google.common.collect.ComputingConcurrentHashMap$ComputingSegment.compute(ComputingConcurrentHa

[2017-01-05 12:38] boboChina opened #249 "自由门数据的疑惑"
看了历史的几个问答，retl库必须和源库在同一个实例   ，然后再插入相关数据。但是一般的生产库会分散在多个实例上面，也就是生产库每个实例都需要新建一个retl库 然后启动了channal再插入数据。这样对生产库入侵太大了，有没有更好的方式。如果用位点来做，那么更悲剧了。需要把所有的库先记录位点，然后备份到目标库，然后在cannal设置位点，然后再启动。。。

请问是否有更好的方式，或者下个版本是否考虑优化下初始化的方式

[2017-01-06 07:14] luoyaogui commented on #211
这里面有个需要注意的地方
源表：
（1，同步字段中必须包含主键，主键对应的同步字段必须为主键或唯一键
（2，目标表同步的字段属性不应该违反源表被同步字段的属性，比如源字段可为null而目标字段不能为null）
目标表：
（1，未同步的字段必须有默认值或为null,且同步映射字段类型能正常转换）

[2017-01-07 09:19] luoyaogui commented on #162
可以再具体点吗？

[2017-01-09 03:23] bnzxking opened #250 "机器管理查看node报错"
`HTTP ERROR 500

Problem accessing /node_info.htm. Reason:

    Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#10b8b900:PerformTemplateScreenValve
Caused by:

com.alibaba.citrus.service.pipeline.PipelineException: Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#10b8b900:PerformT

[2017-01-09 03:25] bnzxking commented on #250
1、这个node节点 和 manager不在一台机器
2、node这台机器因为host ip是vip，所以我在配置中指定外部ip
3、node这台机器我修改了hosts，hostname -i命令出现的结果是外部ip
但是还是出错，请大神指导

[2017-01-09 04:01] zhuhuawu opened #251 "双向同步报主键冲突和唯一索引冲突，如何解决或跳过"
因为主键冲突和唯一索引冲突导致挂起不能同步，不知如何解决
唯一索引冲突：
org.springframework.dao.DuplicateKeyException: PreparedStatementCallback; SQL [insert into ysod.product_gd_detail(`gd_id` , `ws_id` , `comp_number` , `pass_number` , `nopass_number` , `effect_pass` , `operator_id` , `work_hour` , `comp_date` , `owner_id` , `finish` , `station_id` , `real_pass_number` , `real_comp_number` , `id`) values (? , ? , ? , ? , ? , ? ,

[2017-01-09 05:08] zhuhuawu opened #252 "同步挂起，报CommunicationException"
pid:18 nid:2 exception:setl:com.alibaba.otter.shared.communication.core.exception.CommunicationException: call[172.16.51.223:2088] , Event[AbstractRpcPipe.RpcEvent[key=RpcPipeKey[nid=6,identity=Identity[channelId=9,pipelineId=18,processId=42389],time=1483937363315,dataType=DB_BATCH],type=get]]
Caused by: com.alibaba.dubbo.rpc.RpcException: Invoke remote method timeout. method: acceptEvent, provide

[2017-01-09 05:15] zhuhuawu opened #253 "node日志报错，好像是超时"
Caused by: com.alibaba.dubbo.rpc.RpcException: Invoke remote method timeout. method: acceptEvent, provider: dubbo://172.16.51.223:2088/endpoint?acceptEvent.timeout=50000&client=netty&codec=dubbo&connections=30&iothreads=4&lazy=true&serialization=java&threads=50, cause: Waiting server-side response timeout by scan timer. start time: 2017-01-09 13:10:46.653, end time: 2017-01-09 13:11:36.659, client

[2017-01-09 05:52] zhuhuawu opened #254 "日志报download_error"
id:15 nid:6 exception:setl:com.alibaba.otter.node.etl.common.pipe.exception.PipeException: download_error
Caused by: com.alibaba.otter.node.etl.common.io.download.exception.DataRetrieveException: aborted for some configration error.

[2017-01-09 09:58] jake2009 opened #255 "希望有一个发送邮件测试"
希望有一个发送邮件测试

[2017-01-10 12:18] boboChina opened #256 "binlog2hbase"
我基于cannal客户端写好了一个binlog2hbase的实现，本来想封装到otter现有的代码里面去，目的是使用现有的node机制和监控相关 ，但是导入到eclpse却很多包，插件之类的，请问环境配置需要什么要求：jdk、maven、plugin的版本分别是什么

[2017-01-11 10:42] ziyege opened #257 "rds的slave同步数据到另一个数据库的问题"
现象：
1.使用阿里云主库的一个从库来作为源数据库，把数据同步到另一个数据库里面，bin_log和 row 都开启了，然后测试结果是：ddl操作能够同步无问题，数据的增删改查无法同步。
2.使用相同的 node 和配置 ，从 rds的主库同步数据到另一个数据库，ddl和数据都没有问题。
请问：阿里云从库的同步，不支持吗？或者说有 额外的 配置？ 谢谢！
![image](https://cloud.githubusercontent.com/assets/21215179/21845871/6ba7f9c6-d82f-11e6-96ad-3ee1ead20752.png)

[2017-01-12 03:36] agapple commented on #244
@luoyaogui 你在你的项目里提交一个Pull request给我吧，我可以合并到主干

[2017-01-12 03:37] agapple commented on #248
4.2.14试试这个版本

[2017-01-12 03:37] agapple commented on #211
LS正解

[2017-01-12 03:38] agapple commented on #249
LS正解

[2017-01-12 03:40] agapple commented on #250
这个node_info页面打不开不对业务有任何影响，主要原理是通过RMI访问远程机器来获取一些状态信息

[2017-01-12 03:41] agapple commented on #253
网络超时，重试一下即可

[2017-01-12 03:41] agapple commented on #252
网络超时，重试一下即可

[2017-01-12 03:41] agapple commented on #254
检查aria2c是否有安装

[2017-01-12 03:42] agapple commented on #255
看一下wiki

[2017-01-12 06:12] agapple commented on #257
没有特殊的限制

[2017-01-12 06:13] agapple commented on #256
jdk 1.6+ , maven 3

[2017-01-12 06:14] agapple commented on #251
如果涉及唯一键的变更，建议是先删除后插入的模式，否则针对多个唯一键的记录进行交换的时候会出错

[2017-01-12 06:17] chenchangqun commented on #134
已经解决,原因是fitnesse-20100211.jar和jmockit依赖的mock-0.999.10.jar无法下载
1.otter/lib下有jar，使用install.sh插入到你本地maven仓库
2,修改本地maven资源库中的jtester pom依赖配置，路径为\org\jtester\jtester\1.1.8\jtester-1.1.8.pom

`<dependency>
<groupId>org.fitnesse</groupId>
<artifactId>fitnesse</artifactId>
<version>20130530</version>
</dependency>
<dependency>
<groupId>mockit</groupId>
<artifactId>jmockit</artifactId>
<version>0.999.1</ve

[2017-01-12 07:20] luoyaogui commented on #244
好的

[2017-01-12 07:38] luoyaogui commented on #250
1，如果node启动正常，那么说明node访问manager是没问题的。
2，如果无法查看node的内存信息，那么说明manager访问node有问题，那么：
      a）先关闭node的防火墙看是否正常
      b）如果a无效，那么查看一下manager在访问node经过了哪些机器，确定是否为IP白名单的问题。

[2017-01-12 08:22] ziyege commented on #257
请问：从库同步数据到另一台机器，只能同步ddl，不能同步数据，可能会是什么原因？非常感谢。

[2017-01-13 01:38] aiaix commented on #248
这个个版本升级会影响到现在的同步吗

[2017-01-13 09:32] chenchangqun opened #258 "数据不能同步"
按照教程安装后，数据不能同步，报出

[destination = test_cancal , address = /127.0.0.1:3306 , EventParser] WARN  c.a.o.s.a.i.setl.zookeeper.termin.WarningTerminProcess - nid:1[1:canal:test_cancal:java.lang.NullPointerException
        at com.alibaba.otter.canal.parse.inbound.mysql.MysqlConnection.loadBinlogChecksum(MysqlConnection.java:284)
        at com.alibaba.otter.canal.parse.inbound.mysql.MysqlConnection.dump

[2017-01-13 10:11] #256 closed

[2017-01-15 02:15] chenchangqun commented on #258
确定是4.2.14版本的一个bug
换了4.2.13后好用了。
系统环境如下
java： version "1.7.0_79"
linux:CentOS release 6.5 (Final)

[2017-01-16 05:44] zhuhuawu opened #259 "数据表新增字段报错且挂起"
![image](https://cloud.githubusercontent.com/assets/7868311/21972080/cb2a7fa2-dbf1-11e6-84cf-6753e8d0ed1b.png)

[2017-01-17 05:58] zhuhuawu commented on #251
先删除后插入的模式在哪里开启，第二这种模式是不是会删除已有的数据，造成数据丢失？？

[2017-01-17 05:58] #251 closed

[2017-01-17 13:07] LWT1118 commented on #177
我在搞otter的时侯遇到，zookeeper里面的NodeCount 一直为0,telnet都是通的，憋了好几天，发现少装了服务器上少装了一个nc还是什么的东西，yum装上之后通了。那个东西放到zookeeper地址上的时侯会显示一个找不到命令之类的提示，希望对你有帮助

[2017-01-17 13:24] LWT1118 opened #260 "如何解决mysql主外键约束的问题"
数据库Mysql，一端在美国机房，另一端在阿里云
先从美国机房倒出数据，倒出数据之后启动美国的服务器，然后把导出来的数据导入到阿里云服务器，在这个过程中因为美国的数据库处于启动状态，所以会丢失部分数据。我的问题是如何补回这部分丢失的数据。

先做了一个直接同步的尝试，结果提示主外键冲突，我估计是因为表没有指定顺序，先导入的子表的数据，导致insert失败，后来禁用主外键之后还是同样的错误。

[2017-01-18 11:53] crysmail opened #261 "按照安装步骤安装的，提示地址被占用，然后修改了otter.properties里面的端口地址后重启manage，结果显示超时 [/channelList.htm] ERROR c.a.citrus.turbine.pipeline.valve.HandleExceptionValve - Failed to process request /channelList.htm, the root cause was ConnectException: Connection timed out"
[](url)

[2017-01-19 04:37] agapple commented on #244
tks

[2017-01-19 04:37] #244 closed

[2017-01-19 04:38] agapple commented on #257
可能只读实例没有开启slave日志？

[2017-01-19 04:38] agapple commented on #248
不会影响现有同步，主要是增加了映射规则中源库有DDL变更时，同步刷新一下目标库的表结构

[2017-01-19 04:39] agapple commented on #258
已经在主干中修复，4.2.15会修复这个问题

[2017-01-19 04:40] agapple commented on #259
DDL不支持库表名字不同的同步

[2017-01-19 04:42] agapple commented on #260
可以使用otter的表权重，子表的权重配置>主表，这样可以保证增量同步优先同步主表数据，然后再插入子表

[2017-01-19 04:42] agapple commented on #261
先自我判断一下环境

[2017-01-19 05:13] ziyege commented on #257
开启了的。提了阿里云工单，只是说，阿里云从库的binlog，用户使用不了

[2017-01-19 07:26] LWT1118 commented on #260
@agapple 映射关系里的那里的权重是默认的数字5,要改成子表权重配置>主表这里应该写哪个值？

[2017-01-19 07:56] mylisky opened #262 "同步关闭，某些情况下资源没有释放，导致重启同步时报错Received error packet: errno = 1236, sqlstate = HY000 errmsg = A"
Mysql版本：5.6.34
Otter版本：4.2.14。开启监控但是没有开启心跳

运行一段时间后出现异常：
![image](https://cloud.githubusercontent.com/assets/8588662/22097845/35c1c67c-de5e-11e6-852d-20a1fa88cb21.png)
怀疑是使用相同的SlaveId去请求Mysql Dump了。从Java的dump文件看会出现同一个同步有两个正在运行的MysqlEventParser。
![image](https://cloud.githubusercontent.com/assets/8588662/22098009/02a7fc9c-de5f-11e6-9834-697b4837fba6.png)
截图中的#1和#3这两个实例的running都是=true，并且#3已经没有被
![im

[2017-01-19 08:13] LWT1118 commented on #260
@agapple 又重新看了一遍otter的文档，将权重数字设为了1，还是会报：Caused by: com.mysql.jdbc.exceptions.jdbc4.MySQLIntegrityConstraintViolationException: Cannot add or update a child row: a foreign key constraint fails ……

[2017-01-19 11:00] LWT1118 commented on #260
@agapple 已明白权重，正在重新同步……  谢谢！

[2017-01-19 12:24] agapple commented on #257
binlog对于数据库的压力还好了，CPU影响很小，按照阿里的经验一般是不超过10个slave

[2017-01-19 12:25] agapple commented on #262
MysqlEventParser的stopHeartBeat方法最新master代码已经修复

[2017-01-19 12:25] #260 closed

[2017-01-20 01:25] #257 closed

[2017-01-20 01:49] mylisky commented on #262
除了stopHeartBeat方法外，应该还有其他的问题会导致频繁关闭、启动时MysqlEventParser没有stop（上面的截图就是在修复stopHeartBeat方法后截的），但是具体是什么问题现在还没找出来

[2017-01-23 06:37] LWT1118 opened #263 "自由门到底该怎么触发？"
现在的情况是可以同步数据，但是不触发自由门的数据导入。

环境： otter库、retl库、源库和manager都配置在一台服务器上。但是往retl_buffer表里面用source导入insert的SQL，如：
insert into retl_buffer(TABLE_ID, FULL_NAME,TYPE,PK_DATA,GMT_CREATE,GMT_MODIFIED) values (0,'test.sales_flat_order','I','entity_id',now(),now());
请问执行完SQL之后什么时侯会触发自由门的数据导入？如果触发了有没有什么地方可以查询，如果有异常日志记在哪里？
谢谢！

[2017-01-23 07:18] mylisky commented on #262
看了一下代码，SelectTask线程的主循环里面，如果已经进入while(running)循环时，有线程调用shutdown就会出现资源泄露，MysqlEventParser没有关闭的问题。（即先调用shutdown后调用startup的情况）

![image](https://cloud.githubusercontent.com/assets/8588662/22194706/03e3e288-e17f-11e6-94ad-282dc0b9c937.png)

所以startup和shutdown应该是互斥的。并且执行startup时还需要校验一下running，才能确保shutdown后不会再调用startup

[2017-01-23 08:18] aiaix commented on #218
这个自动恢复功能在那里开启@agapple

[2017-01-23 08:25] wlcwfwyt commented on #218
在监控管理里 “触发自动恢复阀值” 这个选项设置里

[2017-01-23 08:46] aiaix commented on #218
触发自动恢复阀值 默认是2 表示什么含义？

[2017-01-23 08:49] wlcwfwyt commented on #218
异常报警两次后就会自动停止再启channel

[2017-01-23 08:53] aiaix commented on #218
多谢@wlcwfwyt

[2017-01-23 10:04] #263 closed

[2017-01-23 10:05] LWT1118 commented on #263
已可以同步了

[2017-02-06 06:57] LanChunqian opened #264 "同步异常：com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: SimpleDdlParser process query failed."
otter版本：4.2.14
pid:3 nid:3 exception:canal:187canal_208master:com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: SimpleDdlParser process query failed. pls submit issue with this queryString: create table mq_bind(
id BIGINT NOT NULL AUTO_INCREMENT COMMENT '业务无关自增主键',
topic_id BIGINT NOT NULL COMMENT 'exchange id',
queue_name VAR

[2017-02-06 07:54] fashchina opened #265 "升级到otter4.2.14后出现异常"
目前mysql升级到5.7.13，otter升级到4.2.14.
其中manager升级后启动正常，node.deploy启动就报端口冲突，换了2台新机器，也出现同样的问题。
通过命令netstat -tln | grep 2089，并没有多个应用在使用
关闭掉node.deploy，通过netstat -tln | grep 2089命令找不到任何一条匹配数据。。。

把node的端口改成其他的比如3088/3089还是存在类似问题，是应用初始化问题还是？

[root@L-DB-109-70 node.deployer-4.2.14]# tail -f logs/node/node.log
2017-02-06 15:48:17.323 [main] WARN  org.eclipse.jetty.util.component.AbstractLifeCycle - FAILED So

[2017-02-06 09:07] LanChunqian commented on #250
@luoyaogui 你说的都已经试过，而且也都符合，访问还是有问题，请问这会是什么原因？

[2017-02-06 09:33] luoyaogui commented on #250
环境描述再清楚一点吧！能把异常信息贴出来一下不？

[2017-02-06 10:30] agapple commented on #265
我记得默认值不是2089吧，你改过端口参数？

[2017-02-06 10:30] gantts opened #266 "不同的数据库实例往同一数据库实例操作DDL、DML报错"
第一个数据库实例A，往数据库实例D操作，可以成功
后面的数据库实例B、C等，往数据库实例D操作报错
----------------------------
pid:9 nid:1 exception:setl:com.alibaba.otter.node.etl.transform.exception.TransformException: no support ddl for [test2.test_100] to [test.test_100] , sql :CREATE TABLE `test_100` (
`id` int(11) NOT NULL AUTO_INCREMENT,
`name` varchar(32) DEFAULT NULL,
`currDate` datetime DEFAULT CURRENT_TIMESTAMP,
PRIMARY KEY (`id`)
)

[2017-02-06 11:45] fashchina commented on #265
之前用4.2.12都好的，那在manager控制台需要如何调整？

[2017-02-07 03:34] gantts opened #267 "A->B 全库单向同步，由于提前删掉了B下面的表导致错误，如何解决？"
pid:9 nid:1 exception:canal:etl_test2 >> etl2_test2(All):com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: com.google.common.collect.Compu

[2017-02-07 03:55] gantts commented on #266
刚才在看历史的issue，原来DDL只支持源和目标完全一致，包括库名和表名

[2017-02-07 03:55] #266 closed

[2017-02-07 07:19] gantts commented on #267
重新配置canal，跳过错误的位点，已解决。

[2017-02-07 07:19] #267 closed

[2017-02-07 11:39] gantts opened #268 "数据库创建表成功；但otter抛出错误日志，同步任务一直处于运行状态，后续对其他表的DML操作无法同步"
otter版本：4.2.11
mysql版本：5.6.35-log
--------------执行建表语句如下：
CREATE TABLE `test` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `trade_tx_id` bigint(20) NOT NULL COMMENT '交易唯一编码',
  `oper_type` tinyint(1) DEFAULT NULL COMMENT '订单类型1 买方, 2 卖方;3--系统运营人员',
  `oper_pin` varchar(32) DEFAULT NULL COMMENT '操作用户',
  `buyer_pin` varchar(32) DEFAULT NULL COMMENT '买方账户号(目前手机号)',
  `seller_pin` varchar(32) DEFAU

[2017-02-08 06:49] gantts commented on #268
由于数据库名称使用了关键字order，otter有段代码result &= stmt.execute("use " + data.getDdlSchemaName());--这个是otter load模块ddl的处理，默认会加use schema。关键字需要加上符号`` ， 解决办法，修改数据库名称为非关键字，修改otter代码，拼接字符串``

[2017-02-08 06:49] #268 closed

[2017-02-09 02:42] crysmail opened #270 "做双向同步，channel挂起了，pipeline日志显示如下，是因为数据库命名使用错误么。数据库命名是这种格式 xxxxx_db"
pid:1 nid:1 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.jdbc.BadSqlGrammarException: StatementCallback; bad SQL grammar [SELECT COUNT(*) FRO

[2017-02-09 05:05] agapple commented on #270
retl.retl_mark表不存在，按照我的wiki双向同步需要创建一些系统表

[2017-02-10 02:40] aiaix commented on #66
这个问题确实有，我监控里面配置了自动恢复也是不行

[2017-02-10 02:43] aiaix commented on #248
这不是发送在DDL操作中，是在正常的DML过程中时常发生。需要手动重启channel. 除了升级还有其他规避方法吗

[2017-02-13 04:02] gantts opened #274 "数据库命名不规范，导致otter数据同步报错"
1、数据命名含有关键字 如“order"
2、数据命名含有歧义符号 如"test.3.5"

[2017-02-13 04:03] gantts commented on #274
不规范的命名会导致DML、DDL操作都有问题   例如“insert into test.3.5.TableName values(); ”

[2017-02-13 09:10] jingqingshuiyu opened #275 "DbLoadAction.java 366行有错"
otter/node/etl/src/main/java/com/alibaba/otter/node/etl/load/loader/db/DbLoadAction.java，366行，多了")"

[2017-02-14 07:42] gantts opened #276 "otter是否一个channel对映一个线程，配置了一百多个channel，otter会不会挂掉？"
A方案、 一个channel + 一个pipeline + 多个映射关系表
B方案、 一个channel + 一个pipeline + 一个映射关系表

A 方案按业务主题区分，考虑这种配置如果其中一张表挂了，会导致整个pipeline挂起，影响其他表无法同步，因此改为B方案，以表为单位配置 ，已经配置了一百多个channel了，随着表同步需求增多会增加更多。

jstack pid 查看线程有很多，请问是否一个channel对映一个线程，B方案有问题吗，应该采用哪种方式配置呢？

[2017-02-15 02:43] dusonchen commented on #265
https://github.com/alibaba/otter/releases 4.2.14 版本的下载不了，速度一直是0K，麻烦重新上传下

[2017-02-15 08:54] aiaix commented on #265
4.2.14如果基于某个位点开始同步，是基于以前的binlog+pos,还是用GTID？？

[2017-02-15 09:03] fashchina commented on #265
基于以前的binlog+pos,数据库没有开启GTID。后面我把数据库数据都删除后，node启动成功，但是我又得重新配置一遍，痛苦。。

[2017-02-15 09:05] fashchina commented on #265
@dusonchen
我把文件传到我的百度云山了，您可以通过下面地址下载
node--》http://pan.baidu.com/s/1pKEdgqZ
manager--》http://pan.baidu.com/s/1hs81YwW

[2017-02-17 16:56] tithonus163 opened #277 "初学者 安装问题"
要实现:
[A机mysql] ==单项同步==>[B机mysql]

自己都感觉是白痴的问题: 刚开始了解,见谅..
otter的mysql,manager,zookeeper,node,aria2都必须安装在哪台主机上?

可以像下面的这样安装吗?
[A机mysql] ===> [X机安装mysql,manager,zookeeper,node,aria2] ===>[B机mysql]

能列出A/B/X机上必须安装的软件是哪些吗?

A机若是RDS.除了开log-bin=mysql-bin,binlog_foramt=ROW需要配置些什么?

[2017-02-18 08:50] wangqi7 commented on #147
重新打开一个网页即可解决这个问题

[2017-02-21 10:05] suhuaguo opened #278 "延迟告警信息没有收到"
在 DelayStatRuleMonitor 中 checkDelayTime(AlarmRule rule, Long delayTime) 这个方法
的 代码片段：
if (delayTime >= maxDelayTime * 1000) {
            sendAlarm(rule, String.format(DELAY_TIME_MESSAGE, rule.getPipelineId(), delayTime));
            return true;
        }

delayTime 是 秒。而 maxDelayTime * 1000 这个表示是 毫秒了。所以。就不能发送告警了

[2017-02-21 13:35] chenxiaozhong commented on #246
@agapple  4.2.13这个版本有问题吗？

[2017-02-21 14:38] chenxiaozhong commented on #246
场景：a表有trust_id，advisor_id  ， b表有cloumn_id
字段映射配置了advisor_id -> 目标b表的字段cloumn _id
想要这样子，如果advisor_id的值为空字符或者数据库的null，则采用trust_id字段的数据同步到cloumn _id，麻烦指导一下
 @agapple

[2017-02-22 09:14] MiaoZhou opened #279 "mysql为两台机器内网ip时，抛出 SelectException，Communications link failure"
在局域网中，尝试了如下架构

zookeeper: 192.168.1.2:2181
manager1: 192.168.1.2:8080
db: 192.168.1.2:3306 供manger使用的数据库

manager2: 192.168.1.3:8080
node1: 192.168.1.3:2088
node3: 192.168.1.3:2091
db1: 172.16.2.2:3306 docker启动的mysql，仅192.168.1.3可访问

node2: 192.168.1.4:2088
node4: 192.168.1.4:2091
db2: 172.16.3.2:3306 docker启动的mysql，仅192.168.1.4可访问

所有服务启动成功，按照wiki文档在manager中配置好db1->db2的单向同步
select 选择 node1 node3

[2017-02-23 04:04] LanChunqian commented on #250
@luoyaogui  抱歉隔了这么久才回复。
node和manager部署在同一台机器上，node可以正常启动，也可以正常使用，但是在Otter Manager的机器管理中无法查看node信息，错误信息如下：
HTTP ERROR 500

Problem accessing /node_info.htm. Reason:

    Failed to invoke Valve[#2/3, level 3]: com.alibaba.citrus.turbine.pipeline.valve.PerformTemplateScreenValve#5785e813:PerformTemplateScreenValve

Caused by:

com.alibaba.citrus.service.pipeline.PipelineException: Failed to invoke Va

[2017-02-26 14:55] GreenJoson commented on #72
@tonshine 什么叫做数据库表出现数据。。源库里面一直有数据，需要新增这些的，需要删除哪些？我也遇到这个问题，运行一段时间就这样

[2017-03-01 02:49] jimhj opened #280 "突然报了这个错误，同步失败了 pid:1 nid:1 exception:canal:canal1:java.lang.NullPointerException"
pid:1 nid:1 exception:canal:canal1:java.lang.NullPointerException
    at com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser.findStartPositionInternal(MysqlEventParser.java:398)
    at com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser.findStartPosition(MysqlEventParser.java:313)
    at com.alibaba.otter.canal.parse.inbound.AbstractEventParser$3.run(AbstractEventParser.java:162)

[2017-03-01 13:29] GreenJoson commented on #280
突然间也报这个，不知道什么问题~

[2017-03-01 13:32] jimhj commented on #280
数据库是阿里云RDS，可能跟阿里云RDS突然间断网有关系，数据同步不一致了，发生了错误。只能手动清理了一些错误数据，然后删除同步位点重启channel了

[2017-03-02 09:06] LWT1118 opened #281 "Error converting from 'String' to 'BigDecimal' null"
在同步的过程中报出如下异常，请问这个问题该怎么排查呢，是表里面某个字段为null引起的?
pid:1 nid:1 exception:setl:com.alibaba.otter.node.etl.extract.exceptions.ExtractException: java.util.concurrent.ExecutionException: org.apache.commons.beanutils.ConversionException: Error converting from 'String' to 'BigDecimal' null
Caused by: java.util.concurrent.ExecutionException: org.apache.commons.beanutils.ConversionException: Error converting fr

[2017-03-04 01:59] stuxiebin opened #282 "node重启后，同步时断时续的挂起"
otter同步过程中，发现一个node不明原因的停止了，重启node后，没一会儿同步就挂起，
解挂 按钮为灰色，点击推送后也没效果，
![default](https://cloud.githubusercontent.com/assets/19545894/23574966/6cd82ed8-00c0-11e7-9a40-78bf6fb776cf.PNG)

查看了日志信息，持续的显示如下：
![default](https://cloud.githubusercontent.com/assets/19545894/23574994/e17abfda-00c0-11e7-8a6b-6da52649d479.PNG)

pid:15 nid:null exception:channel:can't restart by exist process[7738405,7738406,77384

[2017-03-05 07:57] dmnwuguo commented on #263
你好，请问你是怎么处理好的呢，能说明一下吗？ 谢谢

[2017-03-05 14:36] westboy2000 opened #283 "同步到oracle时报错：SQL state [null]; error code [17004]; Invalid column type"
pid:1 nid:1 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.jdbc.UncategorizedSQLException: PreparedStatementCallback; uncategorized SQLExceptio

[2017-03-06 03:21] westboy2000 commented on #283
不好意思，找到原因了：oracle的表字段类型，用的是NVARCHAR2，转换的时候报错。改为VARCHAR2以后就正常了。

[2017-03-06 08:32] #283 closed

[2017-03-07 05:48] cabbage89 commented on #88
otter数据库canal表中的 NAME为空的数据删除，一般是在添加canal时没有填写name直接保存出现

[2017-03-09 01:46] MiaoZhou opened #284 "主机hostname为数字时，无法查看运行中的node"
hostname为118，局域网ip为192.168.1.118
zookeeper: 192.168.1.118:2181

manager、node运行在同一台机器
manager配置文件domainName设置为公网ip，数据库连接和zookeeper做相应的修改
node配置otter.manager.address = 公网ip:1099

manager页面可正常访问，node也正常运行（manager中没有设置为外部ip，使用192.168.1.118）
node列表页点击查看时，报错
分析log可知，otter需要取host address，而取到的ip为 0.0.0.118，导致连接不上

不知道能不能添加个配置项，当包含配置时，就不通过hostname取ip了，或者是其他的解决方案

详细log如下：

[2017-03-09 01:50] MiaoZhou commented on #275
确实有这个问题，@sun7059 已经提交了个mr #273，但是还没合进去

[2017-03-15 10:07] July-G opened #285 "DbLoadAction line 366 has compile error"
`result &= stmt.execute("use `" + data.getDdlSchemaName() + "`"));`
多了个括号，应该是手误。

[2017-03-17 03:56] GreenJoson opened #286 "如何设置同步的频率，日志老撑爆硬盘"
请教下，如何设置otter同步推送的频率，1分钟都产生几个日志，硬盘时不时就撑爆，有没有办法设置同步的频率，比如几个小时同步一次之类的？

[2017-03-17 03:58] GreenJoson commented on #265
我用4.2.13目前还可以，4.2.14一直用不了，同步不成功，各种错误

[2017-03-17 11:14] agapple commented on #274
oracle没有做转义，mysql做了

[2017-03-17 11:15] agapple commented on #276
建议A方案，降低对mysql binlog dump的压力

[2017-03-17 11:15] agapple commented on #277
先看一下quick start

[2017-03-17 11:17] agapple commented on #278
tks

[2017-03-17 11:18] agapple commented on #278
d028d470727e4419056ec8d9c0e8e8e50d00a0fa

[2017-03-17 11:18] #278 closed

[2017-03-17 11:20] agapple commented on #279
Caused by: java.net.ConnectException: Connection timed out
网络问题我不太懂

[2017-03-17 11:21] agapple commented on #280
可能是低版本的bug，等我发布一个最新的canal版本

[2017-03-17 11:22] agapple commented on #281
你用了自由 门造数据？

[2017-03-17 11:23] agapple commented on #282
这异常是指上一个任务没停止成功，需要多停止几次同步任务，然后再启动

[2017-03-17 11:24] agapple commented on #284
java.net.SocketException: Invalid argument or cannot assign requested address
at java.net.PlainSocketImpl.socketConnect(Native Method)

[2017-03-17 11:24] gantts commented on #274
同步的数据库是mysql5.6.34  otter版本为4.2.12    没办法修改数据库名了，取消了关键字和符号"."

[2017-03-17 11:25] #275 closed

[2017-03-17 11:25] #285 closed

[2017-03-17 11:25] agapple commented on #286
这是增量同步，不是单纯ETL工具，不能控制时间

[2017-03-17 11:25] gantts commented on #276
已使用A方案，谢谢

[2017-03-18 01:55] LWT1118 commented on #281
对，使用了自由门，我正在看源代码，定位到DatabaseExtractWorker.buildTableData方法的 `data.columnValues[i] = SqlUtils.stringToSqlValue(keyColumn.getColumnValue(),
                            tableColumn.getTypeCode(),
                            tableColumn.isRequired(),
                            false);`
从报错上应该是数据库里面有一个类型为decimal的字段值为null在转BigDecimal的时侯失败了，数据库为mysql，但是因为表非常多，不容易查找。
我看到ConvertUtilsBean类的convert方法里面有
`if

[2017-03-18 03:56] GreenJoson commented on #286
好，谢谢老大百忙回复

[2017-03-18 07:08] LWT1118 commented on #281
目前otter采用的版本为4.2.13

[2017-03-20 02:04] LWT1118 commented on #281
经过查看代码发现当mysql数据类型为numeric或者decimal的时侯会转成java的BigDeicmal。
经过查找，只找到了两张表的联合主键里面某个字段为decimal类型，但是这两张表里面都没有数据……

[2017-03-21 03:44] LWT1118 commented on #281
问题已解决，原因是retl_buffer的pk_data写入了列的名称而不是value

[2017-03-21 03:44] #281 closed

[2017-03-23 07:37] operands opened #287 "如何配置一对多映射？"
官方文档上提到otter支持一对多的字段映射，但我试了几种方法都无法实现
我的做法如下：
有A、B两个库
A库：a表（pk、m、n三个字段，pk为主键）
B库：b表（pk、m1）、c表（pk、n1）
映射1：a表{pk、m}->b表{pk、m1}
映射2：a表{pk、n}->c表{pk、n1}
测试结果：
我把映射1和映射2配置到了一个pipeline中，测试发现m变化能触发m1变化，但n变化n1却不变，并且node和manager没有挂起和出现任何异常,load日志也没有任何打印。
我又尝试了把映射1和映射2的源表配置为不同编号的数据表，但实际上是指向同一个表，还是不行。
请问一对多映射我这种配置方式有什么问题吗？正确的方式应该怎样配呢？难道要配置多个channel么？

P.S.
我尝试修改ViewExtractor类源码，实现了在一个pipeline下配置多个映射达到一对多映射的效果

[2017-03-24 02:36] branttsai opened #288 "监控报警设置"
老大，请问如何设置监控报警邮件？谢谢。

[2017-03-24 06:36] tcgdy0201 opened #289 "目前能否支持mysql同步至sqlserver？"
看了intro页说是依赖canal的支持情况，想了解下目前是否支持同步至sqlserver？

[2017-03-25 18:18] Nem0Wang opened #290 "maven打包时报错"
[ERROR] Failed to execute goal on project shared.common: Could not resolve dependencies for project com.alibaba.otter:shared.common:jar:4.2.15-SNAPSHOT: Failed to collect dependencies at org.jtester:jtester:jar:1.1.8 -> mockit:jmockit:jar:0.999.10: Failed to read artifact descriptor for mockit:jmockit:jar:0.999.10: Failure to find mockit:mockit:pom:0.999.10 in http://repo1.maven.org/maven2 was cac

[2017-03-26 16:31] dossec commented on #282
我在测试中也遇到挂起，是因为node挂了。

[2017-03-27 01:53] Nem0Wang commented on #290
jtester-1.1.8.pom 里的 org.fitnesse:fitnesse 20100211 maven仓库里没有 我换成了20111025版本
mockit:mockit 0.999.10 也没有 我换成存在的0.999.4 这样编译打包才能成功 不知这样有影响吗？

[2017-03-28 02:35] agapple commented on #290
我本地lib下有一个install脚本吧，操作一下这个试试

[2017-03-28 02:36] agapple commented on #282
停止任务，重新启动，多试几次就能恢复，毕竟是分布式系统有一些网络不确定因素

[2017-03-28 02:36] #282 closed

[2017-03-28 02:37] agapple commented on #289
sqlserver默认不支持，需要扩展一下代码，增加jdbc驱动

[2017-03-28 02:38] agapple commented on #288
otter.properties里有邮件地址配置

[2017-03-28 04:16] Nem0Wang commented on #290
install脚本我肯定执行过了，而且都是build sucess添加到本地库。我和同事编译都遇到了上面的错误，远程maven库的确是没有项目里配置的几个依赖版本。

[2017-03-28 06:48] agapple commented on #287
目前一张表有两个不同的view配置，会有一些影响，的确是会有一些问题

[2017-03-28 06:49] agapple commented on #287
分成两个任务把

[2017-03-28 07:50] operands commented on #287
我自己修改了ViewExtractor和RowDataTransformer类源码，实现了上述多个view的映射的效果，自测各种情况暂时没有发现问题。能否把diff发给您帮忙review一下呢？

[2017-03-29 06:43] operands commented on #287
@agapple

[2017-03-29 06:57] leiy88 commented on #280
4.2.15始终报这个错，无法同步，有解决方法没？

[2017-03-30 02:06] xmas120654 opened #292 "请问多表合并时候增加源表字段导致channel挂起的问题"
您好，我在使用otter做多表数据的合并，100张表tb_table_0到tb_table_99的数据合并到另外一个数据库的tb_table_all表中，两个数据库的使用的schema一样。当我对这100个表增加了一个字段之后，otter挂起，日志中显示
2017-03-29 23:35:59.283 [pipelineId = 9,taskName = transformWorker] WARN  c.a.o.s.a.i.setl.zookeeper.termin.WarningTerminProcess - nid:1[9:setl:com.alibaba.otter.node.etl.transform.exception.TransformException: no support ddl for [test.tb_table_1] to [test.tb_table_all] ,

[2017-03-30 03:44] ziyege opened #293 "pid:1 processIds:3658678 elapsed 65 seconds 导致原因"
群主，otter 偶尔出现这类日志：
pid:1 processIds:3658678 elapsed 65 seconds
pid:1 processIds:3658646,3658648,3658650 elapsed 70 seconds
这是什么原因啊？会影响数据吗

[2017-03-31 03:56] liyongcun opened #294 "delete from table syntax error"
2017-03-23 19:36:47.896 [Otter-Seda-Executor-10] WARN  com.alibaba.otter.node.etl.load.loader.db.DbLoadAction - ##load phase one failed!
java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.jdbc.BadSqlGrammarException: PreparedStatementCallback; bad SQL grammar [delete from `world`.`plat_user` where ]; nested exception is java.sql.Ba

[2017-04-01 13:06] agapple commented on #292
差异的库表结构目前不支持

[2017-04-01 13:06] agapple commented on #293
多停止几次，然后再启动

[2017-04-01 13:07] agapple commented on #294
无主键的表？

[2017-04-06 02:11] #249 closed

[2017-04-06 07:30] agapple opened #296 "支持一下mysql异构库表名的同步"
比如支持一下 test1.table1 映射为 test2.table2的DDL同步，需要解析DDL完整语法进行重写SQL

[2017-04-06 08:48] #296 closed

[2017-04-07 02:23] liyongcun commented on #294
对的，做功能测试的，生产都是有主键的

[2017-04-07 06:27] youngJavabird opened #297 "启动node 闪退，请大神指点"

[2017-04-07 06:53] #297 closed

[2017-04-07 07:25] dossec opened #298 "otter manager界面如何关闭匿名访问"
匿名访问可以看到一些配置信息，在外网不安全，如何关闭呢？谢谢！

[2017-04-07 09:46] tmriver opened #299 "update 字段 null-->空串''时 MySQLSyntaxErrorException"
1，表结构
CREATE TABLE `User` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `mobile` varchar(255) DEFAULT NULL,
  `num` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;

2，现有数据
INSERT INTO `User` VALUES (1, 'aaabcdf', '11', null);

3,update 操作
update User set num='' where id=1;

4，执行 mysqlbinlog --base64-output=dec

[2017-04-07 10:26] tmriver commented on #299
调用栈：
CanalEntry$RowChange$Builder(AbstractMessageLite$Builder<BuilderType>).mergeFrom(ByteString) line: 122
CanalEntry$RowChange$Builder(AbstractMessage$Builder<BuilderType>).mergeFrom(ByteString) line: 695
CanalEntry$RowChange.parseFrom(ByteString) line: 4728

想改的话比较危险。

暂时考虑直接跳过这种EventData。但这样会丢失 null --> ‘’ 操作

[2017-04-07 10:42] tmriver commented on #299
或者在rowChange = RowChange.parseFrom(entry.getStoreValue());之后
再做一次检查，如果所有字段column.getUpdated()都为false的话，再逐个比较重置一下。

[2017-04-08 09:03] agapple commented on #298
需要做一些系统改造

[2017-04-08 09:04] agapple commented on #299
印象中之前有人提交过一次PR，你再更新一下最新版试试？

[2017-04-08 09:06] agapple commented on #294
otter不支持无主键表同步

[2017-04-09 15:18] dossec commented on #298
@agapple 能说的具体点吗，要个性哪些设置呢，谢谢！

[2017-04-11 03:04] angelmm126 opened #300 "Table 'ent_package_protocol_copy' already exists"
pid:1 nid:1 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.jdbc.BadSqlGrammarException: StatementCallback; bad SQL grammar []; nested exception is com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorExcep

[2017-04-11 03:17] dossec commented on #179
@Fredwt 如何解决的？

[2017-04-12 03:03] tmriver commented on #299
可以了，升级到v4.2.13就可以了，原来用的是4.2.13-snapshot，依赖的是canal-parse-1.0.20。
https://github.com/alibaba/canal/issues/135这里修复的。
这几天忙其他事情了，没顾上这个。
另外v4.2.14不支持mysql5.5，期待v4.2.15

非常感谢！

[2017-04-12 03:18] defconzhou opened #301 "otter-manager为什么只能添加嵌入式的canal节点？（独立服务那个选项无法选中）"
如果添加的是嵌入式的，canal自己本身能HA吗？

![image](https://cloud.githubusercontent.com/assets/2505581/24939692/b1f5eba2-1f71-11e7-98a9-9fda9113634a.png)

[2017-04-12 10:57] aiaix opened #302 "otter升级有步骤吗，升级会继续从中断的地方自动开始复制？"

[2017-04-14 03:50] dearplain opened #303 "不能全量同步"
两个mysql，开启了binlog，初始化了retl。
表结构如下：
CREATE TABLE  `test`.`example` (
  `id` int(11)  NOT NULL AUTO_INCREMENT,
  `name` varchar(32) COLLATE utf8_bin DEFAULT NULL ,
   PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
在example插入10多条数据，然后起双向同步，
执行：
insert into retl.retl_buffer(ID,TABLE_ID, FULL_NAME,TYPE,PK_DATA,GMT_CREATE,GMT_MODIFIED) (select null,0,'test.example','U','id',now(),now() from te

[2017-04-14 06:17] dearplain commented on #303
canal也配了，能正常双向同步。

[2017-04-19 08:43] zvrr commented on #134
依赖配置修改成什么？

[2017-04-19 09:09] VicenteVan opened #305 "couldn't query any pipeline by pipelineIds"
数据库同步不成功，监控管理中没有错误日志，查看manager日志，显示如下：
2017-04-19 17:00:36.168 [/log_record_list.htm] ERROR c.a.o.m.biz.config.pipeline.impl.PipelineServiceImpl - ERROR ## couldn't query any pipeline by pipelineIds:[2]
2017-04-19 17:00:36.168 [/log_record_list.htm] ERROR c.a.o.m.biz.config.pipeline.impl.PipelineServiceImpl - ERROR ## query pipelines has an exception!
2017-04-19 17:00:36.168 [/log_record_list.htm]

[2017-04-20 05:58] soniazhai commented on #177
@hjjoe1213123 这个问题最后搞定了吗？怎么解决的？

[2017-04-20 06:48] dearplain commented on #279
遇到同样问题，难道mysql的地址要暴露到公网？用内部地址无法成功。 @agapple

[2017-04-20 08:36] tonyiweb opened #306 "怎么配置A<-->B,A<-->C,A<-->D这样的双向回环？"
怎么配置A<-->B,A<-->C,A<-->D这样的双向回环？
其中A,B,C,D都是一个独立的数据库。

[2017-04-20 09:00] soniazhai opened #307 "配置好node后，有一个node节点状态“未启动”，怎么处理"
配置了三个node
另外两个都正常启动了
只有第三个报错
但根据日志node.log，似乎是IP地址问题，但检查了N遍，实在看不出问题出在哪？
有人遇到过吗？
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=128m; support was removed in 8.0
2017-04-20 16:55:07.457 [main] WARN  com.alibaba.otter.shared.common.utils.AddressUtils - Failed to retriving local host ip address, try scan network card ip address. cause: app18: app18: unknown error
2017-04-20 16:

[2017-04-20 09:02] #307 closed

[2017-04-20 14:52] clover1983 opened #308 "otter多Ａ机房同步"
请问谁做过ｏｔｔｅｒ多Ａ机房同步？
如果有四个机房，香港，美国，澳洲，法国，如果实现多Ａ同步，不是单向同步，而是每个节点都可以写入，最终数据一致性？

下面这个架构可行吗？
http://blog.csdn.net/zhxdick/article/details/50808040
![20160306094412805](https://cloud.githubusercontent.com/assets/14799412/25237006/71652462-25b7-11e7-883a-34abec5fae5b.png)

[2017-04-24 03:06] aricy opened #309 "otter 4.2.14同步json报错"
pid:1 nid:5 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.dao.DataIntegrityViolationException: PreparedStatementCallback; SQL [insert into `ga

[2017-04-25 07:27] duson opened #310 "一数据源多节点，有些节点延时严重"
源目标是一个数据库，后面有20多个子节点同步里面的几个表。运行一段时间后，有几个节点的Bin-log的Position还是很早之前的。日志中不断输出：
[destination = xxx , address = /x.x.x.x:3306 , EventParser] WARN  c.a.o.canal.parse.inbound.mysql.dbsync.DirectLogFetcher - Received EOF packet from server, apparent master disconnected. It's may be duplicate slaveId , check instance config

在“同步进度”中查看的信息中"identity":{"slaveId":-1, 因为几个节点都是部署在不同的机器上，slaveId都是-1，不知道是不是这个原因导致

[2017-04-25 07:31] duson commented on #241
这个问题应该是判断日志的名称错误导致的。上一个版本，在“同步进度”查看，可发现 "journalName":"bin-log.000041xxx"，会多出4个随机字符，当运行久了就会报打不到日志。新版本好像是修复了

[2017-04-25 10:16] liyongcun commented on #300
更新新版本后，我也出现相同问题，但设置不同步ddl后恢复，就正常了

[2017-04-27 07:29] liyongcun commented on #298
通过防火墙 ip+port 实现拦截

[2017-05-02 10:08] lilykyung commented on #293
我也遇到了，经常报此类warn，但貌似不会影响同步
另外群主，otter经常显示定位中，且同步会出现延时，一般是什么情况导致的啊

[2017-05-04 03:04] lilykyung opened #311 "mainstem状态显示定位中且伴随延时"
otter版本4.2.12，两个数据库内网之前双向同步，setl使用同一个node，并行度为2，运行一段时间后，mainstem状态显示为定位中，此时binlog即使有变化也不会读取，几分钟后恢复正常，查看selector日志，显示定位中时，select不读取，几分钟后恢复正常时select会从上一个位点读取，感觉像是回滚了：
举例：
selector日志第一个显示：
****************************************************
* Batch Id: [165] ,total : [10] , normal : [2] , filter :[8] , Time : 2017-05-03 17:43:22:450
* Start : [mysql-bin.000693:339691912:1493804602000(2017-05-03 17:4

[2017-05-08 05:52] angelmm126 commented on #300
不同步DDL的话，如果主库修改了表结构，从库就无法更新表结构信息了！

[2017-05-11 06:10] agapple commented on #300
应该是DDL重复同步的问题了，表已经存在

[2017-05-11 06:11] agapple commented on #311
mainstem状态显示为定位中，应该是这个搞的鬼，建议开启一下心跳或者超时监控，自动重启任务

[2017-05-11 06:13] agapple commented on #293
定位中估计还是一段时间没收到mysql binlog数据的问题，考虑开启定时心跳？
issue中对应的异常日志是指单个process执行时间过长

[2017-05-11 06:14] agapple commented on #310
换canal 1.0.24试试

[2017-05-11 06:15] agapple commented on #309
insert into gaea.test(id , jsonvalue , name) values (? , ? , ?) on duplicate key update id=values(id) , jsonvalue=values(jsonvalue) , name=values(name)]; Data truncation: Cannot create a JSON value from a string with CHARACTER SET 'binary'.，感觉是编码设置问题？

[2017-05-11 06:15] agapple commented on #308
可行的

[2017-05-11 06:15] agapple commented on #306
可行的

[2017-05-11 06:17] agapple commented on #305
估计你删除过pipeline

[2017-05-11 06:20] agapple commented on #302
是的，升级就是替换软件包，位点保存在zookeeper中

[2017-05-11 06:20] agapple commented on #301
是的，高可用是通过otter调度来保证的

[2017-05-11 06:44] defconzhou commented on #301
谢谢！

[2017-05-11 06:44] #301 closed

[2017-05-11 09:49] angelmm126 commented on #311
怎么设置超时监控？是这个么“默认连接超时：	”，如果超时，是不是会自动重启？还是需要设置重启

[2017-05-11 09:57] angelmm126 commented on #300
我这边出现的是表并未存在，是我手动的添加的表

[2017-05-12 01:12] duson commented on #310
换了canal 1.0.25后，仍然会报:
2017-05-12 09:06:45.529 [destination = mall , address = /172.30.248.148:3306 , EventParser] WARN  c.a.o.canal.parse.inbound.mysql.dbsync.DirectLogFetcher - Received EOF packet from server, apparent master disconnected. It's may be duplicate slaveId , check instance config

[2017-05-12 09:25] lilykyung commented on #311
超时监控已经加了，默认1min，但是还是会有定位中，这个和stel使用同一个node有没有关系，我把node分开，select的node离源数据库近一点是不是会好一些？

[2017-05-13 02:09] qdql opened #313 "阿里云RDS binlog 丢失问题"
运行几天就会出现找不到binlog文件问题，mainstem状态就是一直处于定位状态，position 状态中的"journalName":"mysql-bin.000xxx"已经不在阿里云RDS “show binary logs;” 列表中了，问题可能和链接页面 http://www.tuicool.com/articles/NrqMBrE 描述的问题有些相似。
日志中就会出现：
pid:3 nid:1 exception:canal:canal_3:java.io.IOException: Received error packet: errno = 1236, sqlstate = HY000 errmsg = Could not find first log file name in binary log index file
at com.alibaba.otter.canal

[2017-05-16 08:23] angelmm126 opened #314 "java.sql.SQLException: Incorrect string value: '\xEF\xBF\xBD\xEF\xBF\xBD...' for column 'tmall_stu_nick' at row 1,编码均为UTF8，同步报此错误是什么问题"
pid:7 nid:1 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.jdbc.UncategorizedSQLException: PreparedStatementCallback; uncategorized SQLExceptio

[2017-05-16 09:17] qdql commented on #313
问题找到了，是ddl语句同步出错，导致position不更新导致

[2017-05-16 09:18] qdql commented on #314
改成utf8mb4

[2017-05-16 10:17] angelmm126 commented on #314
找到原因了，库为UTF8,但是表为GBK

[2017-05-16 11:51] changgenzhang opened #315 "Lock wait timeout exceeded 导致同步停止，不能恢复。"
pid:23 nid:2 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.dao.CannotAcquireLockException: PreparedStatementCallback; SQL [update `collie`.`us

[2017-05-16 11:52] changgenzhang commented on #315
Hi，请帮忙看一下，谢谢？

[2017-05-17 02:03] sansom opened #316 "exception:setl:load miss data with keys"

[2017-05-17 02:04] #316 closed

[2017-05-17 03:52] operands opened #317 "manager的canal配置中的默认连接超时设置不起作用"
我在canal配置上看到默认连接超时是30s，个人理解是canal通过socket读取binlog，超过30s没有数据就会报timeout异常，不知道理解对不对？
我看代码中是通过SocketChannel.read获取数据库的binlog的（DirectLogFetcher.fetch0方法），但这个方法貌似是永久阻塞的，不支持超时设置（见http://bugs.java.com/bugdatabase/view_bug.do?bug_id=4614802）
因此canal的默认连接超时配置不起作用，我的试验结果也确实是这样，请问设计者这个超时设置是如何工作的呢？

[2017-05-17 10:10] angelmm126 commented on #315
我也遇到过这种锁表的情况，报了几次锁表后没有抛出异常，但同步停止，停用后重启才同步。未找到解决办法

[2017-05-18 06:56] whaon opened #318 "RMI Java Deserialization Remote Code Execution Vulnerability (OID: 1.3.6.1.4.1.25623.1.0.105765)"
装了otter node的机器被扫描出了漏洞
[code]
端口为2090
这个是怎么回事呢

[2017-05-18 07:36] whaon commented on #318
@agapple otter有用到Apache Commons Collections (ACC)的包么，我看lib下有commons-collections-3.2.1.jar，但是我删掉这个包，然后可以正常启动otter node，这是什么情况

[2017-05-18 08:19] lilykyung commented on #311
此问题已解决，解决办法：将S/E节点放在源数据库所在服务器，T/L放在目标数据库所在服务器，目前延时时间为0.5s且未出现过定位中的问题
ps：实验了一下，将node放在和数据库同一个网段，延时时间也能得到很大改善，感觉otter和网络有很大关系

[2017-05-22 08:23] duson commented on #310
附加一些其它信息：多个节点是在同一个数据库服务器中的不同的数据库。
是不是因为这样，所以被认为是重复的从库，只解析了一个，其它忽略了？但是我停止Channel，然后启动，又能继续将之前没同步的同步过来

[2017-05-22 11:54] dnfhujun commented on #151
那请问怎么开启    忽略DDL同步异常

[2017-05-23 05:57] heroghost opened #319 "单向数据同步，同步一直报错"
你好，单向同步无法同步，一直报这个异常
pid:1 nid:1 exception:canal:canal1:java.lang.NullPointerException
at com.alibaba.otter.canal.parse.inbound.mysql.MysqlConnection.loadBinlogChecksum(MysqlConnection.java:284)
at com.alibaba.otter.canal.parse.inbound.mysql.MysqlConnection.dump(MysqlConnection.java:113)
at com.alibaba.otter.canal.parse.inbound.AbstractEventParser$3.run(AbstractEventParser.java:209)
at java.lang.Th

[2017-05-23 07:24] heroghost commented on #258
我换成4.2.13还是报这个错

[2017-05-23 08:20] heroghost commented on #258
otter和node一起更换到4.2.13才有用

[2017-05-23 08:21] heroghost commented on #319
otter和node一起更换到4.2.13解决这个问题。据说是4.2.14的Bug

[2017-05-23 08:27] heroghost commented on #319
![image](https://cloud.githubusercontent.com/assets/2017291/26345140/8fc9e32a-3fd4-11e7-8c7c-e55e074e6c69.png)

我用这种映射方式，会报错
pid:1 nid:2 exception:setl:com.alibaba.otter.node.etl.transform.exception.TransformException: name is not found in column pairs: {id=[account_id]}

[2017-05-23 16:25] conglun opened #320 "同步过程中创建无数database connection"
pool size设置为5， 但后台数据库出现过百连接；

## otter communication pool size
otter.communication.pool.size = 5

mysql 设置
+-----------------------------+----------+
| Variable_name               | Value    |
+-----------------------------+----------+
| connect_timeout             | 10       |
| delayed_insert_timeout      | 300      |
| have_statement_timeout      | YES      |
| innodb_flush_log_at_timeout | 1

[2017-05-24 09:45] SunBinWang commented on #309
| character_set_client     | utf8                                 |
| character_set_connection | utf8                                 |
| character_set_database   | utf8mb4                              |
| character_set_filesystem | binary                               |
| character_set_results    | utf8                                 |
| character_set_server     | utf8mb4

[2017-05-24 09:54] aricy opened #321 "提示same server_uuid/server_id报错，但检查各节点都没有冲突"
pid:23 nid:1 exception:canal:xxxx:java.io.IOException: Received error packet: errno = 1236, sqlstate = HY000 errmsg = A slave with the same server_uuid/server_id as this slave has connected to the master; the first event 'mysql-bin.000037' at 380571072, the last event read from './mysql-bin.000037' at 380582680, the last byte read from './mysql-bin.000037' at 380582680.
at com.alibaba.otter.canal.

[2017-05-24 10:27] yyangh opened #322 "主库表结构修改引起的问题？请问怎么解决，谢谢！"
A到B的单向同步
otter安装好以后，一开始一切同步正常，B的数据比A滞后10天，在B开始同步到第九天的时候，A的表t_goods_item的表增加了三个字段range_entity_type， type_id,  range_id，otter却报错了，报错内容如下：

pid:6 nid:1 exception:setl:com.alibaba.otter.node.etl.transform.exception.TransformException: range_entity_type is not found in Table [name=t_goods_item; 14 columns] and source : goods.(.*).(.*)

会不会A的表结构修改后，node检查的时候，发现两边表结构不一致，而停止同步？
怀疑是不是跟反查机制有关，node去反查的时候，发现两

[2017-05-25 03:37] angelmm126 opened #323 "pid:6 nid:1 exception:mainstem:pid:6 canal elapsed 50 seconds no data此异常怎么解决"
pid:6 nid:1 exception:mainstem:pid:6 canal elapsed 50 seconds no data
偶尔会报此异常，但是不影响同步，求大神指点什么原因导致，有什么解决办法

[2017-05-25 09:43] tmriver commented on #321
我也遇到了，双向同步时，canal 1.0.22

[2017-05-25 12:47] tmriver commented on #280
我也遇到了，双向同步时

[2017-05-26 03:03] angelmm126 opened #324 "Otter中存在多个Channel进行同步，当其中一个一直报异常的（一个小时左右异常），会影响其它的Channel同步，同步会停止，求大神指点一下是什么原因，咋解决"
Otter中存在多个Channel进行同步，当其中一个一直报异常的（一个小时左右异常），会影响其它的Channel同步，同步会停止，求大神指点一下是什么原因，咋解决？
影响的Channel无异常，工作状态正常，就是不同步。

[2017-05-26 03:22] angelmm126 commented on #248
用的已经是4.2.14这个版本，同步中还是会出现错误：find table [llyt.t_ll_secret] error to 错误：find table [schema.t_ll_xxx] error

[2017-05-26 07:23] #299 closed

[2017-05-26 11:41] vincent0202 opened #325 "replace into 的数据和数据库中的数据一样会报错"
在源sql上执行
REPLACE INTO test.`user_province`(username,province,provin_id,city)VALUES('20003939','广东','44','深圳');
username是主键
当数据库中的数据已经是'20003939','广东','44','深圳'
就会报错
如果非主键任何一个值有改变，就不会报错，可以正常同步过去
报错内容
pid:1 nid:2 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.n

[2017-05-26 11:45] vincent0202 commented on #325
关闭数据一致性可以解决这个问题
但这应该是个bug

[2017-06-01 08:14] angelmm126 opened #326 "otter同步一条数据的insert 和update【insert与update时间间隔2秒】，从库数据只存在insert的数据，无update数据信息，求大神指点解决办法"
场景：
 一条数据在主库先执行了insert 操作，随后执行了update，时间间隔2秒，同步到从库后，只存在Insert的数据，无update的信息。
求大神指点解决办法~

[2017-06-01 12:24] angelmm126 opened #327 "pid:3 nid:1 exception:mainstem:pid:3 canal elapsed 5000 seconds no data这是什么原因导致的异常？"
异常：pid:3 nid:1 exception:mainstem:pid:3 canal elapsed 5000 seconds no data
同步正常，但是隔一段时间就会报此异常，求大神指点什么原因导致的，怎么解决？

[2017-06-02 01:33] qdql opened #328 "RDS数据同步稳定运行十几天，出现这种异常，如何排查"
pid:4 nid:1 exception:setl:java.lang.ClassCastException: com.alibaba.otter.canal.parse.inbound.AbstractEventParser$4 cannot be cast to com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser$MysqlDetectingTimeTask
    at com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser.stopHeartBeat(MysqlEventParser.java:186)
    at com.alibaba.otter.canal.parse.inbound.AbstractEventParser.stop(Ab

[2017-06-02 03:41] angelmm126 commented on #326
同步的表无主键

[2017-06-02 03:41] #326 closed

[2017-06-03 15:28] ojeo opened #329 "双向同步主A中新建表的中文注释到B库里变成乱码"
双向同步主A中新建表的中文注释到B库里变成乱码
数据库编码都为utf8
otter里所有配置编码都是utf8
表里的中文数据同步正常，不会乱码
只有新建表的字段注释及表注释会乱码
请  @agapple  问如何解决

[2017-06-07 03:40] angelmm126 commented on #171
pid:2 nid:1 exception:mainstem:pid:2 canal elapsed 115200 seconds no data，单向同步报此异常，求大神指点解决办法。
select与load  node是同一个，单向同步，偶尔会把报canal elapsed 50 seconds no data

[2017-06-08 01:53] tmriver commented on #329
新增表可以自动同步过去？求指教/文档/链接
我都是手动添加配置的

[2017-06-09 00:51] angelmm126 opened #330 "同步延迟特别大，同步8分钟左右，延迟6分半"
场景：需要同步的主库A（此库中仅有4张表，且只有一张表会不定时的批量插入一定数据，每个批次有几十条），在主库A的数据库上还存在另外两个数据库（这两个数据库为实时同步的从库，binlog生成特别快），同步主库A至其它数据库的从库B时，延迟特别大；

otter 配置如下：
channel:
同步方向：	单向
运行状态：	停止
同步一致性：	基于当前日志变更
同步模式：	列记录同步
是否开启数据一致性：	关闭

pipeline信息配置：
Select机器：	node_product;
Load机器：	node_product;
并行度：	8
数据反查线程数：	10
数据载入线程数：	15
文件载入线程数：	15
主站点：	false
同步数据来源：	Canal
Canal名字：	canal鹰眼社区
主道消费批次大小：	10000
获取批次数据超时时间：	-1
描述信息：
是否显示高级设置：

[2017-06-09 03:20] angelmm126 commented on #330
此问题为跨机房同步导致

[2017-06-09 03:21] #330 closed

[2017-06-09 09:03] lxshopping opened #331 "线上运行的mysql.怎么把老数据也同步进来？保证单向同步数据的一致性"
线上运行的mysql已经有100多G数据，首先将备份数据在异地服务器上还原，然后搭建了otter实现了实时同步，但是在备份数据导入的这段时间内otter并没有开始同步，请问这段时间内缺失的老数据怎么能够同步回来？

[2017-06-13 09:16] deanjin opened #333 "otter能支持json数据类型"
问下otter能支持json数据类型，我们导入的时候出现这个错误。

 Data truncation: Cannot create a JSON value from a string with CHARACTER SET 'binary'.; nested exception is com.mysql.jdbc.MysqlDataTruncation: Data truncation: Cannot create a JSON value from a string with CHARACTER SET 'binary'.
谢谢！

[2017-06-14 07:15] dzw1113 opened #334 "jtester-1.1.8.pom"
这个pom里的jmock版本错了，应该是0.999.10

[2017-06-21 06:44] Mount565 commented on #250
我也有这个问题

[2017-06-22 05:47] #313 closed

[2017-06-22 05:47] #314 closed

[2017-06-22 05:47] agapple commented on #316
FAQ里有写

[2017-06-22 05:48] agapple commented on #317
这块也有人给我反馈了，我近期会修复一下

[2017-06-22 05:48] agapple commented on #318
有些是运行时依赖的

[2017-06-22 05:49] agapple commented on #311
LS理解正确，otter是天生为跨机房同步设计的，S/E需要部署和源库尽可能的近，T/L部署离目标库尽可能的近

[2017-06-22 05:50] agapple commented on #310
重复的slaveId，看看mysql server对应的slave dump的链接是否还处于正常工作，如果不是kill一下

[2017-06-22 05:51] agapple commented on #320
这参数不是指数据库的链接池大小哦

[2017-06-22 05:52] agapple commented on #309
这块需要升级otter的mysql driver版本，目前是已知问题

[2017-06-22 05:53] agapple commented on #322
停用启用一下任务，应该是之前版本的bug，DDL变化时内存缓存未更新

[2017-06-22 05:56] agapple commented on #328
canal新版本已修复

[2017-06-22 05:57] agapple commented on #329
canal解析里的编码配置设置为utf8了么？

[2017-06-22 05:58] agapple commented on #331
历史数据需要先做一次全量

[2017-06-22 05:58] agapple commented on #333
需要升级mysql driver版本

[2017-06-22 06:58] dusonchen commented on #310
怎样看mysql server对应的slave dump的链接

[2017-06-22 08:44] Duntian opened #335 "otter如何配置utf8mb4"
由于项目中有特殊字符的要求，数据库的字符集为utf8mb4，
但是otter只能选择utf8.

这个是不支持吗？

[2017-06-23 09:49] dusonchen commented on #310
@agapple 通过使用processlist 查看Binlog Dump的进程，其它节点的都是恒定不变。但提示上面错误的那4个节点就会：有时显示，有时消失，同时只能出现2个。比较奇怪

[2017-06-24 08:40] bskllzh opened #336 "otter 底层表retl.retl_mark报锁超时"
在凌晨2：00到2：20数据库之间大批量数据同步的时候报错。报错信息如下：
2017-06-24 02:25:16.682 [DbLoadAction] WARN  com.alibaba.otter.node.etl.load.loader.db.DbLoadAction - ##load phase one failed!
java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.dao.CannotAcquireLockException: PreparedStatemen
tCallback; SQL [INSERT INTO retl.retl_mark (id, channel_id) VALUES (

[2017-06-26 03:01] bskllzh commented on #336
环境信息： 数据库是两套MYSQL 5.6.27，分别部署在同城不同机房。同步方式：双向同步。

[2017-06-28 05:02] yeweilg commented on #328
请问是什么版本修复的

[2017-06-28 09:13] handou opened #337 "如何保障传输时走加密通道"
请问如何保障binlog文件同步时走加密通道，比如sftp，或者说传输前对文件加密再传输，接受时先解密再处理文件内容？

[2017-06-29 15:03] jsrgqinbin commented on #328
@qdql 现在可以 RDS 同步到 自建库上了吗？

[2017-06-30 13:06] humphery755 opened #338 "otter-4.2.14(mysql-5.6) - 字段取值错位问题"
版本：otter-4.2.14
mysql：5.6.21 MySQL Community Server

mysql配置：开启binlog，其他的采用默认配置
- 同步方向：	单向
- 同步一致性：	基于当前日志变更
- 同步模式：	列记录同步
- 是否开启数据一致性：	开启
- 一致性算法：	单向回环补救
- 一致性反查数据库延迟阀值：	60

現象：从字段PY_NAME开始，columnValue的取值均錯一位，即PY_NAME字段的值取了SEX的值，SEX取了TEL字段的值,以此类推。

開啟dump后，日志如下：

`
---Pks
	EventColumn[index=0,columnType=4,columnName=USER_ID,columnValue=191315,isNull=false,isKey=true,isUpdate=true]
---oldPks

---C

[2017-07-03 03:05] heshangdaben opened #339 "现有连接被远程主机强行关闭"
开始同步的时候能正常运行，一段时间不会报错，运行了大概10个小时后，就会报existing connection was forcibly closed by the remote host，然后一直报Could not initialize class com.alibaba.otter.canal.common.utils.JsonUtils;
2017-07-01 07:28:54.445 INFO  c.a.otter.manager.biz.common.alarm.AbstractAlarmService - has sent alarm [AlarmMessage[message=pid:4 nid:1 exception:canal:citu_tdesk_canal:java.io.IOException: An existing connection was forcib

[2017-07-03 06:52] xuzengwei commented on #243
这个是连接池配置的问题，mysql服务器把长期不活动的db连接给杀掉了。

[2017-07-04 01:42] qdql commented on #328
可以的，已经在线上运行

[2017-07-05 03:06] lxshopping commented on #331
历史数据不能停止，否则业务有很大影响，在不停止的情况下怎么进行全量同步

[2017-07-05 03:44] swords1999 opened #340 "自由门怎么才能全表同步"
环境： otter、retl库、源库在一台服务器上。但是往retl_buffer表里面用插入记录，如：
insert into retl_buffer(TABLE_ID, FULL_NAME,TYPE,PK_DATA,GMT_CREATE,GMT_MODIFIED) values (0,'test.sales','I','id',now(),now());
但是没有触发全表同步，只能同步更改的那一行。看了所有的issues都没找到解决方法。
一定要把所有行都更新一下才可以吗？

[2017-07-09 18:59] luyee commented on #334
https://code.aliyun.com/alibaba/otter

[2017-07-10 03:33] luyee opened #341 "多个源 自由门有用嘛"
既然自由门 必须 otter、retl库、源库同一个server

多个源就不能用自由门全量同步了？ 多个源怎么做全量？

基于自定义位点全量可以嘛，比如配置自定义位点为第一个journalName的最小position：  {"journalName":"mysql-bin.000001","position":4};

[2017-07-11 08:14] luyee opened #342 "Data truncation: Incorrect datetime value: '0' for column 'notice_date' at row 1; nested exception is com.mysql.jdbc.MysqlDataTruncation: Data truncation: Incorrect datetime value: '0' for column 'notice_date' at row 1"
insert    语句挂起

Data truncation: Incorrect datetime value: '0' for column 'notice_date' at row 1; nested exception is com.mysql.jdbc.MysqlDataTruncation: Data truncation: Incorrect datetime value: '0' for column 'notice_date' at row 1

[2017-07-11 13:16] luyee commented on #296
这个v4.2.15 才支持 ？

[2017-07-13 07:51] dnfhujun opened #343 "otter做数据同步，中文乱码问题"
场景是这样的，
   A数据库版本5.0，存储引擎是MyISAM,默认编码是GBK
   B数据库版本5.6，存储引擎InnoDB,默认编码是UTF8

需要将A库中的表同步到B数据库，但是过去之后的中文发现是乱码的？有哪位大神可以解答下

[2017-07-14 06:29] luyee commented on #331
同问  怎么做全量好！ 全量[mysqldump(记录位点)+source]+otter 指定位点开始增量 可以不影响线上业务！ 但是数据量大了  source 花费时间太久

[2017-07-14 08:22] zhangxn51 commented on #156
求问，同步效率怎么调也上不去，由于搭建的环境有点复杂。
请教如何定位性能瓶颈

[2017-07-14 08:27] zhangxn51 opened #344 "新人求助，如何定位性能问题"
由于搭建的环境有点复杂。
为了达到速度要求调大了不少参数，但是测试起来并没有提速。
请教如何定位性能瓶颈！
物理环境为：
源库mysql
目的库，准备了两个oracle
一个本地一个异地，但是速度几乎一样。

软件配置如下：

Channel序号：
1

Channel名字：
mysql29-nmcatest

同步方向：
单向

运行状态：
运行

同步一致性：
基于当前日志变更

同步模式：
列记录同步

是否开启数据一致性：
关闭

1

Pipeline名字：
pipe1

Select机器：
mysql测试集群主节点;

Load机器：
mysql测试集群主节点;

并行度：
5

数据反查线程数：
10

数据载入线程数：
15

文件载入线程数：
15

主站点：
false

同步数据来源：
Canal

Canal名字：
canal_29

主道消费批次大小：
90000

[2017-07-14 08:29] zhangxn51 commented on #344
追加一下，底层服务 如zookeeper node等都是安装文档默认配置的，不清楚里面是否有影响速度的参数。
第一次接触otter，对底层理解不深，还请指教

[2017-07-14 10:17] humphery755 opened #345 "大量java.lang.InterruptedException: null异常，数据没有同步"
otter运行了一段时间后，就停止了同步，Channel状态也是running的 , 查看日志出现大量的InterruptedException，看不出哪里出了问题

2017-07-14 17:51:08.172 [pipelineId = 3,taskName = transformWorker] ERROR c.a.o.n.e.common.io.download.impl.aria2c.Aria2cRetriever - java.lang.InterruptedException
com.alibaba.otter.node.etl.common.io.download.exception.DataRetrieveException: java.lang.InterruptedException
Caused by: java.lang.InterruptedException:

[2017-07-14 10:35] humphery755 commented on #338
问题定位是数据字段变更时位置发生偏移导致，解决办法：按源库字段顺序重建表OK
Otter使用过程中需要注意的事项或约定：
1.只允许新增字段到末尾
2.字段新增先加目标库再加源库
3.双向同步，新增字段建议无默认值

[2017-07-14 10:35] #338 closed

[2017-07-17 10:23] ykzhu opened #346 "pid:xx nid:xx exception:canal:kano配置:java.io.IOException: Unexpected End Stream"
刚接触otter，按照文档说明配置两个表之间的同步，报错，求问原因

[2017-07-18 08:37] luyee opened #347 "Failed to execute screen: CanalList"
[code]
[code]
 在添加canal的时候， 有条没有name应该也成功了，暂时不知道为啥，不过可以确定canal 确实多了一条name为NULL的数据，
[code]

因为这条数据导致获取canal list报错，暂时没确定这条数据是如何通过后台(确定之前没有人为直接操作过数据库)插入的，

删除这条数据后就可以了

[2017-07-18 11:25] ykzhu opened #348 "otter支持从一个库表同步到分库分表吗？"
现在需要把一张很大的表拆成分库分表

[2017-07-18 11:54] luyee commented on #348
好像不行把,翻翻之前的issues，ddl必须保证库名表名同步。

[2017-07-20 06:34] EternalSpring opened #349 "MySQL5.5同步MySQL5.6"
请教下群主，双主模式，希望跨版本同步，不知道otter是否兼容？

[2017-07-21 03:28] swords1999 commented on #349
不兼容，有BUG，需要升级到1.0.24

[2017-07-21 06:23] fiendbaal opened #350 "You have an error in your SQL syntax请问这个问题是什么原因出现的啊？"
pid:16 nid:6 exception:setl:com.alibaba.otter.node.etl.load.exception.LoadException: java.util.concurrent.ExecutionException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: com.alibaba.otter.node.etl.load.exception.LoadException: org.springframework.jdbc.BadSqlGrammarException: PreparedStatementCallback; bad SQL grammar [update crm

[2017-07-22 09:35] nosix-me opened #351 "otter 4.2.14版本 同步数据启动后 MysqlConnection.java"
详情
关闭
pid:1 nid:1 exception:canal:test:java.lang.NullPointerException
at com.alibaba.otter.canal.parse.inbound.mysql.MysqlConnection.loadBinlogChecksum(MysqlConnection.java:284)
at com.alibaba.otter.canal.parse.inbound.mysql.MysqlConnection.dump(MysqlConnection.java:113)
at com.alibaba.otter.canal.parse.inbound.AbstractEventParser$3.run(AbstractEventParser.java:209)
at java.lang.Thread.run(Thread.

[2017-07-23 02:50] EternalSpring commented on #349
嗯嗯，感谢回答，想请教下具体的bug是什么？我看最新版本是嵌入canal 1.0.23，升级1.0.24是需要修改otter里面的canal模块？

[2017-07-25 08:52] wf2002 commented on #258
我之前配了一台centos，一台windows。otter都正常，后来配两台centos之间同步。结果什么错误都没有，就是数据无法同步。换了几个版本，都是同样的问题，防火墙也关闭了，不知道为什么？

[2017-07-25 09:07] wf2002 opened #352 "数据库无法同步"
最开始配了一台centos和windows，可以双主同步。
后来配置两台centos，却总是无法同步数据，把防火墙都关闭了，还是一样，不管单向，双向，都是显示都正常，就是数据库没有同步任何数据。
（这三台机器都是阿里云同一个区的）

[2017-07-26 07:42] caijie129 commented on #327
我也出现同样的问题   [pipelineId = 1 , CanalDetecting-0] WARN  c.a.o.s.a.i.setl.zookeeper.termin.WarningTerminProcess - nid:2[1:mainstem:pid:1 canal elapsed 16200 seconds no data]

[2017-07-26 09:25] 307545758 commented on #331
历史数据先做个热全备，同时记录下pos点信息，恢复到目标环境，然后将pos点信息写入到canal中，然后配置channel 开启同步！

[2017-07-26 09:27] 307545758 commented on #331
使用innobackupex

[2017-07-27 06:23] luyee commented on #331
多谢@307545758  先试试

[2017-07-27 08:45] swords1999 commented on #349
你直接把code拿下来编译就好了。

[2017-07-27 09:21] luoyaogui opened #353 "linux环境配置选择不同的版本"
由于linux系统内核参数配置（或者说部署环境）的不一样，
canal有两个版本一开始使用的socketChannel是JDK自带的，后期提交使用netty的channel替代。

不同的环境跑的效果是不一样的，所以建议：
先使用默认版本，即socketChannel使用JDK内置的，如果出现经常性断开的问题，那么再升级使用netty实现的socketChannel版本

[2017-07-27 09:24] #353 closed

[2017-07-27 14:14] zhuhuawu opened #354 "node无法启动"
Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'extractRpcEvent' defined in URL [jar:file:/home/ysod/software/node-osa/lib/shared.arbitrate-4.2.13.jar!/spring/otter-arbitrate-event.xml]: Instantiation of bean failed; nested exception is org.springframework.beans.BeanInstantiationException: Could not instantiate bean class [com.alibaba.otter.shared

[2017-07-30 13:28] yangshike opened #355 "canal"
大数据量的批量插入  类似select   into 的sql  （10w条记录），canal 报错：
pid:1 nid:2 exception:canal:canal_master:java.io.IOException: Read Q_FLAGS2_CODE error: limit excceed: 63
    at com.taobao.tddl.dbsync.binlog.event.QueryLogEvent.unpackVariables(QueryLogEvent.java:650)
    at com.taobao.tddl.dbsync.binlog.event.QueryLogEvent.(QueryLogEvent.java:477)
    at com.taobao.tddl.dbsync.binlog.LogDecoder.decode(LogDecod

[2017-07-31 02:46] Simonfld opened #356 "双A同步，怎样解决2个表之间自增ID主键冲突？"
双A同步，怎样解决2个表之间自增ID主键冲突？

[2017-08-02 06:24] yangh214 opened #357 "OTTER同步循环卡住的问题"
现在从MYSQL到ORACLE的同步，大批量的更新，时常会卡住，不停的刷新之前刷过的数据，有人解决这个bug么

[2017-08-02 07:26] #328 closed

[2017-08-02 07:28] agapple commented on #342
时间类型取值咋回取到是0值？

[2017-08-02 07:28] agapple commented on #342
数据库啥原始记录？

[2017-08-02 07:28] agapple commented on #296
恩，等一下，还没发布

[2017-08-02 07:30] agapple commented on #357
看一下FAQ，是否是监控位点更新处理的

[2017-08-02 07:31] agapple commented on #356
两边的自增ID，可以弄成奇偶数，也可以是1边用1亿一下的，另一边用1亿以上的，错开即可

[2017-08-02 07:31] agapple commented on #354
nid:24 in manager[192.168.4.243:1099]is not found!，找不到nid=24，页面上查查吧

[2017-08-02 07:32] agapple commented on #327
你源库一致没有变更数据？

[2017-08-02 07:33] yangh214 commented on #357
我是开了监控，那你意思是由于监控导致的？是不是关了监控就好？

[2017-08-02 07:34] zhuhuawu commented on #354
原因其实是node所在的服务器ping不通manager所在服务器

[2017-08-02 07:34] #354 closed

[2017-08-02 07:34] caijie129 commented on #327
有变更

发自网易邮箱大师
在2017年08月02日 15:33，agapple 写道：

你源库一致没有变更数据？

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-02 07:34] agapple commented on #341
每个源一个通道，每个源里单独处理全量

[2017-08-02 07:37] agapple commented on #337
看一下wiki，有加密处理的选项

[2017-08-02 07:37] agapple commented on #339
canal:citu_tdesk_canal:java.io.IOException: An existing connection was forcibly closed by the remote host

远端强制关闭了？

[2017-08-02 07:38] agapple commented on #340
是的，需要把所有行的id插入

[2017-08-02 07:39] agapple commented on #357
监控的原理是识别位点更新，如果超过10分钟还没更新，就会自动重启任务.  因为大事务，10分钟之内还没同步完(位点更新是以事务结束才更新)

[2017-08-02 07:39] agapple commented on #357
解决：1.  避免超大事务  2.  调大位点监控时间，保证时间内能处理完大数据的同步

[2017-08-02 07:40] agapple commented on #335
新版本可以选utf8mb4

[2017-08-02 07:40] agapple commented on #336
一个mysql上配置了多个同步任务么？

[2017-08-02 08:23] Simonfld commented on #356
@agapple  用1亿这方案不行，我们的业务一下子就超过1亿了，就是说otter针对主键冲突大的情况支持的不够好 是吧。

[2017-08-02 08:42] yangh214 commented on #357
把监控暂时关了好一些，谢谢

[2017-08-02 08:42] #357 closed

[2017-08-02 09:45] JerryChin commented on #356
我们是用GUID作为主键，基本不用考虑主键冲突问题。

[2017-08-02 15:18] luyee commented on #341
binlog 文件不保存全部，所以全量暂时用mysqldump+mysql命令行导入，但是速度较慢；几千万还好，上亿起码几个小时吧。。。  准备测试下innobackupex。。。其他工具似乎不能很好滴支持position位点 +线上业务更新。。。

[2017-08-03 01:29] caijie129 opened #358 "com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser$MysqlDetectingTimeTask"
pid:1 nid:2 exception:setl:java.lang.ClassCastException: com.alibaba.otter.canal.parse.inbound.AbstractEventParser$4 cannot be cast to com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser$MysqlDetectingTimeTask
at com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser.stopHeartBeat(MysqlEventParser.java:186)
at com.alibaba.otter.canal.parse.inbound.AbstractEventParser.stop(AbstractEv

[2017-08-06 08:05] bskllzh commented on #336
我配置了链式同步的。比如：    B  <->  A  <-> C。在A库上有两个同步任务，即要同步到B，也要同步到C。后边我调整了库的锁超时时间，没有出现问题了

[2017-08-07 03:16] swords1999 opened #359 "OTTER同步报错TODO HINT"
pid:3 nid:4 exception:setl:com.alibaba.druid.sql.parser.ParserException: TODO HINT
at com.alibaba.druid.sql.parser.SQLStatementParser.parseStatementList(SQLStatementParser.java:322)
at com.alibaba.druid.sql.parser.SQLStatementParser.parseStatement(SQLStatementParser.java:2036)
at com.alibaba.otter.node.etl.common.db.utils.DdlUtils.convert(DdlUtils.java:31)
at com.alibaba.otter.node.etl.transform.t

[2017-08-07 03:16] swords1999 commented on #340
好的，多谢。

[2017-08-07 03:16] #340 closed

[2017-08-07 07:00] dnfhujun opened #360 "otter数据同步报错"
otter做数据单向同步报错，异常信息如下：
pid:7 nid:2 exception:canal:zhenai_crm_member:com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.googlecode.aviator.exception.ExpressionRuntimeException: Execute expression

[2017-08-07 12:23] blademainer commented on #356
用机房特征去生成主键就行了，例如，A机房只生成A1234567，B机房只生成B1234567

[2017-08-08 08:14] Simonfld opened #361 "怎样配置域名访问otter manager管理后台？？"
我nginx配置域名 otter.admin.my.com
upstream
192.168.1.100:8080
192.168.1.101:8080

用otter.admin.my.com访问，能打开页面，然后点击登录时，地址栏跳转到
http://192.168.1.101:8080/?action=userAction&eventSubmitDoLogout=true

这是什么情况啊？？  怎样配置能解决域名访问

[2017-08-09 03:10] dnfhujun commented on #360
这个问题找到了，是因为需要同步的分表的数量太大了，改成多个canal同步，每个canal同步一部分分表就可以了，建议是不是可以把可以同步的表的数量改大点

[2017-08-09 06:28] YcJu opened #362 "出现数据丢失的情况。"
环境：otter-4.2.12，node-4.2.12，mysql-5.7.15

场景描述：生产环境上的otter一直在用，从未发现有数据丢失，以前都是单向的 (一个channel 对应 一个pipeline，对应一个canal，对应多个表映射关系 )；
在有一次数据库机器挂了后，重搭了channel，因为需要同步的数据需要来自于两个数据源，所以重搭的时候就搭了个双向的(即一个channel，两个pipeline 分别对应自己的canal, 内部有表映射关系 )。

问题描述：在重搭一周后左右，就发现了数据丢失的情况，源库的updae语句有三条没有在目标库执行。

[2017-08-09 08:18] swords1999 commented on #359
发现是临时表就报这个错误，canal版本1.0.24。
忽略临时表同步还是有别的方法呢？

[2017-08-10 01:57] a534432302 commented on #177
最后怎么解决的这个问题？

[2017-08-10 03:30] angelmm126 opened #363 "MysqlDetectingTimeTask异常导致同步停止"
异常日志：
pid:1 nid:1 exception:setl:java.lang.ClassCastException: com.alibaba.otter.canal.parse.inbound.AbstractEventParser$4 cannot be cast to com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser$MysqlDetectingTimeTask
    at com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser.stopHeartBeat(MysqlEventParser.java:186)
    at com.alibaba.otter.canal.parse.inbound.AbstractEventParser.s

[2017-08-14 03:43] Simonfld opened #364 "canal_list.htm canal列表页面打开奇慢，这个是什么原因？"
怎么解决？

[2017-08-14 03:47] cloud-git commented on #327
@caijie129 你好，能详细描述下问题，和解决方法吗

[2017-08-15 02:48] wl198972 opened #365 "数据表使用正则匹配时同步不起做用，求解"
序号 | 源表 | 目标表 | 权重 | FileSize | FileCount | DeleteCount | UpdateCount | InsertCount | 最后同步时间 | 操作
8 | modb_bl.^(bns_).*$ | modb_bl_t.^(bns_).*$ | 5 | 0 B | 0 | 0 | 0 | 0 |   | 查看 行为曲线

[2017-08-17 02:42] luyee commented on #365
先看下表能不能出来吧 数据表-->编辑-->查询Schema&Table

[2017-08-17 02:51] pdj408 opened #366 "如果canal出现重复订阅数据时，otter会不会也进行重复消费。"
如果canal出现重复订阅数据时，otter会不会也进行重复消费。

[2017-08-17 03:15] wl198972 commented on #365
可以查到，但是开启同步的时候不成功，没有数据

[2017-08-18 07:11] pdj408 opened #367 "KILL DUMP 12375013 failure:java.io.IOException: ErrorPacket"
pid:1 nid:1 exception:canal:otter_canal:java.io.IOException: KILL DUMP 12375013 failure:java.io.IOException: ErrorPacket [errorNumber=1094, fieldCount=-1, message=Unknown thread id: 12375013, sqlState=HY000, sqlStateMarker=#]
with command: KILL CONNECTION 12375013
    at com.alibaba.otter.canal.parse.driver.mysql.MysqlUpdateExecutor.update(MysqlUpdateExecutor.java:49)
    at com.alibaba.otter.cana

[2017-08-18 07:12] pdj408 commented on #367
刚开始没有出现这个问题，然后我停止Channel后，再重新启动就报这个错。。找了半天没找到原因。有谁短简什么原因导致的么？？

[2017-08-18 08:17] pdj408 commented on #327
同求原因。

[2017-08-21 01:33] JerryChin commented on #193
@imlazyone it works for me, but not sure if there are any pitfalls.

[2017-08-21 02:33] Simonfld opened #368 "单向同步延迟最慢2s，正常吗？"
上海机房到北京机房，　各部署６个node节点，延迟最慢到2s了，是不是有点慢？   比主从同步还慢。。，  上海到北京网络延迟30ms左右，用otter有些库到2s

[2017-08-22 06:38] liumouwna commented on #201
@luoyaogui  三、执行 insert into retl.retl_buffer(ID,TABLE_ID, FULL_NAME,TYPE,PK_DATA,GMT_CREATE,GMT_MODIFIED) (select null,0,'数据库名称.表名称','U',主键名称,now(),now() from 数据库名称.表名称);
这样子插入的行都是一样的除了retl.retl_buffer的ID列呀。

[2017-08-22 11:07] cloud-git commented on #327
目前定位到stop channel之后，CanalDetecting-0线程还在，这个线程并没有退出导致的。
但是scheduler.shutdownNow()执行后，为什么CanalDetecting-0线程还在？

[2017-08-22 15:32] 2207085293 commented on #308
这个是如何实现的呢

[2017-08-22 15:36] 2207085293 commented on #308
我配置了多个channel，每个channel两个 Pipeline，在第二个channel的pipeline时提示：canal已经被其他pipeline所关联

[2017-08-24 07:32] luyee commented on #331
innobackupex 到单个表 还是挺麻烦的 [Transporting tablespace from MySQL 5.6 to MySQL 5.7 (case study)](https://www.percona.com/blog/2015/12/01/how-to-transport-tablespace-from-mysql-5-6-to-mysql-5-7/)

[2017-08-24 13:35] vzong opened #369 "otter是是否可以提供相关配置API？"
otter是否可以提供配置相关的API？每次配置都需要添加channel，canal，数据源，table，Pipeline，映射关系列表等一系列的步骤，手动点网页效率太低了，尤其在大规模应用的时候效率低下。
目前我这边就有一个需求，填写源头和目的端，自动化配置好复制关系。
看了下源码，配置的过程不是简单的SQL插入，还有一些node通信调用，所以不能指望Insert相关配置数据就能解决。如果使用HTTP POST的手段，则会被CheckCsrfTokenValve给挡掉返回500错误。
请问能提否提供相应的API，谢谢！

[2017-08-30 03:50] heshangdaben commented on #339
数据库重启或者服务关闭以后一直报Could not initialize class com.alibaba.otter.canal.common.utils.JsonUtils数据就不一致了，怎么处理才能保证数据一致？

[2017-08-30 13:40] Win-Man commented on #177
同样遇到了这个问题，希望能有人解答一下。
错误信息如下：
[code]
但是ip能ping通，zookeeper的2181端口也通过telnet能通，求指教。

[2017-08-30 18:24] luyee commented on #331
持续更新[debezium](https://github.com/debezium/debezium)可以支持全量+增量
原理[MySQL snapshotter is not guaranteed to give a consistent snapshot](https://issues.jboss.org/projects/DBZ/issues/DBZ-210?filter=allopenissues)

[2017-08-31 05:22] wl198972 commented on #365
自己顶一下吧...

[2017-09-06 17:30] xanthus-tan opened #371 "otter对MySQL 5.7 支持的怎么样？"

[2017-09-07 01:53] wenjunli commented on #368
otter实质就是一个主从同步吧

[2017-09-07 06:00] luyee opened #372 "同源不同库名同表名同表结构TO同一个目标源同库名不同表名同表结构"
数据源A有两个库a,b（都有数据表test_x,test_y,test_z），两个库之间相同表名的表结构完全一致,   目标源一个库车c( 有表名test_x,test_y,test_z，b_test_x,b_test_y,b_test_z，对应到a.b两个库刚好6个表)  test_x 与b_test，test_y与b_test_y,test_z与b_test_z的表结构一致

单向同步, 配置了两个channel:
一个channel，对应一个pipeline，对应一个独立的canal（server a），一个映射关系
即想让serverA上a.xxx的数据同步至server B 上c.xxx，让serverA上b.xxx的数据同步至server B 上c.b_xxx,

<font color=red>最终结果发现serverA上a.xxx,  b.xxx两个库的数据都同步至serv

[2017-09-08 06:26] mystm opened #373 "channel每次重启后都会挂起，且报错都完全一样的错误"
现在有个问题，如果我刚开始启用channel时，源表A与目标表A结构不一致，通过手工修改目标库A后，可以正常同步
现在如果停用channel，再启用，还会报2个表结构不一致，仍然修改目标表A结构才能正常同步

比如2天后，我再次停用channel再启用，仍然会报这个错，不知道是不是bug，otter用的是4.2.11

[2017-09-08 07:35] xiaoqiang2209 commented on #183
请教，需要装什么包，遇到同样的问题

[2017-09-08 08:19] mystm commented on #373
这个帖子可以先删掉了，谢谢

[2017-09-12 03:22] YEWEI1992 opened #374 "otter有没有支持utf8mb4字符集的，我的程序需要支持"
今天正式环境上面传输了一个utf8mb4的表情字符集，导致整个otter环境挂掉了

[2017-09-12 09:44] heshangdaben opened #375 "为什么同步进度那里 position 状态 :无信息"
现在是一个数据库服务，分了6个数据库，分别向不同的服务器传输数据。对每一个服务器单独建立了一个canal，现在启动多了channel，就报错：
pid:9 nid:1 exception:canal:tdesk_test_canal:java.lang.NoClassDefFoundError: Could not initialize class com.alibaba.otter.canal.common.utils.JsonUtils
    at com.alibaba.otter.canal.parse.inbound.mysql.MysqlEventParser.findStartPositionInternal(MysqlEventParser.java:415)
    at com.alibaba.otter.canal.parse.inbound.mysql.Mysql

[2017-09-13 06:36] heshangdaben commented on #260
@LWT1118 怎么设置的。我也遇到一样的问题，求教！！！

[2017-09-16 09:02] LWT1118 commented on #260
@heshangdaben 如果不同表之间的主外键约束可以根据设置权重来解决，如果是单表的主外键约束，除非去掉物理约束，不然没办法解决。

[2017-09-18 01:26] qdql commented on #362
我们生产环境也出现相同的情况，概率比你的还高些

[2017-09-18 03:51] dacowyoung opened #376 "canal"

[2017-09-18 03:52] dacowyoung opened #377 "canal otter不支持jdk1.8 的环境么"
2017-09-13 10:06:06.793 [destination = example , address = /192.168.2.120:3306 , EventParser] ERROR c.a.otter.canal.parse.inbound.mysql.MysqlEventParser - dump address 192.168.2.120/192.168.2.120:3306 has an error, retrying. caused by
com.alibaba.otter.canal.parse.exception.CanalParseException: com.alibaba.otter.canal.parse.exception.CanalParseException: parse row data failed.
Caused by: com.aliba

[2017-09-18 03:53] #376 closed

[2017-09-18 09:02] luyee commented on #377
线上用的 java version "1.8.0_111"

[2017-09-18 09:03] YcJu commented on #362
我们这基本都是UPDATE 类型的SQL 丢失的情况，日志也不报错，毫无征兆就没了。。  也是心有余悸

[2017-09-19 06:41] slieer opened #378 "第三方包有些旧了，有升级计划吗?"
spring， jetty, guava的版本，可以说都是老掉牙了。
还引用了以下库：
http://jtester.googlecode.com/svn/m2
google code 不是停了好多年了吗？
要不，把我加进来吧！

[2017-09-21 01:57] luyee opened #379 "db不可用，任务也不会挂起？"
有台db挂了，channel没挂起，日志有
`
pid:21 nid:1 exception:canal:aaaaa:com.alibaba.otter.canal.parse.exception.CanalParseException: java.io.IOException: connect /xxx.xxx.xxx.xxx:3306 failure:java.net.NoRouteToHostException: No route to host
`

[2017-09-21 05:22] aiaix opened #380 "otter运行过程中，隔一段时间就报错节点2088端口未启动，请帮忙分析下"
otter运行过程中，隔一段时间就报错节点2088端口未启动，同步全部挂起，需要杀掉NODE进程重启才可以解决，出现过好几次了
MYSQL 5.6.26          otter  4.2.12

NODE.LOG如下

2017-09-21 04:21:11.875 [dubbo-remoting-client-heartbeat-thread-2] WARN  c.a.dubbo.remoting.exchange.support.header.Heart
BeatTask -  [DUBBO] Close channel HeaderExchangeClient [channel=com.alibaba.dubbo.remoting.transport.netty.NettyClient [/
192.168.14.33:48490 -> /192.168.66.139:1099

[2017-09-23 03:12] agapple commented on #379
No route to host，整个任务会处于定位中

[2017-09-23 03:13] agapple commented on #378
你可以提交一下优化的PR

[2017-09-23 03:14] agapple commented on #362
是丢失还是数据因为双向同步而被覆盖？

[2017-09-23 03:15] agapple commented on #377
Caused by: java.lang.NullPointerException
at com.alibaba.otter.canal.parse.inbound.mysql.dbsync.TableMetaCache.parserTableMeta(TableMetaCache.java:123)
应该和JDK关系不大，otter/canal多少版本？

[2017-09-23 03:16] agapple commented on #375
Could not initialize class com.alibaba.otter.canal.common.utils.JsonUtils

改动过代码？

[2017-09-23 03:16] agapple commented on #374
最新版本支持utf8mb4

[2017-09-23 03:16] #373 closed

[2017-09-23 03:24] qdql commented on #362
我们的环境是单项同步，是直接丢失UPDATE 类型的SQL

[2017-09-23 03:30] agapple commented on #361
otter.properties里domainName改成域名

[2017-09-23 03:31] agapple commented on #360
或者同步的表使用正则来减少数量

[2017-09-23 03:31] agapple commented on #359
可以在canal的黑名单里过滤一下临时变，不解析到otter中处理

[2017-09-23 03:32] agapple commented on #363
低版本bug，当前master已经修复

[2017-09-23 03:32] agapple commented on #366
otter会有重复数据幂等处理

[2017-09-23 03:34] agapple commented on #362
同步是以binlog row记录，要看一下你对应SQL的更新在binlog里具体记录的是啥

[2017-09-23 03:39] qdql commented on #362
用的是RDS间的同步，正常情况应该是记录update语句

[2017-09-25 01:22] YcJu commented on #362
不是覆盖，应该就是丢失，otter同步是拿一个postion去同步的吗？我看到的丢失的那个语句在一个position中，这个position中有很多SQL，但唯独这一条没有同步过去。

[2017-09-25 05:29] aiaix commented on #380
@agapple

[2017-09-26 02:07] heshangdaben commented on #375
没改过代码啊

[2017-09-26 03:24] welyss opened #381 "管理页面zookeeper管理项点刷新报空指针"
Caused by: com.alibaba.citrus.service.moduleloader.ModuleEventException: Failed to execute handler: public void com.alibaba.otter.manager.web.home.module.action.AutoKeeperClusterAction.doRefresh(java.lang.Long,com.alibaba.citrus.turbine.Navigator) throws java.lang.Exception
        at com.alibaba.citrus.service.moduleloader.impl.adapter.AbstractModuleEventAdapter.executeAndReturn(AbstractModuleEve

[2017-09-26 04:55] welyss opened #382 "问下，otter支持整库同步吗"
Table规则配的正则：.*
create和drop语句会报：
pid:1 nid:1 exception:setl:com.alibaba.otter.node.etl.transform.exception.TransformException: no support ddl for [hb.tee] to [hb2.tee] , sql :DROP TABLE `tee` /* generated by server */.

[2017-09-26 06:27] heshangdaben commented on #375
找到原因是这个mainstem is not run any in node。没有位点信息，能正常同步，zookeeper的问题吗？

[2017-09-26 07:43] angelmm126 commented on #363
我用的版本是4.2.13，是不是改成4.2.14就可以了，替换版本需要注意哪些？

[2017-09-26 07:52] swords1999 commented on #382
支持的，但是要库名表名一致。

[2017-09-26 09:22] zhumt opened #383 "单向同步，同一个任务中配了17个表，其中有两个表无法同步"
单向同步，同一个任务中配了17个表，其中有两个表无法同步，有谁遇到这种问题吗

[2017-09-28 02:17] zhumt commented on #365
请问有解决了吗，我也是配了十几张表有一张同步不了

[2017-09-28 02:25] wl198972 commented on #365
还没有，单表配置的，没有使用正则，300多张表....

[2017-09-28 09:44] itsuifeng opened #384 "请教一下otter你是数据迁移的原理是怎样的"
在某个节点中向buffer表插入数据达到历史数据迁移效果，其原理是怎样的，otter也是通过解析binlog还是直接抽取目标表？

[2017-09-28 10:29] luyee commented on #382
同表明同库名

[2017-09-29 12:53] itsuifeng opened #385 "MySQL历史数据迁移，在Node端执行自由门，根据MySQL的binlog记录方式，无真实数据修改，不记录binlog事件，导致数据不能load到目标Node"
部署结构： 星型部署方式
Manager单端部署，另外三个节点 Node1、Node2、Node_Center，由于Node1、Node2网络不通，必须通过Node_Center节点中转，达到Node1、Node2数据双向同步效果；

情况说明：
1、若同步以理想情况进行，那么Node_Center具有Node1、Node2 同步的所有数据；
2、若因其它（不可控）因素，造成Node1中缺少Node2节点的数据（但Node_Center有），在Node2执行自由门（人工数据订正）那么订正的数据到达Node_Center后，将执行MySQL merge语法，由于Node2、Node_Center的订正数据完全一致，Merge后，在Node_Center节点将不会记录binlog事件，因此该记录无法继续同步到Node1,；
3、针对2描述的情况，可以在Node_Center继续执行人工数据订正

[2017-09-30 15:29] agapple commented on #382
最新版支持库名不同了

[2017-09-30 15:29] agapple commented on #384
解析binlog反查源库

[2017-09-30 15:32] agapple commented on #362
position中的sql？mysql5.6的 row sql?

一般otter同步都是基于mysql的row复制的，对应row的内容和SQL文本里的内容不一定是完全相同的，分析mysql row啊而不是简单的SQL

[2017-10-05 04:06] swift1911 opened #386 "在未开启DDL同步的DB上面做DDL操作被循环执行"
A库开启了DDL同步，B库未开启DDL同步，在B库中新建一个表，在B库中删除这个表，重启otter发现以下的错误日志，似乎一直在往A库同步，错误日志如下：

caused by: com.alibaba.otter.canal.parse.exception.CanalParseException: fetch failed by table meta:`frc`.`host_service`
Caused by: java.io.IOException: ErrorPacket [errorNumber=1146, fieldCount=-1, message=Table 'frc.host_service' doesn't exist, sqlState=42S02, sqlStateMarker=#]
 with command: desc `frc`.`host_service`

[2017-10-09 02:06] YcJu commented on #362
我们用的是row模式的binlog，我的意思是binlog中的一个postion的开始和其对应的结束位置应该是代表一个事务的执行，otter同步的过程中缺失了该事务中的某一个SQL。